<h1>New Blog</h1>

<%= form_with model: @blog do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.cktext_area :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.cktext_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>