








<section class="section white intro lazy-image is_english" data-animate="" data-snap="local-variable" data-target="page.section" data-theme="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);" data-was-processed="true">
<div class="section-content" data-country="NO" data-emeanonorway="false" data-norway="true" data-target="page.countryHelper">
<picture>
<source data-srcset="/packs/media/images/home/intro_img-mobile-fe86bba4c4c351490405958ab3317cf5.webp" style="height:1251;width:1556" type="image/webp">
<source data-srcset="/packs/media/images/home/intro_img-mobile-8f18f9124f95b4735f07f18be5ce8dc7.png" style="height:1251;width:1556" type="image/png">
<img style="height:1251;width:1556" class="mobile-image lazy-image" alt="Startup Development House team" data-src="/packs/media/images/home/intro_img-mobile-8f18f9124f95b4735f07f18be5ce8dc7.png" src="">
</picture>
<div class="row">
<div class="col-xs-24 col-md-12 col-lg-12">
<div class="content">
<h1 class="content__title">
We solve 99% of startups' problems
</h1>
<p class="content__description">
We ❤️ building and designing digital products in a startup way.
</p>
<div class="content__button-wrapper">
<a class="arrow-button  lets-talk" href="/en/contact" id="home-lets-talk" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let’s talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="desktop-image">
<%= image_tag("rocket.svg") %>
</div>
</section>



    <section class="section partner-awards no-padding" data-target="page.section" data-theme="lightGray">
      <div class="partner-awards__container">
        <div class="section-content">
          <div class="partner-awards__wrapper">
            <div class="partner">
              <p class="partner-awards__text" data-target="page.loadOnScroll">Preferred partner by: </p>
              <div class="partner__logo lazy-image" data-target="page.loadOnScroll" alt="Startup Grind logo">  
                  <%= image_tag("start_up.svg") %>
              </div>
            </div>
            <div class="awards">
              <p class="partner-awards__text" data-target="page.loadOnScroll">Awarded by: </p>
              <div class="awards__logos">
                <div class="awards__logo lazy-image" data-target="page.loadOnScroll" alt="Europe’s Fastest Growing Companies by Financial Times">
                  <%= image_tag("financial_times.png")%>
                </div>
                <div class="awards__logo lazy-image" data-target="page.loadOnScroll" alt="Top 100 Companies - Fastest Growth for 2022 by Clutch">
                    <%= image_tag("clutch.png") %>
                </div>
              </div>
            </div>
            <div class="nps">
              <div class="nps__logo lazy-image"  data-target="page.loadOnScroll" alt="no image">
               <%= image_tag("cup.svg") %>
              </div>
              <p class="nps__text" data-target="page.loadOnScroll">Our NPS score in _3 2022 </p>
              <div class="nps__score-box" data-target="page.loadOnScroll">
                <p class="nps__score-text" data-target="page.loadOnScroll">83 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="services-section section no-padding" data-controller="services" data-target="page.section" data-theme="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
<div class="services-section__container">
<div class="section-content">
<div>
<p class="subheading scroll-transition" data-target="page.loadOnScroll">Who are we?</p>
<h2 class="heading scroll-transition" data-target="page.loadOnScroll">We are an end-to-end custom product development company.</h2>
</div>
<div class="services-section__main">
<div class="services-section__content">
<div class="content__wrapper">
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="product-workshops">
<h2 class="content__heading">Product Discovery Process</h2>
<p class="content__paragraph">Do you have an idea of a product or service and want to bring it to life? We can provide you with a full custom software development starting with a series of Design Thinking workshops. We will define with you a detailed roadmap, refine the value proposition delivery, and design a clickable prototype that will let you test your concept. </p>
<a class="arrow-button  button-desktop" href="/en/services/workshops-and-prototyping" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="user-testing">
<h2 class="content__heading">User Testing</h2>
<p class="content__paragraph">There’s nothing worse than building on wrong assumptions, so before product development, we will help you quickly validate your concept. By preparing user interviews to verify your personas and usability testing to improve the UX of your products our team will increase your chance of success on the market. </p>
<a class="arrow-button  button-desktop" href="/en/services/user-testing" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="product-design">
<h2 class="content__heading">Product Design</h2>
<p class="content__paragraph">A tailor-made approach to bring visual value to your project. Our teams of strategists and UX/UI designers are always ready to create stunning interfaces and branding from scratch for new custom products or to provide UX and UI design for existing apps. </p>
<a class="arrow-button  button-desktop" href="/en/services/design" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy is-active scroll-transition" data-service="web-development">
<h2 class="content__heading">Web Development</h2>
<p class="content__paragraph">We started as a custom software development company. Our developers excel at both frontend and backend sides using the latest technologies and best practices. Together with product managers and quality assurance specialists, they deliver the end-to-end product for you. </p>
<a class="arrow-button  button-desktop" href="/en/services/web-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="mobile-development">
<h2 class="content__heading">Mobile Development</h2>
<p class="content__paragraph">We build apps for iOS and Android devices using both native languages and cross-platform alternatives. We cover the custom software development by making sure the applications work smoothly on most used devices. </p>
<a class="arrow-button  button-desktop" href="/en/services/mobile-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="mvp-development">
<h2 class="content__heading">MVP Development</h2>
<p class="content__paragraph">Ready to get your product up and running? We’ve got your back all the way - from choosing the adequate scope for the first release and deciding on the technology, through project management and product ownership, up to the roll-out. </p>
<a class="arrow-button  button-desktop" href="/en/services/mvp-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<div data-target="page.loadOnScroll" class="content__copy scroll-transition" data-service="scrum-team">
<h2 class="content__heading">Scrum Team Augmentation</h2>
<p class="content__paragraph">Once your MVP has been built, it’s time for maintenance and set up of a product development roadmap to keep on growing. We’ll make sure there are no bugs and develop your custom product to its full potential. We can deploy a dedicated Scrum Team for you, on-demand! </p>
<a class="arrow-button  button-desktop" href="/en/services/scrum-team-augmentation" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
</div>
<div class="services-section__cards">
<div class="services-section__card scroll-transition" data-service="product-workshops" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("workshops-3b014831cffc0682d37a623adb6c751e.svg", class: "card__image") %>
<h2 class="card__title">Product Discovery Process</h2>
</div>
<div class="card__content">
<p class="card__text">Do you have an idea of a product or service and want to bring it to life? We can provide you with a full custom software development starting with a series of Design Thinking workshops. We will define with you a detailed roadmap, refine the value proposition delivery, and design a clickable prototype that will let you test your concept.</p>
<a class="arrow-button  button-mobile" href="/en/services/workshops-and-prototyping" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card scroll-transition" data-service="user-testing" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("user-testing-eb7a5c54e6aeb336236b4fd82c7362d7.svg", class: "card__image") %>

<h2 class="card__title">User Testing</h2>
</div>
<div class="card__content">
<p class="card__text">There’s nothing worse than building on wrong assumptions, so before product development, we will help you quickly validate your concept. By preparing user interviews to verify your personas and usability testing to improve the UX of your products our team will increase your chance of success on the market.</p>
<a class="arrow-button  button-mobile" href="/en/services/user-testing" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card scroll-transition" data-service="product-design" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("product-design-50bd01e8426a80c9860dd4b4e10efd34.svg", class: "card__image") %>
<h2 class="card__title">Product Design</h2>
</div>
<div class="card__content">
<p class="card__text">A tailor-made approach to bring visual value to your project. Our teams of strategists and UX/UI designers are always ready to create stunning interfaces and branding from scratch for new custom products or to provide UX and UI design for existing apps.</p>
<a class="arrow-button  button-mobile" href="/en/services/design" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card is-active scroll-transition" data-service="web-development" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("web-development-60a7da2bc79c42d2249bc509cf1deb36.svg", class: "card__image") %>
<h2 class="card__title">Web Development</h2>
</div>
<div class="card__content">
<p class="card__text">We started as a custom software development company. Our developers excel at both frontend and backend sides using the latest technologies and best practices. Together with product managers and quality assurance specialists, they deliver the end-to-end product for you.</p>
<a class="arrow-button  button-mobile" href="/en/services/web-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card scroll-transition" data-service="mobile-development" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("mobile-development-6d57b06938f087c4d9d3f9056e84d10b.svg", class: "card__image") %>

<h2 class="card__title">Mobile Development</h2>
</div>
<div class="card__content">
<p class="card__text">We build apps for iOS and Android devices using both native languages and cross-platform alternatives. We cover the custom software development by making sure the applications work smoothly on most used devices.</p>
<a class="arrow-button  button-mobile" href="/en/services/mobile-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card scroll-transition" data-service="mvp-development" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("mvp-development-4e93e3c0cac5a3c912e00b1385852cd6.svg", class: "card__image") %>

<h2 class="card__title">MVP Development</h2>
</div>
<div class="card__content">
<p class="card__text">Ready to get your product up and running? We’ve got your back all the way - from choosing the adequate scope for the first release and deciding on the technology, through project management and product ownership, up to the roll-out.</p>
<a class="arrow-button  button-mobile" href="/en/services/mvp-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="services-section__card scroll-transition" data-service="scrum-team" data-target="page.loadOnScroll">
<div class="card__header">
<%= image_tag("scrum-team-130cbf0ed907838d65c46d2e3dcbb430.svg", class: "card__image") %>

<h2 class="card__title">Scrum Team Augmentation</h2>
</div>
<div class="card__content">
<p class="card__text">Once your MVP has been built, it’s time for maintenance and set up of a product development roadmap to keep on growing. We’ll make sure there are no bugs and develop your custom product to its full potential. We can deploy a dedicated Scrum Team for you, on-demand!</p>
<a class="arrow-button  button-mobile" href="/en/services/scrum-team-augmentation" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Read more
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<img data-target="page.loadOnScroll" class="decor scroll-transition" src="/packs/media/images/services/services-decor-77b09de630ee754c5b5018438167ced5.svg" alt="">
</section>




<section class="how-we-can-help section no-padding" data-controller="howWeCanHelp" data-target="page.section" data-theme="color" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
<div class="how-we-can-help__container">
<div class="section-content">
<div class="how-we-can-help__header">
<p class="subheading scroll-transition" data-target="page.loadOnScroll">More than custom software development</p>
<h2 class="heading scroll-transition" data-target="page.loadOnScroll">How can we help your product?</h2>
</div>
<div class="how-we-can-help__wrapper">
<div class="how-we-can-help__cards">
<div class="card is-active" data-section="startup-mvps" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
<div class="card__header scroll-transition" data-target="page.loadOnScroll">
<h3 class="card__header-title">Pre-seed</h3>
<img src="-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" width="14" height="9" alt="">
</div>
<div class="card__content">
<p class="content-text">Designed for early-stage startups. Break down your creative blocks, clarify reality, and define a sound business concept loaded with MVP potential.</p>
<ul class="content-list">
<li>Product Discovery</li>
<li>Idea Validation</li>
<li>Prototyping</li>
<li>User Testing</li>
<li>Early Go-to-market</li>
</ul>
<a class="button card__button" href="/en/contact">
<span class="text">Let's talk</span>
<span>
<img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
</span>
</a>
</div>
</div>
<div class="card" data-section="agile-team" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
<div class="card__header scroll-transition" data-target="page.loadOnScroll">
<h3 class="card__header-title">Seed</h3>
<%= image_tag("chevron.svg", class: "contact-box__image") %>
</div>
<div class="card__content">
<p class="content-text">Created to guide seed startups through design, development and go-to-market decisions for your product. Develop products smarter and faster and jump to your next funding round.</p>
<ul class="content-list">
<li>MVP / Rapid MVP</li>
<li>Product Discovery</li>
<li>Team Augmentation</li>
<li>User Testing</li>
<li>Go-to-market</li>
</ul>
<a class="button card__button" href="/en/contact">
<span class="text">Let's talk</span>
<span>
<img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
</span>
</a>
</div>
</div>
<div class="card" data-section="digital-transformation" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
<div class="card__header scroll-transition" data-target="page.loadOnScroll">
<h3 class="card__header-title">Series A+</h3>
<img src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" width="14" height="9" alt="">
</div>
<div class="card__content">
<p class="content-text">Made for scale-ups that have an established product-market fit and want to build 10x better products. Find new growth opportunities and understand your users better.</p>
<ul class="content-list">
<li>Growth Design</li>
<li>Continuous Product Discovery</li>
<li>Opportunity Mapping</li>
<li>User Interviews</li>
<li>Scrum Team Augmentation</li>
</ul>
<a class="button card__button" href="/en/contact">
<span class="text">Let's talk</span>
<span>
<img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
</span>
</a>
</div>
</div>
</div>
<div class="desktop-content">
<div class="desktop-content__wrapper is-active is-displayed" data-section="startup-mvps" data-target="howWeCanHelp.desktopContent">
<div class="desktop-content__copy-wrapper">
<div class="desktop-content__copy">
<p class="content-text">Designed for early-stage startups. Break down your creative blocks, clarify reality, and define a sound business concept loaded with MVP potential.</p>
<a class="arrow-button  card__button" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<ul class="content-list">
<li>Product Discovery</li>
<li>Idea Validation</li>
<li>Prototyping</li>
<li>User Testing</li>
<li>Early Go-to-market</li>
</ul>
<a class="arrow-button  card__button--tablet" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="desktop-content__wrapper" data-section="agile-team" data-target="howWeCanHelp.desktopContent">
<div class="desktop-content__copy-wrapper">
<div class="desktop-content__copy">
<p class="content-text">Created to guide seed startups through design, development and go-to-market decisions for your product. Develop products smarter and faster and jump to your next funding round.</p>
<a class="arrow-button  card__button" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<ul class="content-list">
<li>MVP / Rapid MVP</li>
<li>Product Discovery</li>
<li>Team Augmentation</li>
<li>User Testing</li>
<li>Go-to-market</li>
</ul>
<a class="arrow-button  card__button--tablet" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
<div class="desktop-content__wrapper" data-section="digital-transformation" data-target="howWeCanHelp.desktopContent">
<div class="desktop-content__copy-wrapper">
<div class="desktop-content__copy">
<p class="content-text">Made for scale-ups that have an established product-market fit and want to build 10x better products. Find new growth opportunities and understand your users better.</p>
<a class="arrow-button  card__button" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
<ul class="content-list">
<li>Growth Design</li>
<li>Continuous Product Discovery</li>
<li>Opportunity Mapping</li>
<li>User Interviews</li>
<li>Scrum Team Augmentation</li>
</ul>
<a class="arrow-button  card__button--tablet" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Let's talk
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
</div>
</div>
</div>
</div>
<div class="contact-box scroll-transition" data-target="page.loadOnScroll">
<h4 class="contact-box__title">We will tailor our process and solution to your needs</h4>
<a class="arrow-button  contact-box__button" href="/en/contact" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
<span class="arrow arrow--left">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
<span class="main">
<span class="text">
Get in touch
</span>
<span class="arrow arrow--right">
<span class="shaft" style="background-color: #ffffff"></span>
</span>
</span>
</a>
<%= image_tag("contact.svg", class: "contact-box__image") %>
</div>
</div>
</div>
</section>







<section>
