<html>
<head>
  <!-- Original URL: https://start-up.house/en/workflow/building-mvp
    Date Downloaded: 1/17/2023 6:20:16 PM !-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  <meta content='telephone=no' name='format-detection' />
  <title>Workflow and MVP Development | Web 3 Pandas Development House </title>
  <meta name="description" content="We develop your ideas and create MVPs enjoyed by thousands of users. Check out our MVP creating process and see how we work to make your products succeed!" />
  <meta property="og:title" content="Workflow and MVP Development  | Web 3 Pandas Development House" />
  <meta property="og:description" content="We develop your ideas and create MVPs enjoyed by thousands of users. Check out our MVP creating process and see how we work to make your products succeed!" />
  <meta name="twitter:title" content="Workflow and MVP Development  | Web 3 Pandas Development House" />
  <meta name="twitter:description" content="We develop your ideas and create MVPs enjoyed by thousands of users. Check out our MVP creating process and see how we work to make your products succeed!" />
  <%# <link rel="canonical" href="building-mvp.html" /> %>
  <%# <meta content='building-mvp.html' property='og:url' /> %>
  <meta content='../../packs/media/images/home/social-9d33b0049994fa24af632c1eecaee778.png' property='og:image' />
  <meta content='p3t2wyxstwqjp7brvk2hor4l0hy5gl' name='facebook-domain-verification' />
  <meta content='https://start-up.house/packs/media/images/home/social-9d33b0049994fa24af632c1eecaee778.png' name='twitter:image' />
  <meta content='summary_large_image' name='twitter:card' />
  <link href='../../favicon.ico' rel='shortcut icon' type='image/x-icon' />
  <link crossorigin="" href='//www.googletagmanager.com' rel='preconnect' />
  <link crossorigin="" href='https://marketingplatform.google.com/about/analytics/' rel='preconnect' />
  <link crossorigin="" href='../../../www.facebook.com/index.html' rel='preconnect' />
  <link crossorigin="" href='../../../www.google.com/index.html' rel='preconnect' />
  <link crossorigin="" href='../../../px.ads.linkedin.com/index.html' rel='preconnect' />
  <link crossorigin="" href='../../../www.linkedin.com/index.html' rel='preconnect' />
  <link crossorigin="" href='../../../dc.ads.linkedin.com/index.html' rel='preconnect' />
  <script>
    (function(){
      var interval = setInterval(function () {
        if (document.body) {
          document.body.classList.remove('hide-text');
          clearInterval(interval);
        }
      }, 1000);
    }());
  </script>
  <%# <link as='script' href='../../packs/js/application-6becb475089ae8181a99.js' rel='preload' /> %>
  <%# <link as='style' href='app/assets/stylesheets/shared-ba9ccc9b.css' rel='preload' /> %>
  <%# <link as='font' crossorigin="" href='../../webfonts/39D11E_0_0.woff2' rel='prefetch' type='font/woff2' /> %>
  <%# <link as='font' crossorigin="" href='../../webfonts/39D11E_1_0.woff2' rel='prefetch' type='font/woff2' /> %>
  <%# <link as='font' crossorigin="" href='../../webfonts/39D11E_2_0.woff2' rel='prefetch' type='font/woff2' /> %>
  <style>
    /* @import url(//hello.myfonts.net/count/39d11e);@font-face{font-family:TTCommons-Light;src:url(../../webfonts/39D11E_0_0.woff2) format('woff2');font-display:swap}@font-face{font-family:TTCommons-Regular;src:url(../../webfonts/39D11E_1_0.woff2) format('woff2');font-display:swap}@font-face{font-family:TTCommons-DemiBold;src:url(../../webfonts/39D11E_2_0.woff2) format('woff2');font-display:swap} */
  </style>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCX6979');
  </script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="TNSo9Uyupl1cFG2YcWbhjKEq3L3enu9ogYVzlmvkwGpyNDRCkmeYxTb5HaRXtJ4Q8JlccSZjzrsGh9w/K+uIig==" />
  <script src="../../packs/js/polyfills-62c6ec78440784c67b14.js" nomodule="true"></script>
  <%# <script src="../../packs/js/application-6becb475089ae8181a99.js"></script> %>
  <%# <link rel="stylesheet" media="all" href='app/assets/stylesheets/shared-ba9ccc9b.css' /> %>
  <%# <link rel="stylesheet" media="all" href="../../packs/css/workflow-1c540dca.css" /> %>
  <%# <script src="../../packs/js/workflow-2555353a565856dbfe32.js" defer="defer"></script> %>
  <%# <script src='../../../js.hcaptcha.com/1/api.js'></script> %>
  <%# <script src='../../../assets.calendly.com/assets/external/widget.js' type='text/javascript'></script> %>
</head>
<body class='hide-text'style="overflow-y: visible;">
  <main class="page no-padding" data-controller="page" data-lazy="true" >
    <section class="section workflow-intro-new no-padding" data-target="page.section" data-theme="color" data-bgcolor="#0066FF" color="#ffffff" style="background-color:rgb(0, 102, 255)">
      <div class="workflow-intro-new__wrapper" >
        <div class="hero">
          <h1 class="hero__title" style="color:white;">Get an experienced agile product team </h1>
          <p class="hero__text" style="color:white;">Our developers and product teams are ready to jump on board and give your project the boost it needs to be delivered right on time. </p>
        </div>
      </div>
      <div class="hero-image">
        <%= image_tag "hero-395e06f9097fff628bdc05a708090c3a.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
        <%# <img src="../../packs/media/images/workflow/building_mvp/hero-395e06f9097fff628bdc05a708090c3a.svg" alt="" /> %>
      </div>
    </section>
    <section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="lightGray" data-bgcolor="white" data-color="#000000">
      <div class="section-content">
        <div class="count-with-icons__wrapper">
          <div class="count-with-icons__top ">
            <div class="custom-header custom-header--bigger ">
              <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Work with the best </p>
              <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why outsource an agile team? </h2>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="card card-- card--" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "mobile-b9c055c46ea363522b5762c368992b83.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image card__image" alt="Testing UX and UI of your product" data-src="../../packs/media/images/shared/mobile-b9c055c46ea363522b5762c368992b83.svg" src="building-mvp.html" /> %>
                <div class="title-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <p class="card__index">01 </p>
                  <h2 class="card__title">Getting a tight-knit team right away </h2>
                </div>
               
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Agile teams become more and more effective over time so getting a team that have worked together on several projects will let you speed up this process and get better product value delivered from the beginning. </p>
            </div>
            <div class="card card-- card--" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "web-befe793a1cece65dc79fd16fac13c84c.svg", alt: "Download file", class: "" %>
                </div>
                <div class="title-wrapper">
                  <p class="card__index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">02 </p>
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Working remotely is a must-have today </h2>
                </div>
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                 
                </div>
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Being a part of the team that is used to work remotely and maintain good communication flow is essential nowadays. You can choose from several scrum teams and find the one that suits you best. </p>
            </div>
            <div class="card card-- card--" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "person-acbf934ff520e1e0be75501f94584db7.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image card__image" alt="Engaging stakeholders and building community" data-src="../../packs/media/images/shared/person-acbf934ff520e1e0be75501f94584db7.svg" src="building-mvp.html" /> %>
                <div class="title-wrapper">
                  <p class="card__index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">03 </p>
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Ensuring good agile practices </h2>
                </div>
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                 
                </div>
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">As scrum is easy to explain but difficult to implement it is best to have coworkers that not only know it by heart but know how to improve your scrum meetings, workflow or just adjust quickly to your communication style. </p>
            </div>
            <div class="card card-- card--" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "todo-5689a147c05ba8684ca007283b3e0c69.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image card__image" alt="Quick testing of your business concept" data-src="../../packs/media/images/shared/todo-5689a147c05ba8684ca007283b3e0c69.svg" src="building-mvp.html" /> %>
                <div class="title-wrapper">
                  <p class="card__index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">04 </p>
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">No need for additional infrastructure </h2>
                </div>
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                 
                </div>
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Save time and money on creating infrastructure that comes with new employees - apart from human resource management we have an established team-leaders system that lets our developers constantly exchange knowledge. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section path-section no-padding" data-target="page.section" data-theme="color" data-bgcolor="#000000" data-color="#ffffff" data-controller="pathSection">
      <div class="section-content">
        <div class="path-section__wrapper" style="background-color:black; color:white">
          <div class="custom-header  ">
            <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Build your new product team </p>
            <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">How does forming new team look like? </h2>
          </div>
          <div class="content-wrapper">
            <div class="arrow-mobile">
              
            </div>
            <div class="steps__wrapper row between-sm" data-target="pathSection.wrapper">
              <div class="step" data-target="page.loadOnScroll pathSection.loadTrigger">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "conversation-341a05689b93df97c9ea1cb6a7b5ce00.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image step__image" alt="" data-src="../../packs/media/images/shared/path_section/conversation-341a05689b93df97c9ea1cb6a7b5ce00.svg" src="building-mvp.html" /> %>
                <h3 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Tell us about your ____ </h3>
                <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We need to learn ____ you have in mind — what’s your idea, how ________ is your vision, and, ____ importantly, what are your _________ users saying. </p>
              </div>
              <div class="step" data-target="page.loadOnScroll pathSection.loadTrigger">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "discovery-4ec1c8f85d4646b9999ce2b48432f673.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image step__image" alt="" data-src="../../packs/media/images/shared/path_section/discovery-4ec1c8f85d4646b9999ce2b48432f673.svg" src="building-mvp.html" /> %>
                <h3 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Discovery and planning </h3>
                <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Once we know what ___ need, we move on __ structuring the product using ______ research, user flows, personas ___ your users’ requirements. </p>
              </div>
              <div class="step" data-target="page.loadOnScroll pathSection.loadTrigger">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "design-ddc3829fc1f2d3f25aec7ccac92765ea.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image step__image" alt="" data-src="../../packs/media/images/shared/path_section/design-ddc3829fc1f2d3f25aec7ccac92765ea.svg" src="building-mvp.html" /> %>
                <h3 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Product design </h3>
                <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Once the conceptual work __ done, we move on __ working on wireframes and _______ for the MVP. We _______ to find the final _____ of the product. </p>
              </div>
              <div class="step" data-target="page.loadOnScroll pathSection.loadTrigger">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "development-ba526e09130cd80d99111b3950cfe195.svg", alt: "Download file", class: "" %>
                </div>
                <%# <img class="lazy-image step__image" alt="" data-src="../../packs/media/images/shared/path_section/development-ba526e09130cd80d99111b3950cfe195.svg" src="building-mvp.html" /> %>
                <h3 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Plan and execute development </h3>
                <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Having the concept and ___ designs in place, we ___ move on to software ___________. We work with Scrum, __ the work is planned __ sprints and the scope __ flexible. </p>
              </div>
              <div class="step" data-target="page.loadOnScroll pathSection.loadTrigger">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "market-914d8a60260a3fd4d46d2fcf44543e91.svg", alt: "Download file", class: "" %>
                </div>
                <img class="lazy-image step__image" alt="" data-src="../../packs/media/images/shared/path_section/market-914d8a60260a3fd4d46d2fcf44543e91.svg" src="building-mvp.html" />
                <h3 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Market validation </h3>
                <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom">The last step of ___ MVP’s lifecycle is the ________ test — market validation. __’__ set up proper analytics ___ help you adjust the _______ to increase the chance __ success. </p>
              </div>
              <div class="arrow-mask" data-target="pathSection.mask"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section why-work-with-us no-padding" data-target="page.section" data-theme="white">
      <div class="section-content">
        <div class="why-work-with-us__wrapper">
          <div class="custom-header  ">
            <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Look for people that ____ challenge your ideas </p>
            <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why work with us? </h2>
          </div>
          <div class="cards">
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "user-centric-5b33b537264ab9e8eed7e3ab777f7763.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/user-centric-5b33b537264ab9e8eed7e3ab777f7763.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> User-centric approach </h3>
                </div>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">When working on Web 3 Pandas ____, we focus on your ___-_____’ needs and expectations, not ____ the specification. Continuous user _______ and feedback implementation guarantee _ product your users actually ____. </p>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "agile-9092c58f5f1038078ec3bc2a43fdb8a4.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/agile-9092c58f5f1038078ec3bc2a43fdb8a4.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Agile development </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We work with Scrum. __ divide work into sprints, ____ constant improvements and adjust ___ project’s scope when needed. ____ agile approach helps us _______ the timeline and budget _____ maintaining your product’s usability. </p>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "experience-4381ee26b3377f96ef020731ecb3026c.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/experience-4381ee26b3377f96ef020731ecb3026c.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Interdisciplinary experience </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Having worked on projects _______ through FinTech, LegalTech, IoT, _______, etc., we’ve learned to _____ to new industries and _______ types quickly. We’ve found ________ and similarities which help __ switch between projects quickly. </p>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "business-thinking-eca9a653b1e068e48f9ecc2b0a6aa67d.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/business-thinking-eca9a653b1e068e48f9ecc2b0a6aa67d.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Business thinking </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We’ve worked on our ___ startups, so we know ____ struggle. We want to __ your partner and take _ look at your product ____ the business perspective. There’s _ lot more to Web 3 Pandas ____ just technology and we ___ eager to embrace it. </p>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "top-5-a80913a5b2b45997a98afa47d6f22ae4.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/top-5-a80913a5b2b45997a98afa47d6f22ae4.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Top 5% talent </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Thanks to our ongoing ___________ processes and keeping long-term _________ on board we are ____ to provide top quality ________ and accumulate knowledge inside ___ company. Only 5% of __________ get hired. </p>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "business-thinking-eca9a653b1e068e48f9ecc2b0a6aa67d.svg", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <%# <img class="lazy-image card__image" alt="" data-src="../../packs/media/images/workflow/why_work_with_us/team-b6b346302f35d4bb4e67ce290020ba58.svg" src="building-mvp.html" /> %>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Independent dedicated team </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We have all the ______ needed to create a ________ startup product from scratch. ____ product managers and strategists, _________, developers, and testers, we ___ able to work with ________ from just an idea ___ deliver a full product. </p>
              </div>
            </div>
          </div>
          <div class="deck why-work-with-us" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <section class="download-deck-bar lazy-image" data-target="page.loadOnScroll" data-bg="url(/packs/media/images/home/download-bar-bg-b4defe095bc0affd2cc7349f6a8c5241.svg)">
              <div class="download-deck-bar__wrapper" data-target="page.loadOnScroll">
                <span class="download-deck-bar__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                Download full deck about ___ company
                </span>
                <a class="button icon-button download " type="button" href="../../deck/Startup_Development_House_Company_Profile.pdf" id="download-deck-bar" style="background-color: #fff; color: #040015" download="" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <span class='text'>
                  Download
                  </span>
                  <div class='icon-wrapper' style='border-bottom-color: #040015'>
                    <span class='icon'>
                    <span class='shaft' style='background-color: #040015'></span>
                    </span>
                  </div>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="lightGray" data-bgcolor="white">
      <div class="latest-posts__container">
        <div class="section-content">
          <div class="latest-posts__header">
            <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our voice </p>
            <div class="heading-wrapper">
              <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Latest posts  <br /> on our Blog </h2>
              <a class="button-desktop" href="../blog.html">
              <span class="text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View more posts </span>
              <%= image_tag"arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg", alt: "image" %>
              </a>
            </div>
          </div>
          <div class="posts" data-target="latest_posts.posts">
          </div>
          <a class="button-mobile" href="../blog.html">
          <span class="text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View more posts </span>
           <%= image_tag"arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg", alt: "image" %>
          <%# <img src="../../packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt="" /> %>
          </a>
        </div>
      </div>
    </section>
    <section class="section other-options no-padding" data-target="page.section" data-theme="white">
      <div class="section-content">
        <div class="step-by-step__wrapper">
          <div class="custom-header  ">
            <p class="subheading" data-target="page.loadOnScroll" />
            <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Are you looking for something else? </h2>
          </div>
          <div class="cards">
            <div class="card" data-target="page.loadOnScroll">
              <div class="card__image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%# <picture>
                  <source srcset="../../packs/media/images/services/hire/looking_image_1-269d338714607475e4df94c033a5aa67.webp" type="image/webp">
                  <source srcset="../../packs/media/images/services/hire/looking_image_1-7a5b414f3a05aca32a9a2a6349b98adc.png" type="image/png">
                  <img alt="" src="../../packs/media/images/services/hire/looking_image_1-7a5b414f3a05aca32a9a2a6349b98adc.png" />
                  </source></source>
                  </picture> %>
                <%= image_tag "looking_image_1-7a5b414f3a05aca32a9a2a6349b98adc.png", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Agile Product Scaling Team </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our developers and product _____ are ready to jump __ board and give your _______ the boost it needs __ be delivered right on ____. </p>
                <div class="card__additional">
                  <div class="divider"></div>
                  <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom">product teams, individual resources </p>
                </div>
                <a class='arrow-button  button' href='agile.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target='' data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span class='arrow arrow--left'>
                <span class='shaft' style='background-color: #ffffff'></span>
                </span>
                <span class='main'>
                <span class='text'>
                  Read more
                </span>
                <span class='arrow arrow--right'>
                <span class='shaft' style='background-color: #ffffff'></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="card" data-target="page.loadOnScroll">
              <div class="card__image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%# <picture>
                  <source srcset="../../packs/media/images/services/hire/looking_image_2-229b60e4da631766ec63cfd357abb47c.webp" type="image/webp">
                  <source srcset="../../packs/media/images/services/hire/looking_image_2-9d693f2ae5303054a14bb59d76fc8101.png" type="image/png">
                  <img alt="" src="../../packs/media/images/services/hire/looking_image_2-9d693f2ae5303054a14bb59d76fc8101.png" />
                  </source></source>
                  </picture> %>
                <%= image_tag "looking_image_2-9d693f2ae5303054a14bb59d76fc8101.png", alt: "Download file", class:"lazy-image card__image loaded" %>
              </div>
              <div class="card__content">
                <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Corporate Digital Transformation </h3>
                <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We know how to ________ the right way — ___________ create the future, thus __ help to turn ideas ____ real solutions faster. </p>
                <div class="card__additional">
                  <div class="divider"></div>
                  <p class="card__text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">roadmap setup, growth &amp; __________ advisory </p>
                </div>
                <a class='arrow-button  button' href='digital-transformation.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target='' data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span class='arrow arrow--left'>
                <span class='shaft' style='background-color: #ffffff'></span>
                </span>
                <span class='main'>
                <span class='text'>
                Read more
                </span>
                <span class='arrow arrow--right'>
                <span class='shaft' style='background-color: #ffffff'></span>
                </span>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>