<section class="section white project-tiles" data-controller="project_tiles" data-target="page.section" data-snap="true" data-theme="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
    <div class="section-content">
    <div class="row">
    <div class="col-xs-24">
    <h3 class=" scroll-transition" data-target="page.loadOnScroll" style="width: 1135px;">Case studies </h3>
    </div>
    <div class="col-xs-24 pills-wrapper">
        <img alt class="pills-animated-prompt">
        <div class="filters filters--swipeable scroll-transition" data-target="page.loadOnScroll">
            <span class="filters__filter active" data-filter="featured" data-target="project_tiles.filter" data-action="click-&gt;project_tiles#setCurrentFilter"> Featured  </span>
            <span class="filters__filter" data-filter="startup" data-target="project_tiles.filter" data-action="click-&gt;project_tiles#setCurrentFilter"> Startup  </span>
            <span class="filters__filter" data-filter="digital" data-target="project_tiles.filter" data-action="click-&gt;project_tiles#setCurrentFilter"> Digital Innovation for ________  </span>
            <span class="filters__filter" data-filter="discovery" data-target="project_tiles.filter" data-action="click-&gt;project_tiles#setCurrentFilter"> Product Discovery  </span>
    </div>
  </div>
    </div>

    <div class="row">
    <div class="col-xs-24 tiles-wrapper " data-target="project_tiles.tilesWrapper" style="position: relative; height: 2661.92px;">
    <div class="tile project-category" data-filter="featured startup digital discovery" data-target="project_tiles.tile" style="position: absolute; left: 18px; top: 18px;">
    <div class="project-category__wrapper active" data-target="project_tiles.categoryDescription" data-filter="featured">
    <h2 class="project-category__title">
   Featured
    </h2>
    <p class="project-category__description">
   Do you value your ? Well, we too. That’s here you’ll find our projects. They were selected watchmaking precision so as to waste your precious. Save your time for good coffee. ☕️
    </p>
    </div>
    <div class="project-category__wrapper " data-target="project_tiles.categoryDescription" data-filter="startup">
    <h2 class="project-category__title">
   Startup
    </h2>
    <p class="project-category__description">
    </p>
    </div>

    <div class="project-category__wrapper " data-target="project_tiles.categoryDescription" data-filter="digital">
    <h2 class="project-category__title">
   Digital Innovation for business
    </h2>
    <p class="project-category__description">
    </p>
    </div>
    <div class="project-category__wrapper " data-target="project_tiles.categoryDescription" data-filter="discovery">
    <h2 class="project-category__title">
   Product Discovery
    </h2>
    <p class="project-category__description">
    </p>
    </div>
    </div>
    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: absolute; left: 603.5px; top: 18px;">
    <a href="#" data-target="page.loadOnScroll" >
    <div class="tile__image-wrapper">
    <picture>
    <%= image_tag "chooose-e7601b6b254a520fed3c2b385ce71040.webp", alt: "Download file", class: "tile__image" ,type: "image/webp" %>
    </picture>
    <div class="tile__image-mask"></div>
    </div>
    <p class="tile__label">Carbon offsetting platform  </p>
    <h2 class="tile__name">CHOOOSE  </h2>

    </a>
    </div>
    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: absolute; left: 18px; top: 378px;">
    <a href="#" data-target="page.loadOnScroll" >
    <div class="tile__image-wrapper">
    <picture>
    <%= image_tag "negotiate_now-3a3e6b3c29096fd687a542553e2cd929.webp", alt: "Download file", class: "tile__image" %>
    </picture>
    <div class="tile__image-mask"></div>
    </div>
    <p class="tile__label">A platform that helps ______ get better deals  </p>
    <h2 class="tile__name">NegotiateNow  </h2>

    </a>
    </div>
    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: absolute; left: 603.5px; top: 569.734px;">
    <a href="#" data-target="page.loadOnScroll" >
    <div class="tile__image-wrapper">
    <picture>
    <%= image_tag "graspify-4b82d7c2b8a9d93d737210de82b43600.png", alt: "Download file" , class: "tile__image" %>
    </picture>
    <div class="tile__image-mask"></div>
    </div>
    <p class="tile__label">Graspify. Make a course. ____ a course.  </p>
    <h2 class="tile__name">Graspify  </h2>

    </a>
    </div>
    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: absolute; left: 18px; top: 1055.33px;">
    <a href="#" data-target="page.loadOnScroll" >
    <div class="tile__image-wrapper">
    <picture>
   <%= image_tag "siemens-d5126308840fccf2225bef0c7763f9b7.webp", alt: "Download file",class: "tile__image" %>
    </picture>
   </picture>
    <div class="tile__image-mask"></div>
    </div>
    <p class="tile__label">Cloud-based financial platforms  </p>
    <h2 class="tile__name">Siemens  </h2>

    </a>
    </div>
    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: absolute; left: 603.5px; top: 1247.06px;">
    <a href="#" data-target="page.loadOnScroll" >
    <div class="tile__image-wrapper">
    <picture>
    <%= image_tag "qnappen-c7c8114db6171c017856761f534d6cb1.webp", alt: "Download file", class: "tile__image" %>
    </picture>
    <div class="tile__image-mask"></div>
    </div>
    <p class="tile__label">Company-wide tasks management tool  </p>
    <h2 class="tile__name">Qnappen  </h2>

    </a>
    </div>

    <div class="tile" data-filter="featured" data-order="" data-target="project_tiles.tile" style="position: relative; left: 603.5px; top: 1798.8px;" >
        <a href="#" data-target="page.loadOnScroll" >
        <div class="tile__image-wrapper">
        <picture>
        <%= image_tag "dx-f63f0954c036ded0f0d8b382d9049939.webp", alt: "Download file", class: "tile__image" %>

        </picture>
        <div class="tile__image-mask"></div>
        </div>
        <p class="tile__label">Cinema and event management ____  </p>
        <h2 class="tile__name">DX  </h2>
      </a>
    </div>


    </div>
    </div>
</section>
<section class="section white value-project" data-target="page.section" data-theme="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
 <div class="section-content">
 <div class="row value-project__banner scroll-transition" data-target="page.loadOnScroll">
 <div class="value-project__background"></div>
 <div class="col-xs-24 value-project__text-wrapper">
 <h2 class="value-project__call scroll-transition" data-target="page.loadOnScroll">Let us </h2>
 <p class="value-project__call-second scroll-transition" data-target="page.loadOnScroll">supercharge your product 🤝 </p>
 <p class="value-project__caption scroll-transition" data-target="page.loadOnScroll">Contact us and watch ___ magic happen </p>
 <div class="value-project-button-wrapper scroll-transition" data-target="header.valueProjectButton page.loadOnScroll">
 <a class="button icon-button dollar " type="button" href="#" id="portfolio-price-estimate-button" style="background-color: #0066ff; color: #ffffff; text-decoration: none; border-radius: 2rem; cursor: pointer; border: 1px solid transparent; line-height: 1.15;"><span class='text'>
Get a price estimate
 </span>
 <div class='icon-wrapper' style='border-bottom-color: #ffffff'>
 <span class='icon'>
$
 </span>
 </div>
 </a>  </div>
 </div>
 </div>
 </div>
 </section>