<section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFF7FD" data-color="#000000" style="background-color: rgb(255, 247, 253); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="container">
<div class="content">
<%= image_tag"gcp-partner-4e787df31fbbbfe687bf358073b7a723.png", class:"content__logo", alt:"Google Cloud Platform Partner" %>
<div>
<h1 class="content__title">Consider cloud software development possibilities.</h1>
<p class="content__subtitle">With the Google Cloud and AWS specialisation in application development we are helping startups and enterprises leverage cloud to build and manage cloud-native business applications.</p>
</div>
</div>
<%= image_tag"main-image-91c3322386ddb1f0b682dc63538a9e22.svg", class: "image", alt: "" %>
</div>
</div>
</section>



<section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="count-with-icons__wrapper">
<div class="count-with-icons__top ">
<div class="custom-header custom-header--bigger ">
<p class="subheading scroll-transition" data-target="page.loadOnScroll">Benefits speak for themselves</p>
<h2 class="heading scroll-transition" data-target="page.loadOnScroll">Why should you consider building cloud applications?</h2>
</div>
</div>
<div class="content-wrapper">
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag "blitz-0da04bafb1b42ea2a66486b4f3c30f11.svg", class: "lazy-image card__image loaded", alt: "Faster innovation" %>
<div class="title-wrapper">
<h2 class="card__title">Faster innovation</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Cloud services provide the most innovative technology available and constantly updated software, allowing businesses to focus on rapid innovation without complexities of hardware and infrastructure management.</p>
</div>
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"flexible-c278a9a7da717a368c31f35e4f3ac1b9.svg", class: "lazy-image card__image loaded", alt: "Storage possibilities" %>
<div class="title-wrapper">
<h2 class="card__title">Flexible resources, scaling</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Applications can be scaled elastically. It means the right amount of IT resources like computing power or storage can be delivered right when they’re needed, and from the right geographic location.</p>
</div>
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"storage-7b4bc46794c6b8120e6338ad0a8e6fa7.svg", class: "lazy-image card__image loaded", alt: "Storage possibilities" %>
<div class="title-wrapper">
<h2 class="card__title">Storage possibilities</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Your data can be stored cost-efficiently and at massive scale within public or private storage services, depending on your security needs.</p>
</div>
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"chart-pie-ebc4acb00fe838c40cdeb9cb6055fb2a.svg", class: "lazy-image card__image loaded", alt: "Chart Pie" %>
<div class="title-wrapper">
<h2 class="card__title">Big Data Analysis</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">When traditional database systems are often too expensive when it comes to big amount of unstructured data, cloud computing offers storage, processing, and analytics on a more scalable, flexible and cost-effective basis.</p>
</div>
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"database-f05254bd54a19714b5728ecf1ddf1d99.svg", class: "lazy-image card__image loaded", alt: "Database" %>
<div class="title-wrapper">
<h2 class="card__title">Intelligence in the cloud</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Intelligent cloud, built with use of artificial intelligence and machine learning, gathers, analyzes and learns from a massive amount of data, delivers real-time insights and experiences and makes predictions in order to improve business strategy and deliver greater functionality to the user.</p>
</div>
<div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"security-93ae6984c67e877ae0b2d0f2e5e594a9.svg", class: "lazy-image card__image loaded", alt: "Security" %>
<div class="title-wrapper">
<h2 class="card__title">Security</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Cloud providers offer technologies, various policies and controls that strengthen your overall security, help to protect your data, apps, and infrastructure from potential threats.</p>
</div>
</div>
</div>
</div>
</section>


<section class="section cloud-services no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="cloud-services__wrapper">
<div class="custom-header  ">
<p class="subheading" data-target="page.loadOnScroll">Plenty to choose from</p>
<h2 class="heading" data-target="page.loadOnScroll">Which cloud service should you choose for your project?</h2>
</div>
<div>
<h3 class="title">Examples of most common GCP/AWS services:</h3>
<div class="cards">
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag"google-cloud-6ed73675ccce6627d0c2e1e4ef541b6b.svg", alt: "Google Cloud" %>
</div>
<ul class="card__list">
<li class="card__item">
Google Kubernetes Engine
<div class="divider"></div>
</li>
<li class="card__item">
Google App Engine
<div class="divider"></div>
</li>
<li class="card__item">
Google Cloud Firestore
<div class="divider"></div>
</li>
<li class="card__item">
Cloud Pub/Sub
<div class="divider"></div>
</li>
<li class="card__item">
Cloud Functions
<div class="divider"></div>
</li>
<li class="card__item">
Google Cloud SQL
<div class="divider"></div>
</li>
<li class="card__item">
Google Cloud Storage
<div class="divider"></div>
</li>
<li class="card__item">
Google Stackdriver
<div class="divider"></div>
</li>
</ul>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag"aws-88cb7a22801b148d27f24091348551db.svg", alt: "Google Cloud" %>
</div>
<ul class="card__list">
<li class="card__item">
Elastic Container Service
<div class="divider"></div>
</li>
<li class="card__item">
AWS EC2
<div class="divider"></div>
</li>
<li class="card__item">
Amazon DynamoDB
<div class="divider"></div>
</li>
<li class="card__item">
Simple Queue Service
<div class="divider"></div>
</li>
<li class="card__item">
AWS Lambda
<div class="divider"></div>
</li>
<li class="card__item">
Amazon Relational Database Service
<div class="divider"></div>
</li>
<li class="card__item">
Amazon S3
<div class="divider"></div>
</li>
<li class="card__item">
Amazon CloudWatch
<div class="divider"></div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>




<section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="count-with-icons__wrapper">
<div class="count-with-icons__top ">
<div class="custom-header custom-header--bigger ">
<p class="subheading" data-target="page.loadOnScroll">Cloud pays off on all sides</p>
<h2 class="heading" data-target="page.loadOnScroll">How we use our cloud capabilities in custom product development</h2>
</div>
</div>
<div class="content-wrapper">
<div class="card card--one-third card--vertical" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"gear-green-dc0ccb9245f4848ce39ecad9690176ee.svg", alt: "Databases migrations and management", style: "height: 60px" %>
<div class="title-wrapper">
<h2 class="card__title">Databases migrations and management</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">We help organizations to migrate and manage cloud databases which provides security, stability, reliability, and high availability.</p>
</div>
<div class="card card--one-third card--vertical" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"chart-pie-ebc4acb00fe838c40cdeb9cb6055fb2a.svg", alt: "Data Analysis" %>
<div class="title-wrapper">
<h2 class="card__title">Data analysis</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Thanks to cloud-based analytics and revolutionized big data and business intelligence, you can easily collect and analyze data from a range of different sources and areas, to create insights, predictions and data visualizations.</p>
</div>
<div class="card card--one-third card--vertical" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"ux-design-purple-3a039fdc1edefb18c0e2aa0343d1ef86.svg", alt: "UX Design", style: "height: 60px" %>
<div class="title-wrapper">
<h2 class="card__title">Machine Learning &amp; AI</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Our team of developers use cloud tools to implement the AI and Machine Learning algorithms to let you quickly take your advanced AI and data science projects from ideation to deployment.</p>
</div>
<div class="card card--one-third card--vertical" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"cloud-check-6cf1e8ab6c29e2f33979aeb674fb0509.svg", alt: "Data Analysis", style: "height: 60px" %>
<div class="title-wrapper">
<h2 class="card__title">Cloud engineering</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Faster innovation, flexible resources, economies of scale - achieve that with cloud computing, including servers, storage, databases, networking, software, analytics, and intelligence in the cloud.</p>
</div>
<div class="card card--one-third card--vertical" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
<div class="card__header">
<%= image_tag"lock-12d6da0cbd7a265c79ae54fd73ff59f4.svg", alt: "Cloud app", style: "height: 60px" %>
<div class="title-wrapper">
<h2 class="card__title">Cloud application security</h2>
</div>
<%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
</div>
<p class="card__content">Through an understanding of security best practices and industry security requirements, we prototype, design, develop, and manage a secure infrastructure leveraging cloud security technologies.</p>
</div>
</div>
</div>
</div>
</section>



<section class="section specializations no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
<div class="section-content">
<div class="specializations__wrapper">
<div class="custom-header  ">
<p class="subheading" data-target="page.loadOnScroll">No half measures</p>
<h2 class="heading" data-target="page.loadOnScroll">Our cloud application specializations</h2>
</div>
<div class="cards">
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag"google-cloud-light-edda1fb0d7dbfc1da6106fc394e1ab11.svg", alt: "Cloud app" %>
</div>
<h3 class="card__title">Google Cloud Platform</h3>
<p class="card__content">As GCP Partner SDH knows how to make the most of its services to succeed. Management tools help us work more productively and modular services support us daily in accelerating our clients’ products in the cloud.</p>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag "docker-8f5d3fbe80827bad8af44de917bdaee5.svg",alt: "Docker" %>
</div>
<h3 class="card__title">Docker</h3>
<p class="card__content">This technology is used to pack applications into containers. Containers can hold all of the parts needed to run applications, such as libraries with dependencies or databases. This way any developer or cloud can easily use dockerized applications right away.</p>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag "heroku-0d9bd3de1245bbc0079aed3153f38289.svg",alt: "Heroku" %>
</div>
<h3 class="card__title">Heroku</h3>
<p class="card__content">Heroku is Platform as a Service provider, which means developers can host applications in very short time without needing to spend time on environment and server setup, which is perfect for developing MVPs.</p>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag "kubernetes-1df08bc100ac462f300a1e0095697741.svg", alt: "Kubernetes" %>
</div>
<h3 class="card__title">Kubernetes</h3>
<p class="card__content">Kubernetes is a platform that automates processes like managing, deploying and scaling easier for containerized applications. It was developed and engineered by Google.</p>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag "aws-light-b9abff0422d54a71f702d60c63b27e51.svg", alt: "AWS" %>
</div>
<h3 class="card__title">Amazon</h3>
<p class="card__content">AWS is a cloud platform, which provides many cloud computing products and services like computing, database storage or big data management.</p>
</div>
<div class="card" data-target="page.loadOnScroll">
<div class="card__image">
<%= image_tag "microsoft-eab7a2f82add8f177e0d2f23bf5c477f.svg", alt: "Microsoft" %>
</div>
<h3 class="card__title">Microsoft</h3>
<p class="card__content">Azure is a cloud based computing service used for building, deploying and managing services and applications, created by Microsoft. It can also be used for analytics, storage, networking and much more.</p>
</div>
</div>
</div>
</div>
</section>




<section class="section lets-talk" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="row between-md">
<div class="col-xs-24 col-lg-10">
<h1 class="lets-talk__title scroll-transition" data-target="page.loadOnScroll">
Let’s talk
</h1>
<p class="lets-talk__description scroll-transition" data-target="page.loadOnScroll">
Do you want to talk about our cloud application services? Leave your email address and we will contact you within one day.
</p>
<div class="row">
<div class="lets-talk__contact-person scroll-transition" data-target="page.loadOnScroll">
<%= image_tag "kuba_krajewski-59291e4beef1a5b23b04719db7b133b4.png",class: "lets-talk__contact-person-image", alt: "Jakub Krajewski", style: "height: 100px" %>
<div class="lets-talk__contact-person-text">
<h3 class="lets-talk__contact-person-name">
Jakub Krajewski
</h3>
<p class="lets-talk__contact-person-position">
DevOps Team Leader
</p>
</div>
</div>
</div>
</div>
<div class="col-xs-24 col-lg-10 scroll-transition" data-target="page.loadOnScroll" data-controller="contact_form_technology" data-contact_form_technology-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" data-contact_form_technology-theme="monoBaseBlack" data-technology="notTech">
<div class="text-wrapper" data-target="contact_form_technology.textWrapper"></div>
<form class="form form--monoBaseBlack" data-target="contact_form_technology.form">
<h2 class="form__title scroll-transition" data-target="page.loadOnScroll">
Fill a form
</h2>
<div class="input-wrapper scroll-transition" data-target="contact_form_technology.name page.loadOnScroll">
<label for="contact-form-name" class="sr-only">Full name</label>
<input id="contact-form-name" class="form__input" name="fullname" type="text" placeholder="Full name" data-action="blur->contact_form_technology#validateTextInput">
</div>
<div class="input-wrapper scroll-transition" data-target="contact_form_technology.email page.loadOnScroll">
<label for="contact-form-email" class="sr-only">Email address</label>
<input id="contact-form-email" class="form__input" name="email" type="text" placeholder="Email address" data-action="blur->contact_form_technology#validateEmailInput">
</div>
<div class="input-wrapper scroll-transition" data-target="contact_form_technology.content page.loadOnScroll">
<label for="contact-form-message" class="sr-only">Message</label>
<textarea id="contact-form-message" class="form__input" name="message" rows="5" placeholder="Message" data-action="blur->contact_form_technology#validateTextInput"></textarea>
</div>
<div class="form__bottom-row files scroll-transition" data-target="page.loadOnScroll">
<div class="files-upload" data-target="contact_form_technology.file" data-controller="files_upload">
<label class="files-upload__label" for="upload">
<svg class="files-upload__icon" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
<g fill="none" fill-rule="evenodd">
<circle cx="18" cy="18" r="18" fill="#06F" opacity=".201"></circle>
<path stroke="#06F" stroke-linecap="round" stroke-linejoin="round" d="M23.253 17.366l-4.353 7.54c-1.09 1.886-3.523 2.52-5.436 1.415-1.913-1.105-2.581-3.53-1.492-5.416l6.526-11.303c.83-1.437 2.684-1.92 4.141-1.078 1.457.841 1.966 2.688 1.137 4.125l-6.53 11.309c-.589 1.02-1.906 1.363-2.942.765-1.036-.598-1.397-1.91-.808-2.93l6.031-10.448"></path>
</g>
</svg>
Add file
<span class="files-upload__support-info">
Supported formats: .pdf, .jpg, .png
</span>
<input class="files-upload__input" id="upload" type="file" name="file" ,="" accept="application/pdf, image/png, image/jpeg" data-action="change->files_upload#populateFilesContainer" data-target="files_upload.fileInput">
</label>
<div class="uploaded-files-container" data-target="files_upload.filesContainer">
</div>
</div>
<div class="captcha-container input-wrapper" data-target="contact_form_technology.captcha">
<div id="captcha-contact_form_technology"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0tys9d6pfi5o&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0tys9d6pfi5o" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0tys9d6pfi5o" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0tys9d6pfi5o" name="h-captcha-response" style="display: none;"></textarea></div>
</div>
<button class="button icon-button send " type="button" id="contact-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->contact_form_technology#submit" data-target="contact_form_technology.submitButton"><span class="text">
Send message
</span>
<div class="icon-wrapper" style="border-bottom-color: #ffffff">
<span class="icon">
<span class="send-icon"></span>
<span class="arrow-right"></span>
</span>
</div>
</button> </div>
</form>
</div>
</div>
</div>
</section>



<section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
<div class="latest-posts__container">
<div class="section-content">
<div class="latest-posts__header">
<p class="subheading scroll-transition" data-target="page.loadOnScroll">Our voice</p>
<div class="heading-wrapper">
<h2 class="heading scroll-transition" data-target="page.loadOnScroll">Latest posts <br> on our Blog</h2>
<a class="button-desktop" href="/en/blog">
<span class="text">View more posts</span>
<%= image_tag"arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg", alt: "image" %>
</a>
</div>
</div>
<div class="posts" data-target="latest_posts.posts">
        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
          <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 26, 2023</p>
          </div>
          <h3 class="post__content">
            How Accelerators Help Startups
          </h3>
        </a>
      

        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
          <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 19, 2023</p>
          </div>
          <h3 class="post__content">
            Value Proposition Canvas Explained
          </h3>
        </a>
      </div>
<a class="button-mobile" href="/en/blog">
<span class="text">View more posts</span>
<%= image_tag"arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg", alt: "image" %>
</a>
</div>
</div>
</section>