<main class="page home" data-controller="page" data-lazy="true">
  <section class='section white intro lazy-image is_english' data-animate='' data-snap='local-variable' data-target='page.section' data-theme='white'>
    <div class='section-content' data-country='NO' data-emeanonorway='false' data-norway='true' data-target='page.countryHelper'>
      <div class='row'>
        <div class='col-xs-24 col-md-12 col-lg-12'>
          <div class='content'>
            <h1 class='content__title'>
              We solve 99% of startups&#39; problems
            </h1>
            <p class='content__description'>
              We ❤️ building and designing digital products in a startup way.
            </p>
            <div class='content__button-wrapper'>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='desktop-image'>
      <%= image_tag "intro-img-new-bed3c861c02ffc6459979a09d453f9dc.svg" %>
    </div>
  </section>
  <section class="section partner-awards no-padding" data-target="page.section" data-theme="lightGray">
    <div class="partner-awards__container">
      <div class="section-content">
        <div class="partner-awards__wrapper">
          <div class="partner">
            <p class="partner-awards__text" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Preferred partner by: </p>
            <div class="partner__logo" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "startup-grind-33c46b245f69f751e9bdff589635ddbb.svg" %>
            </div>
          </div>
          <div class="awards">
            <p class="partner-awards__text" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Awarded by: </p>
            <div class="awards__logos">
              <div class="awards__logo" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "financial_times-f048c12cef4d42e6acfed9626d98372c.png" %>
              </div>
              <div class="awards__logo" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "clutch_logo-5a12bcf753f8645065e666cfd0875a1b.png" %>
              </div>
            </div>
          </div>
          <div class="nps">
            <div class="nps__logo" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "cup-23ca782c0288bfb44b9294356987af8c.svg" %>
            </div>
            <p class="nps__text" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our NPS score in _3 2022 </p>
            <div class="nps__score-box" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p class="nps__score-text" data-target="page.loadOnScroll">83 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-section section no-padding" data-controller="services" data-target="page.section" data-theme="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
    <div class="services-section__container">
      <div class="section-content">
        <div>
          <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Who are we?</p>
          <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We are an end-to-end custom product development company.</h2>
        </div>
        <div class="services-section__main">
          <div class="services-section__content">
            <div class="content__wrapper">
              <div data-target="page.loadOnScroll" class="content__copy is-active" data-service="product-workshops">
                <h2 class="content__heading">Product Discovery Process</h2>
                <p class="content__paragraph">Do you have an idea of a product or service and want to bring it to life? We can provide you with a full custom software development starting with a series of Design Thinking workshops. We will define with you a detailed roadmap, refine the value proposition delivery, and design a clickable prototype that will let you test your concept. </p>
                <%= link_to homes_product_discovery_process_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="user-testing">
                <h2 class="content__heading">User Testing</h2>
                <p class="content__paragraph">There’s nothing worse than building on wrong assumptions, so before product development, we will help you quickly validate your concept. By preparing user interviews to verify your personas and usability testing to improve the UX of your products our team will increase your chance of success on the market. </p>
                <%= link_to homes_user_testing_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="product-design">
                <h2 class="content__heading">Product Design</h2>
                <p class="content__paragraph">A tailor-made approach to bring visual value to your project. Our teams of strategists and UX/UI designers are always ready to create stunning interfaces and branding from scratch for new custom products or to provide UX and UI design for existing apps. </p>
                <%= link_to homes_product_design_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="web-development">
                <h2 class="content__heading">Web Development</h2>
                <p class="content__paragraph">We started as a custom software development company. Our developers excel at both frontend and backend sides using the latest technologies and best practices. Together with product managers and quality assurance specialists, they deliver the end-to-end product for you. </p>
                <%= link_to homes_web_development_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="mobile-development">
                <h2 class="content__heading">Mobile Development</h2>
                <p class="content__paragraph">We build apps for iOS and Android devices using both native languages and cross-platform alternatives. We cover the custom software development by making sure the applications work smoothly on most used devices. </p>
                <%= link_to homes_mobile_development_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="mvp-development">
                <h2 class="content__heading">MVP Development</h2>
                <p class="content__paragraph">Ready to get your product up and running? We’ve got your back all the way - from choosing the adequate scope for the first release and deciding on the technology, through project management and product ownership, up to the roll-out. </p>
                <%= link_to homes_mvp_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
              <div data-target="page.loadOnScroll" class="content__copy" data-service="scrum-team">
                <h2 class="content__heading">Scrum Team Augmentation</h2>
                <p class="content__paragraph">Once your MVP has been built, it’s time for maintenance and set up of a product development roadmap to keep on growing. We’ll make sure there are no bugs and develop your custom product to its full potential. We can deploy a dedicated Scrum Team for you, on-demand! </p>
                <%= link_to homes_scrum_team_path do %>
                  <button class="btn arrow-button button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Read more
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="services-section__cards">
            <div class="services-section__card is-active" data-service="product-workshops" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "workshops-3b014831cffc0682d37a623adb6c751e.svg", class:"card__image" %>
                <h2 class="card__title">Product Discovery Process</h2>
              </div>
              <div class="card__content">
                <p class="card__text">Do you have an idea of a product or service and want to bring it to life? We can provide you with a full custom software development starting with a series of Design Thinking workshops. We will define with you a detailed roadmap, refine the value proposition delivery, and design a clickable prototype that will let you test your concept.</p>
                <a class="arrow-button  button-mobile" href="/en/services/workshops-and-prototyping" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="user-testing" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "user-testing-eb7a5c54e6aeb336236b4fd82c7362d7.svg", class:"card__image" %>
                <h2 class="card__title">User Testing</h2>
              </div>
              <div class="card__content">
                <p class="card__text">There’s nothing worse than building on wrong assumptions, so before product development, we will help you quickly validate your concept. By preparing user interviews to verify your personas and usability testing to improve the UX of your products our team will increase your chance of success on the market.</p>
                <a class="arrow-button  button-mobile" href="/en/services/user-testing" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="product-design" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "product-design-50bd01e8426a80c9860dd4b4e10efd34.svg", alt:" product design", class:"card__image" %>
                <h2 class="card__title">Product Design</h2>
              </div>
              <div class="card__content">
                <p class="card__text">A tailor-made approach to bring visual value to your project. Our teams of strategists and UX/UI designers are always ready to create stunning interfaces and branding from scratch for new custom products or to provide UX and UI design for existing apps.</p>
                <a class="arrow-button  button-mobile" href="/en/services/design" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="web-development" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "web-development-60a7da2bc79c42d2249bc509cf1deb36.svg", alt:" Web development", class:"card__image" %>
                <h2 class="card__title">Web Development</h2>
              </div>
              <div class="card__content">
                <p class="card__text">We started as a custom software development company. Our developers excel at both frontend and backend sides using the latest technologies and best practices. Together with product managers and quality assurance specialists, they deliver the end-to-end product for you.</p>
                <a class="arrow-button  button-mobile" href="/en/services/web-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="mobile-development" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "mobile-development-6d57b06938f087c4d9d3f9056e84d10b.svg", alt:" Mobile development", class:"card__image" %>
                <h2 class="card__title">Mobile Development</h2>
              </div>
              <div class="card__content">
                <p class="card__text">We build apps for iOS and Android devices using both native languages and cross-platform alternatives. We cover the custom software development by making sure the applications work smoothly on most used devices.</p>
                <a class="arrow-button  button-mobile" href="/en/services/mobile-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="mvp-development" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "mvp-development-4e93e3c0cac5a3c912e00b1385852cd6.svg", alt:"MVP", class:"card__image" %>
                <h2 class="card__title">MVP Development</h2>
              </div>
              <div class="card__content">
                <p class="card__text">Ready to get your product up and running? We’ve got your back all the way - from choosing the adequate scope for the first release and deciding on the technology, through project management and product ownership, up to the roll-out.</p>
                <a class="arrow-button  button-mobile" href="/en/services/mvp-development" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="services-section__card" data-service="scrum-team" data-target="page.loadOnScroll">
              <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "scrum-team-130cbf0ed907838d65c46d2e3dcbb430.svg", alt:" Scrum", class:"card__image" %>
                <h2 class="card__title">Scrum Team Augmentation</h2>
              </div>
              <div class="card__content">
                <p class="card__text">Once your MVP has been built, it’s time for maintenance and set up of a product development roadmap to keep on growing. We’ll make sure there are no bugs and develop your custom product to its full potential. We can deploy a dedicated Scrum Team for you, on-demand!</p>
                <a class="arrow-button  button-mobile" href="/en/services/scrum-team-augmentation" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Read more
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-we-can-help section no-padding" data-controller="howWeCanHelp" data-target="page.section" data-theme="color" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
    <div class="how-we-can-help__container">
      <div class="section-content">
        <div class="how-we-can-help__header" >
          <p class="subheading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">More than custom software development</p>
          <h2 class="heading" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">How can we help your product?</h2>
        </div>
        <div class="how-we-can-help__wrapper">
          <div class="how-we-can-help__cards">
            <div class="card is-active" data-section="startup-mvps" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
              <div class="card__header" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h3 class="card__header-title">Pre-seed</h3>
                <img src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" width="14" height="9" alt="">
              </div>
              <div class="card__content">
                <p class="content-text">Designed for early-stage startups. Break down your creative blocks, clarify reality, and define a sound business concept loaded with MVP potential.</p>
                <ul class="content-list">
                  <li>Product Discovery</li>
                  <li>Idea Validation</li>
                  <li>Prototyping</li>
                  <li>User Testing</li>
                  <li>Early Go-to-market</li>
                </ul>
                <a class="button card__button" href="/en/contact">
                <span class="text">L</span>
                <span>
                <img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
                </span>
                </a>
              </div>
            </div>
            <div class="card" data-section="agile-team" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
              <div class="card__header" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h3 class="card__header-title">Seed</h3>
                <img src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" width="14" height="9" alt="">
              </div>
              <div class="card__content">
                <p class="content-text">Created to guide seed startups through design, development and go-to-market decisions for your product. Develop products smarter and faster and jump to your next funding round.</p>
                <ul class="content-list">
                  <li>MVP / Rapid MVP</li>
                  <li>Product Discovery</li>
                  <li>Team Augmentation</li>
                  <li>User Testing</li>
                  <li>Go-to-market</li>
                </ul>
                <a class="button card__button" href="/en/contact">
                <span class="text">L</span>
                <span>
                <img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
                </span>
                </a>
              </div>
            </div>
            <div class="card" data-section="digital-transformation" data-target="howWeCanHelp.card" data-action="click->howWeCanHelp#onCardClickHandler">
              <div class="card__header" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h3 class="card__header-title">Series A+</h3>
                <img src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" width="14" height="9" alt="">
              </div>
              <div class="card__content">
                <p class="content-text">Made for scale-ups that have an established product-market fit and want to build 10x better products. Find new growth opportunities and understand your users better.</p>
                <ul class="content-list">
                  <li>Growth Design</li>
                  <li>Continuous Product Discovery</li>
                  <li>Opportunity Mapping</li>
                  <li>User Interviews</li>
                  <li>Scrum Team Augmentation</li>
                </ul>
                <a class="button card__button" href="/en/contact">
                <span class="text">Let's talk</span>
                <span>
                <img src="/packs/media/images/shared/arrow-right-bold-ad5748d942e416e8399ec0cc48be888b.svg" width="17" height="12" alt="">
                </span>
                </a>
              </div>
            </div>
          </div>
          <div class="desktop-content">
            <div class="desktop-content__wrapper is-active is-displayed" data-section="startup-mvps" data-target="howWeCanHelp.desktopContent">
              <div class="desktop-content__copy-wrapper">
                <div class="desktop-content__copy">
                  <p class="content-text">Designed for early-stage startups. Break down your creative blocks, clarify reality, and define a sound business concept loaded with MVP potential.</p>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button card__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
                </div>
                <ul class="content-list">
                  <li>Product Discovery</li>
                  <li>Idea Validation</li>
                  <li>Prototyping</li>
                  <li>User Testing</li>
                  <li>Early Go-to-market</li>
                </ul>
              </div>
            </div>
            <div class="desktop-content__wrapper" data-section="agile-team" data-target="howWeCanHelp.desktopContent">
              <div class="desktop-content__copy-wrapper">
                <div class="desktop-content__copy">
                  <p class="content-text">Created to guide seed startups through design, development and go-to-market decisions for your product. Develop products smarter and faster and jump to your next funding round.</p>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button card__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
                </div>
                <ul class="content-list">
                  <li>MVP / Rapid MVP</li>
                  <li>Product Discovery</li>
                  <li>Team Augmentation</li>
                  <li>User Testing</li>
                  <li>Go-to-market</li>
                </ul>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button card__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
            </div>
            <div class="desktop-content__wrapper" data-section="digital-transformation" data-target="howWeCanHelp.desktopContent">
              <div class="desktop-content__copy-wrapper">
                <div class="desktop-content__copy">
                  <p class="content-text">Made for scale-ups that have an established product-market fit and want to build 10x better products. Find new growth opportunities and understand your users better.</p>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button card__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
                </div>
                <ul class="content-list">
                  <li>Growth Design</li>
                  <li>Continuous Product Discovery</li>
                  <li>Opportunity Mapping</li>
                  <li>User Interviews</li>
                  <li>Scrum Team Augmentation</li>
                </ul>
                <%= link_to homes_contact_path do %>
                  <button class="btn arrow-button card__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Let’s talk!
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-box" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <h4 class="contact-box__title">We will tailor our process and solution to your needs</h4>
                <%= link_to homes_contact_path do %>
                  <button class="arrow-button contact-box__button" style='background-color: #0066ff; color: #ffffff; border-color: transparent'>
                  <span class='arrow arrow--left'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  <span class='main'>
                  <span class='text'>Get in touch
                  </span>
                  <span class='arrow arrow--right'>
                  <span class='shaft' style='background-color: #ffffff'></span>
                  </span>
                  </span>
                  </button>
                <% end %>
          <%= image_tag "contact-box-decor-a448e145fb9f3b7b7af579194aa02bd9.svg", class:"contact-box__image", width: "789", height: "170", alt: "" %>
        </div>
      </div>
    </div>
  </section>
  <div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="white" data-bgcolor="white" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);" class="scroll-transition">
    <section class="section case-study-rotator" data-target="case_study_rotator.section">
      <div class="row">
        <div class="col-xs-8 rotator-column">
          <div class="case-select-wrapper">
            <div class="case-select">
              <button class="case-select__button active" data-action="click->case_study_rotator#toggleCase" data-id="0" data-target="case_study_rotator.selectButton">
                <h4>CHOOOSE</h4>
              </button>
              <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="1" data-target="case_study_rotator.selectButton">
                <h4>DX</h4>
              </button>
              <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="2" data-target="case_study_rotator.selectButton">
                <h4>Leid.no</h4>
              </button>
              <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="3" data-target="case_study_rotator.selectButton">
                <h4>VCLeaders</h4>
              </button>
              <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="4" data-target="case_study_rotator.selectButton">
                <h4>Siemens Finance</h4>
              </button>
            </div>
            <div class="rotator-buttons">
              <button class="rotator-buttons__button rotator-buttons__button--left" data-action="click->case_study_rotator#togglePrevCase" aria-label="previous">
              <span class="ripple"></span>
              <%= image_tag("rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg", alt: "arrow left")%>
              </button>
              <button class="rotator-buttons__button rotator-buttons__button--right" data-action="click->case_study_rotator#toggleNextCase" aria-label="next">
              <span class="ripple"></span>
              <%= image_tag("rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg", alt: "arrow right")%>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-8 rotator-column">
          <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
          </a>
          <div class="case-description active" data-target="case_study_rotator.description" data-id="0" style="translate: none; rotate: none; scale: none; transform: translate(-50%, -50%); opacity: 1;">
            <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
              <div class="case-description__logo">
                <%= image_tag("chooose-1034e9b12a077450d869bac4d9bb4ff2.svg", alt:"Choose_img")%>
              </div>
              <span class="case-description__number">01</span>
              <p class="case-description__tagline">Experienced agile team prepared to scale up to battle climate change.</p>
              <p class="case-description__type"> <b>Web Development</b> - Platform for Climate tech</p>
            </a>
            <a class="arrow-button  chooose" href="/en/case-studies/chooose" id="project-chooose" rel="" style="background-color: #e8308a; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            View case
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
          </a>
          <div class="case-description" data-target="case_study_rotator.description" data-id="1" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(200%, -50%);">
            <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
              <div class="case-description__logo">
                <img alt="DX logo" src="/packs/media/images/home/rotator/dx/dx-39e83e236361c3c13d8bdb3866e9e0ed.svg">
              </div>
              <span class="case-description__number">02</span>
              <p class="case-description__tagline">A complete discovery of a new platform for cinemas, theatres, and other events’ organisers</p>
              <p class="case-description__type"><strong>Mobile Development</strong> - Cinema and event management tool</p>
            </a>
            <a class="arrow-button  dx" href="/en/case-studies/dx" id="project-dx" rel="" style="background-color: #4f46e5; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            View case
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
          </a>
          <div class="case-description" data-target="case_study_rotator.description" data-id="2">
            <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
              <div class="case-description__logo">
                <img alt="Leid.no logo" src="/packs/media/images/home/rotator/leid/leid-dc3b3397b6f841accb1476761053951d.svg">
              </div>
              <span class="case-description__number">03</span>
              <p class="case-description__tagline">More than off-the-shelf solution for making tools affordably available, so that renting becomes a better option than owning.</p>
              <p class="case-description__type"><strong>Web Development</strong> - E-commerce rental platform for sustainability</p>
            </a>
            <a class="arrow-button  leid" href="/en/case-studies/leid" id="project-leid" rel="" style="background-color: #4e8278; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            View case
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
          </a>
          <div class="case-description" data-target="case_study_rotator.description" data-id="3">
            <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
              <div class="case-description__logo">
                <img alt="VCLeaders logo" src="/packs/media/images/home/rotator/vcleaders/vcleaders-4f221b1b2d0e533043212b41626d5b12.svg">
              </div>
              <span class="case-description__number">04</span>
              <p class="case-description__tagline">Designing a brand identity of a community building platform for VC professionals.</p>
              <p class="case-description__type"><strong>Web Development</strong> - Knowledge Sharing &amp; Community Building Platform</p>
            </a>
            <a class="arrow-button  vcleaders" href="/en/case-studies/vcleaders" id="project-vcleaders" rel="" style="background-color: #002990; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            View case
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
          </a>
          <div class="case-description" data-target="case_study_rotator.description" data-id="4">
            <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
              <div class="case-description__logo">
                <img alt="Siemens Finance logo" src="/packs/media/images/home/rotator/siemens/siemens-0fb53d717b2431c726a81eec9b97aa61.svg">
              </div>
              <span class="case-description__number">05</span>
              <p class="case-description__tagline">From an idea to product - testing comprehensive cloud-based financial platform solutions.</p>
              <p class="case-description__type"><strong>Web Development</strong> - Platform for Fintech</p>
            </a>
            <a class="arrow-button  siemens" href="/en/case-studies/siemens" id="project-siemens" rel="" style="background-color: #4bb9b9; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            View case
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
        </div>
        <div class="col-xs-8 rotator-column">
          <div class="case-image-wrapper" data-target="case_study_rotator.imageWrapper" style="background-color: rgb(255, 215, 220);">
            <div class="case-image case-image--chooose active" data-bgcolor="#ffd7dc" data-target="case_study_rotator.image" data-id="0" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0%, 0px);">
              <%= image_tag("chooose-26b2a59344b26f135ec5507c302fe3b1.webp", alt: "Choose_img") %>
            </div>
            <div class="case-image case-image--dx" data-bgcolor="#ecebff" data-target="case_study_rotator.image" data-id="1" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(200%, 0px);">
              <picture>
                <source srcset="/packs/media/images/home/rotator/dx/dx-9fd1b79b3f98ad9a6374a02cc9a710b2.webp" type="image/webp">
                <source srcset="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" type="image/png">
                <img data-target="page.loadOnScroll" alt="DX" src="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" class="scroll-transition">
              </picture>
            </div>
            <div class="case-image case-image--leid" data-bgcolor="#b0ccc7" data-target="case_study_rotator.image" data-id="2">
              <picture>
                <source srcset="/packs/media/images/home/rotator/leid/leid-141e53032e3c36a9a1aabe9cfc74202c.webp" type="image/webp">
                <source srcset="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" type="image/png">
                <img data-target="page.loadOnScroll" alt="Leid.no" src="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" class="scroll-transition">
              </picture>
            </div>
            <div class="case-image case-image--vcleaders" data-bgcolor="#e1e9f1" data-target="case_study_rotator.image" data-id="3">
              <picture>
                <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-616bd8341dded0ece43143e800554b57.webp" type="image/webp">
                <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" type="image/png">
                <img data-target="page.loadOnScroll" alt="VC Leaders" src="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" class="scroll-transition">
              </picture>
            </div>
            <div class="case-image case-image--siemens" data-bgcolor="#4bb9b9" data-target="case_study_rotator.image" data-id="4">
              <picture>
                <source srcset="/packs/media/images/home/rotator/siemens/siemens-5655a59a34117f1e7ca2649ef4941ab9.webp" type="image/webp">
                <source srcset="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" type="image/png">
                <img data-target="page.loadOnScroll" alt="Siemens" src="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" class="scroll-transition">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section clients no-padding black" data-target="page.section" data-theme="color" data-bgcolor="#04080f" data-animate="" data-snap="" style="background-color: rgb(4, 8, 15); color: rgb(255, 255, 255);">
    <div class="section-content" data-controller="clients">
      <div class="row">
        <div class="col-xs-24 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <h3 class="clients__title scroll-transition" data-target="page.loadOnScroll">
            We're proud to have worked with amazing clients
          </h3>
        </div>
        <div class="col-xs-24 col-md-12" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <p class="clients__description scroll-transition" data-target="page.loadOnScroll">
            We are a full-service product house with offices in Poland. Our clients are large corporations and scaling startups. As a group of start-up teams and individual developers to hire, we’re with you from the start and we stay with you until you reach your business goals. Once we jump on board, your success is our finish line.
          </p>
        </div>
      </div>
      <div class="logos">
        <div class="row">
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 0.8674;">
              <div class="client-logo dnb" data-client="dnb"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo nabla-vind" data-client="nabla-vind"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo noffe" data-client="noffe"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo magnitt" data-client="magnitt"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo my-food-office" data-client="my-food-office"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo lexolve" data-client="lexolve"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo maindeck" data-client="maindeck"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo first-engineers" data-client="first-engineers"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo hindsight" data-client="hindsight"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="clients.inactiveOnMobile page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo employment" data-client="employment"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="clients.inactiveOnMobile page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo petricore" data-client="petricore"></div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6 logos__logo-wrapper scroll-transition" data-target="clients.inactiveOnMobile page.loadOnScroll">
            <div class="logo-image" data-target="clients.logo" style="opacity: 1;">
              <div class="client-logo konsus" data-client="konsus"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clients__inactive-logos" data-target="clients.inactiveLogoWrapper">
        <div class="col-xs-8 col-md-6 logos__logo-wrapper">
          <div class="logo-image inactive" data-target="clients.logo">
            <div class="client-logo hometrotter" data-client="hometrotter"></div>
          </div>
        </div>
        <div class="col-xs-8 col-md-6 logos__logo-wrapper">
          <div class="logo-image inactive" data-target="clients.logo">
            <div class="client-logo siemens" data-client="siemens"></div>
          </div>
        </div>
        <div class="col-xs-8 col-md-6 logos__logo-wrapper">
          <div class="logo-image inactive" data-target="clients.logo">
            <div class="client-logo toyota" data-client="toyota"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section praise-slider no-padding" data-target="page.section" data-theme="white" data-animate="" data-snap="" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
    <div class="section-content" data-controller="praise_slider">
      <div class="praise-slider__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <p class="praise-slider__section-subtitle scroll-transition" data-target="page.loadOnScroll">
          Our product development stories
        </p>
        <h3 class="praise-slider__section-title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          What our Clients say?
        </h3>
      </div>
      <div class="praise-slider__swipe-container" data-target="praise_slider.swipeContainer">
        <div class="praise-slider__main">
          <div class="praise-slider__thumbnails-wrapper">
            <div class="praise-slider__thumbnails" data-target="praise_slider.thumbnailsWrapper">
              <div class="praise-slider__thumbnail-wrapper active" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image lazy-image loaded">
                    <%= image_tag("merete-57df627691d7d3e6c8856473b357cc86.jpg", alt:"img")%>
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/gaute-1b13f28d77a690c5f6226a115d8e1471.png" src="/packs/media/images/home/praise-slider/gaute-1b13f28d77a690c5f6226a115d8e1471.png" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/thomas-2-1fbd3d495f12e05fb38d4c429b2d2970.jpg" src="/packs/media/images/home/praise-slider/thomas-2-1fbd3d495f12e05fb38d4c429b2d2970.jpg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/marcin2-96989d6a6b8a439f9a1cee1038df34a5.jpg" src="/packs/media/images/home/praise-slider/marcin2-96989d6a6b8a439f9a1cee1038df34a5.jpg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/jide-15e07deefba3c44bb23dd3bb45a7118d.jpg" src="/packs/media/images/home/praise-slider/jide-15e07deefba3c44bb23dd3bb45a7118d.jpg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/leonardo-461a77ca2ea959d889cd111bdb8cbf2f.png" src="/packs/media/images/home/praise-slider/leonardo-461a77ca2ea959d889cd111bdb8cbf2f.png" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/sasaan2-e334dfe130b2c129ef8625cb1bec9050.jpg" src="/packs/media/images/home/praise-slider/sasaan2-e334dfe130b2c129ef8625cb1bec9050.jpg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/pawel-b32c583ea803f679e8795e643b81fc4d.png" src="/packs/media/images/home/praise-slider/pawel-b32c583ea803f679e8795e643b81fc4d.png" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/orjan-e607916726bac4b330ebfa67d21d18e9.jpeg" src="/packs/media/images/home/praise-slider/orjan-e607916726bac4b330ebfa67d21d18e9.jpeg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/kristen-956e7d0dabe57a6b15afc666306541e9.jpeg" src="/packs/media/images/home/praise-slider/kristen-956e7d0dabe57a6b15afc666306541e9.jpeg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/leid-thommy-b7f09f38d4bb411120041c8562001219.jpeg" src="/packs/media/images/home/praise-slider/leid-thommy-b7f09f38d4bb411120041c8562001219.jpeg" data-was-processed="true">
                  </div>
                </div>
              </div>
              <div class="praise-slider__thumbnail-wrapper" data-target="praise_slider.thumbnail" data-action="click->praise_slider#toggleSlide">
                <div class="slider_thumbnail">
                  <div class="slider_thumbnail__image">
                    <img class="lazy-image loaded" alt="" data-src="/packs/media/images/home/praise-slider/qnappen-svein-b150ceaba60402583a9f58ecd4d56afe.jpeg" src="/packs/media/images/home/praise-slider/qnappen-svein-b150ceaba60402583a9f58ecd4d56afe.jpeg" data-was-processed="true">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="praise-slider__content scroll-transition" data-target="page.loadOnScroll">
            <div class="col-md-16 col-xs-24 praise-slider__slide-container" data-target="praise_slider.sliderMain" style="height: 303px;">
              <div class="praise-slider__slide active" data-target="praise_slider.slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>"We’ve used Startup Development House for developing the MVP for my start-up. Startup Development House was easy to communicate with, and did a great job proposing solutions and design for the MVP. Considering that I do not have any technical background myself, Startup Development House made it easy to build our first prototype."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Merete Nygaard</p>
                  <p>CEO &amp; Founder, Lexolve</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Our partnership with Startup Development House has allowed us to build a great product team with talented people. I'd recommend them to anyone who wishes to access experienced development talent in Poland."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Gaute Gamst</p>
                  <p>CTO &amp; Founder, Chooose</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Having worked with multiple software agencies over the last few years, SDH’s dedication and attention to detail really stands out. Working with SDH feels like having an in-house team of exceptional engineers and designers. They commit to the project beyond its scope, they challenge your ideas and go the extra mile to ensure that you succeed."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Thomas Sveum</p>
                  <p>CEO, Startupmatcher</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Startup Development House delivers great results because they understand our business, markets and customers very well. Working with them is like having an internal product development team with the additional benefit of them contributing their broad experience from other innovative projects."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Marcin Strawczyński</p>
                  <p>Siemens Finance</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Socialhealth is a transformational digital health tool that presents Nigerians a leapfrog customer experience in the healthcare sector and supports the sector’s desperate need for more resilience and responsiveness in the face of the COVID-19 pandemic. SDH were able to meet my demanding request to deliver on this product in less than 2 weeks and do so with excellent project management, creativity and technical capability."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Jide Odunsi</p>
                  <p>Executive Director at GLP</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"They are much more than just great developers and designers, they are valuable team players that care about delivering great products. Their can-do attitude and genuine interest of understanding the end user and the problems that are being solved is why they are our preferred partner, and we are already planning the next project together."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Leonardo Ruspini</p>
                  <p>Product Development Manager, Petricore</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Choosing to work with Startup House is perhaps the smartest thing we’ve done. They are much more than just great developers and designers, they are valuable team players that care about delivering great products. Their can-do attitude and genuine interest in understanding the end user and the problems that are being solved is why they are our preferred partner, and we are already planning the next project together."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Sasan Mameghani</p>
                  <p>CEO and Founder, Maindeck</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Great design doesn’t have to be complicated. It needs to reveal the true nature of a company and its value proposition. Thanks to Startup Development House we were able to clearly articulate ours. It wasn’t a simple task, but the SDH Team made the challenge look easy!"</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Paweł Michalski</p>
                  <p>CEO, VCLeaders</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"I did not know the outcome of the discovery at the very beginning, it was my first product discovery. However now I see the whole picture, you were very helpful in guiding us through the process and I am impressed, you are really good at it!"</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Ørjan Eilertsen</p>
                  <p>Product Manager, DX</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"I would also like to say I was impressed by the work done so far. The demo (...) was great, because it is already a progress even though we are just in the beginning."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Kristin Laahne Olsen</p>
                  <p>Product Leader, DX</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Startup Development House has produced a functional e-commerce platform. A reliable and responsive partner, they create what they promise and they stay within budget. The client feels like they're an extension of their team. Overall, they have a fruitful ongoing collaboration."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Thommy Tellefsen</p>
                  <p>CEO, Leid</p>
                </div>
              </div>
              <div class="praise-slider__slide" data-target="praise_slider.slide">
                <p>"Startup Development House has received positive feedback on the platforms they've developed. They're commended for their solid communication skills and remarkable project management process. Customers can expect a knowledgeable, understanding, and professional team to work with them."</p>
                <div class="praise-slider__slide-footer  praise-slider__slide-footer--mobile">
                  <p class="slide-name">Svein-Magnar Nylund</p>
                  <p>CEO, Qnappen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="praise-slider__bottom">
          <div class="praise-slider__buttons">
            <div class="praise-slider__button button-left" data-action="click->praise_slider#togglePrevSlide">
              <%= image_tag("arrow-button-dark-051c68cc8e97fd488c7f12abdb5ae36f.svg", alt: "arrow icon") %>
            </div>
            <div class="praise-slider__count">
              <p data-target="praise_slider.count">1 / 12</p>
            </div>
            <div class="praise-slider__button button-right" data-action="click->praise_slider#toggleNextSlide">
              <%= image_tag("arrow-button-dark-051c68cc8e97fd488c7f12abdb5ae36f.svg", alt: "arrow icon") %>
            </div>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop active" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Merete Nygaard</p>
            <p>CEO &amp; Founder, Lexolve</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Gaute Gamst</p>
            <p>CTO &amp; Founder, Chooose</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Thomas Sveum</p>
            <p>CEO, Startupmatcher</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Marcin Strawczyński</p>
            <p>Siemens Finance</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Jide Odunsi</p>
            <p>Executive Director at GLP</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Leonardo Ruspini</p>
            <p>Product Development Manager, Petricore</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Sasan Mameghani</p>
            <p>CEO and Founder, Maindeck</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Paweł Michalski</p>
            <p>CEO, VCLeaders</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Ørjan Eilertsen</p>
            <p>Product Manager, DX</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Kristin Laahne Olsen</p>
            <p>Product Leader, DX</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Thommy Tellefsen</p>
            <p>CEO, Leid</p>
          </div>
          <div class="praise-slider__slide-footer praise-slider__slide-footer--desktop" data-target="praise_slider.desktopFooter">
            <p class="slide-name">Svein-Magnar Nylund</p>
            <p>CEO, Qnappen</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tech-stack section no-padding" data-target="page.section" data-theme="black" style="background-color: rgb(4, 8, 15); color: rgb(255, 255, 255);">
    <div class="tech-stack__container">
      <div class="section-content">
        <div class="tech-stack__header">
          <h4 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Find the best technology for your product</h4>
          <p class="paragraph scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Having released over 40 products we have a set of technologies that we love to work with. Tell us about your product vision and goals and we will choose technologies that will help you achieve them.</p>
        </div>
        <div class="row technology-cards">
          <div class="technology-card technology-card--react scroll-transition" data-target="page.loadOnScroll">
            <a href="/en/technologies/react" class="technology-card__link" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="technology-card__main">
                <div class="technology-card__header" >
                  <div class="technology-card__title-wrapper technology-card__image">
                    <%= image_tag("logo-react-c4d4c0f5221bd5f9a608564f573ad6cf.svg") %>
                    <h2 class="technology-card__title">React</h2>
                  </div>
                  <div class="technology-card__arrow">
                    <%= image_tag("arrow-77a2ef830f820cf428b924d935d09dc0.svg") %>
                  </div>
                </div>
                <ul class="technology-card__list">
                  <li>Scalable, flexible and solid</li>
                  <li>Fast site rendering</li>
                  <li>SEO friendly</li>
                  <li>Powerful toolset for quick development</li>
                </ul>
              </div>
            </a>
            <div class="arrow-button  technology-card__button ">
              <span class="arrow arrow--left">
              <span class="shaft" style="background-color: #ffffff"></span>
              </span>
              <span class="main">
              <span class="text">
              <%= link_to "Read more", homes_react_path, style: "color: white; text-decoration: none" %>
              </span>
              <span class="arrow arrow--right">
              <span class="shaft" style="background-color: #ffffff"></span>
              </span>
              </span>
            </div>
          </div>
          <div class="technology-card technology-card--node scroll-transition" data-target="page.loadOnScroll">
            <a href="/en/technologies/nodejs" class="technology-card__link" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="technology-card__main">
                <div class="technology-card__header">
                  <div class="technology-card__title-wrapper technology-card__image">
                    <%= image_tag("logo-node-45373524a9066c5ee0fe51b2605d22aa.svg", alt: "Node.js") %>
                    <h2 class="technology-card__title">Node.js</h2>
                  </div>
                  <div class="technology-card__arrow">
                    <%= image_tag("arrow-77a2ef830f820cf428b924d935d09dc0.svg") %>
                  </div>
                </div>
                <ul class="technology-card__list">
                  <li>Very easily scalable</li>
                  <li>Allows to use JavaScript skills to develop backend</li>
                  <li>Quick app development &amp; deployment</li>
                </ul>
              </div>
            </a>
            <a class="arrow-button  technology-card__button" href="/en/technologies/nodejs" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Read more
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <div class="technology-card technology-card--ror scroll-transition" data-target="page.loadOnScroll">
            <a href="/en/technologies/rails" class="technology-card__link" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="technology-card__main">
                <div class="technology-card__header">
                  <div class="technology-card__title-wrapper technology-card__image">
                    <%= image_tag("logo-ror-d609cebe5a4e303f118e4c754e20ba3a.svg", alt: "ruby on rails") %>
                    <h2 class="technology-card__title">Ruby on Rails</h2>
                  </div>
                  <div class="technology-card__arrow">
                    <%= image_tag("arrow-77a2ef830f820cf428b924d935d09dc0.svg") %>
                  </div>
                </div>
                <ul class="technology-card__list">
                  <li>Quick prototyping and deployment</li>
                  <li>Thousands of plugins (gems)</li>
                  <li>Support of large community</li>
                </ul>
              </div>
            </a>
            <a class="arrow-button  technology-card__button" href="/en/technologies/rails" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Read more
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <div class="technology-card technology-card--angular scroll-transition" data-target="page.loadOnScroll">
            <a href="/en/technologies/angular" class="technology-card__link" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="technology-card__main">
                <div class="technology-card__header">
                  <div class="technology-card__title-wrapper technology-card__image">
                    <%= image_tag("logo-angular-c2f819640e5aff70b395e677372bdcce.svg", alt: "angular") %>
                    <h2 class="technology-card__title">Angular</h2>
                  </div>
                  <div class="technology-card__arrow">
                    <img src="/packs/media/images/home/technologies/arrow-77a2ef830f820cf428b924d935d09dc0.svg" width="50" height="50" alt="">
                  </div>
                </div>
                <ul class="technology-card__list">
                  <li>Cross-platform apps</li>
                  <li>High performance</li>
                  <li>Long-term support from Google</li>
                </ul>
              </div>
            </a>
            <a class="arrow-button  technology-card__button" href="/en/technologies/angular" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Read more
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
          <div class="technology-card technology-card--rn scroll-transition" data-target="page.loadOnScroll">
            <a href="/en/technologies/react-native" class="technology-card__link" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="technology-card__main">
                <div class="technology-card__header">
                  <div class="technology-card__title-wrapper technology-card__image">
                    <%= image_tag("logo-rn-c4d4c0f5221bd5f9a608564f573ad6cf.svg", alt: "react native") %>
                    <h2 class="technology-card__title">React Native</h2>
                  </div>
                  <div class="technology-card__arrow">
                    <img src="/packs/media/images/home/technologies/arrow-77a2ef830f820cf428b924d935d09dc0.svg" width="50" height="50" alt="">
                  </div>
                </div>
                <ul class="technology-card__list">
                  <li>Cost effective mobile app development</li>
                  <li>Ready to reuse components</li>
                  <li>Supports external plugins</li>
                </ul>
              </div>
            </a>
            <a class="arrow-button  technology-card__button" href="/en/technologies/react-native" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Read more
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="lightGray" data-bgcolor="white" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
    <div class="latest-posts__container">
      <div class="section-content">
        <div class="latest-posts__header">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our voice</p>
          <div class="heading-wrapper">
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Latest posts <br> on our Blog</h2>
            <a class="button-desktop" href="/en/blog">
            <span class="text">View more posts</span>
            <%= image_tag("arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg") %>
            </a>
          </div>
        </div>
        <div class="posts" data-target="latest_posts.posts">
          <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
            <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
            <div class="post__metadata">
              <p>Startups</p>
              <p>Jan 26, 2023</p>
            </div>
            <h3 class="post__content">
              How Accelerators Help Startups
            </h3>
          </a>
          <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
            <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
            <div class="post__metadata">
              <p>Startups</p>
              <p>Jan 19, 2023</p>
            </div>
            <h3 class="post__content">
              Value Proposition Canvas Explained
            </h3>
          </a>
        </div>
        <a class="button-mobile" href="/en/blog">
        <span class="text">View more posts</span>
        <img src="/packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt="">
        </a>
      </div>
    </div>
  </section>
</main>
<script>
  _linkedin_partner_id = "458204";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script>
  (function(){var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "../../snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
  <img alt='' height='1' src='https://www.linkedin.com/px/li_sync?redirect=https%3A%2F%2Fpx.ads.linkedin.com%2Fcollect%3Fpid%3D458204%26fmt%3Dgif%26cookiesTest%3Dtrue%26liSync%3Dtrue' style='display:none;' width='1' />
</noscript>
<script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
<noscript>
  <img height='1' src='../../www.facebook.com/tr_3bba785a' style='display:none' width='1' />
</noscript>
</body>
</html>