<body class="" style="overflow-y: visible;">
  <noscript>
    <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
  </noscript>
  <main class="page no-padding service mobile-development services-subpage" data-controller="page" data-lazy="true">
    <section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFF9EB" data-color="#000000" style="background-color: rgb(255, 249, 235); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="container">
          <div class="content">
            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h1 class="content__title">Mobile application development with an inspiring design.</h1>
              <p class="content__subtitle">Discover new potential customer segments by introducing a native mobile application that can complement your web application or be an innovative stand-alone product.</p>
            </div>
          </div>
          <%= image_tag "main-image-70c85eb9daca22cee0749b8cc3fc534c.svg", alt: "", class:"image" %>
          <%# <img class="image " src="/packs/media/images/services/mobile_development/main-image-70c85eb9daca22cee0749b8cc3fc534c.svg" alt=""> %>
        </div>
      </div>
    </section>
    <section class="section simple-cards simple-cards--reversed no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="simple-cards__wrapper">
          <div class="simple-cards__top">
            <div class="custom-header" >
              <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Look for the right market</p>
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why should you consider developing a mobile application?</h2>
            </div>
            <p class="description">Web apps are a great way to kickstart a business, get to know the users and check what’s right for you to further business development.</p>
          </div>
          <div class="cards" data-aos="fade-up">
            <div class="card scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "globe-3d70460f5ffcbedf1ab48349303c9dc6.svg", alt: "", class:"image" %>
              <%# <img class="card__image" src="/packs/media/images/shared/icons-vibrant/globe-3d70460f5ffcbedf1ab48349303c9dc6.svg" alt=""> %>
              <h3 class="card__title">Expand your potential market</h3>
              <p class="card__content">Persona interviews will help you better understand the user, starting from their basic needs and ending with more in-depth insights into how they will use the product.</p>
            </div>
            <div class="card scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "pin-db8e81b271190423c6a6c02974a36a2f.svg", alt: "", class:"image" %>
              <%# <img class="card__image" src="/packs/media/images/shared/icons-vibrant/pin-db8e81b271190423c6a6c02974a36a2f.svg" alt=""> %>
              <h3 class="card__title">Know where to build</h3>
              <p class="card__content">There are two major operating systems in the market: Android with 70.68% share &amp; iOS with 28.79%. Currently, those two biggest competitors are taking over ~99.5% of the market.</p>
            </div>
            <div class="card scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "mobile-c1ee61e64303a0ebf6728a2dec59b397.svg", alt: "", class:"image" %>
              <%# <img class="card__image" src="/packs/media/images/shared/icons-vibrant/mobile-c1ee61e64303a0ebf6728a2dec59b397.svg" alt=""> %>
              <h3 class="card__title">Demanding mobile business</h3>
              <p class="card__content">With more than 2,000,000 apps on each major store, users expect high-quality, performant, and consistent apps.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section application-types no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-controller="applicationTypes" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="application-types__wrapper">
          <div class="custom-header">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Choose the suitable solution</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What are the types of applications available on mobile?</h2>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll applicationTypes.card" data-action="click->applicationTypes#onCardClickHandler">
            <div class="card__header">
              <p class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web Application</p>
              <img class="card__arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
            </div>
            <div class="card__content">
              <p class="card__description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">A mobile web app is a website that is adapted to look &amp; behave appropriately on mobile devices. RWD (Responsive Web Design) is the common term used for these behaviors. By using HTML &amp; CSS, we can make apps that adapt to the current device size.</p>
              <ul class="card__list">
                <li class="card__list-item">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <b>PWA</b> – progressive web app can answer some of these expectations. By extending the browser capabilities, we make offline usage of applications, extended API to device hardware &amp; experience similar to the native one.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll applicationTypes.card" data-action="click->applicationTypes#onCardClickHandler">
            <div class="card__header">
              <p class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Native Application</p>
              <img class="card__arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
            </div>
            <div class="card__content">
              <p class="card__description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Some features that are available only on phones or need some more computing power for your app. It's safe to say that a native app is a way to go.</p>
              <ul class="card__list">
                <li class="card__list-item">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <b>iOS</b> – a right choice if you want a dedicated solution for this platform. Every new feature is available without issues. Apps are written in Objective-C or modern Swift programming language.
                  </p>
                </li>
                <li class="card__list-item">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <b>Android</b> – similar to iOS by accessing all of the new platform features, along with APIs with code written in Java or modern Kotlin language.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll applicationTypes.card" data-action="click->applicationTypes#onCardClickHandler">
            <div class="card__header">
              <p class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Cross-platform Application</p>
              <img class="card__arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
            </div>
            <div class="card__content">
              <p class="card__description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Over the years, we found that having separate codebases for applications costs too much, even for big companies. Hence, the solution is to have a single codebase, which can be built as a separate native Android or iOS app.</p>
              <ul class="card__list">
                <li class="card__list-item">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <b>React Native</b> – based on React.js, the most popular web framework, React Native allows writing code in an environment familiar to web developers, although rendered elements on the app are pure native. It's our go-to choice to have an app look platform- consistent. Also, it always allows fallback to a pure native solution if necessary.
                  </p>
                </li>
                <li class="card__list-item">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <b>Flutter</b> – with its initial release in 2017, Flutter, backed by Google, is a new way for building cross-platform apps in Dart programming language. Google rewrote the UI part of the application to look and behave consistently on both iOS &amp; Android systems. Although Flutter is a newcomer in the game, its popularity is rising fast.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section scrolled-list scrolled-list-- no-padding" data-target="page.section" data-controller="scrolledList" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
      <div class="section-content">
        <div class="scrolled-list__wrapper">
          <div class="scrolled-list__header">
            <div class="custom-header  ">
              <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Proven product workflow</p>
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does mobile app development look like?</h2>
            </div>
          </div>
          <div class="list-wrapper" data-target="scrolledList.swipeContainer">
            <ul class="list ">
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">1</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt=""> %>
                  <%# <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Workshops and Ideation</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Taking time to polish up the value proposition and understand the user is necessary to ensure the solid foundation of the business concept.</p>
                </div>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">2</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt="">
                  <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title data-aos="fade-up" data-aos-anchor-placement="top-bottom"">Product Design</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our designers refine the wireframes and translate the rest of the user stories into a visual interface adopting a user-first approach.</p>
                </div>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">3</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt="">
                  <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Usability Testing</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">The concept and prototype are tested on suitable personas gathering feedback for UX and UI adjustments.</p>
                </div>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">4</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt="">
                  <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Application Development</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We combine test-driven development (TDD) and agile approach to ensure a smooth development process that will quickly react to market needs.</p>
                </div>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">5</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt="">
                  <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Application Maintenance</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We continuously observe the product’s performance. Technologies get outdated, security threats need to be mitigated, and your solution must be ready to face huge numbers of users.</p>
                </div>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                <div class="list__item-index">
                  <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">6</p>
                  <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "", class:"line line--mobile" %>
                  <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "", class:"image" %>
                  <%# <img class="line line--mobile" src="/packs/media/images/shared/dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" alt="">
                  <img class="line line--desktop" src="/packs/media/images/shared/dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" alt=""> %>
                </div>
                <div class="list__item-content">
                  <h2 class="list__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Further Development</h2>
                  <p class="list__item-description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Seeing real users interact with the product makes it easier to plan the next business development steps, prioritize new features and build a long term roadmap.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section vertical-image-and-text no-padding" data-target="page.section" data-theme="monoBaseBlack" data-color="black" data-bgcolor="#FFF9EB" style="background-color: rgb(255, 249, 235); color: black;">
      <div class="section-content">
        <div class="vertical-image-and-text__wrapper">
          <%= image_tag "mobile-vertical-5a3d8c7b5c72ab7e14570f894ff346f5.svg", alt: "", class:"vertical-image-and-text__image scroll-transition" %>
          <%# <img class="vertical-image-and-text__image scroll-transition" data-target="page.loadOnScroll" src="/packs/media/images/services/mobile_development/mobile-vertical-5a3d8c7b5c72ab7e14570f894ff346f5.svg" alt=""> %>
          <div class="vertical-image-and-text__content">
            <div class="custom-header  ">
              <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Battle tested technology</p>
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why do we love developing mobile apps in React Native?</h2>
            </div>
            <p class="description scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">This framework is our proposed way of developing mobile apps. Using the most popular solutions derived from React.js, we can build robust, purely native-looking applications that behind the hood are using the Javascript framework.</p>
            <p class="description scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Using React Native creates the possibility to use one programming language between the whole project. It means similar tooling for your backend and frontend needs that allows easy code reuse between platforms. It strongly improves time to market, benefits code stability and, by that, the project’s success.</p>
            <ul class="list" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <li class="list__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>Mature toolset battle-tested on web platform</p>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>Highest performance</p>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>Capabilities to bridge between itself and purely native code</p>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>Large community</p>
              </li>
              <li class="list__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>Short compilation time</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section white practices no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
      <div class="section-content">
        <div class="practices__wrapper">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Efficiency comes with experience</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Quality ensuring mobile development practices</h2>
          </div>
          <div class="cards">
            <div class="card card--gray scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="card__title">TDD - test driven development</h2>
              <p class="card__content">With tools like Detox and React Native testing library, we can achieve close to 100% code coverage.</p>
            </div>
            <div class="card card--gray scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="card__title">Typescript</h2>
              <p class="card__content">We believe in support of having strongly typed language, our must-have on bigger projects.</p>
            </div>
            <div class="card card--gray scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="card__title">CI/CD</h2>
              <p class="card__content">With the support of Github &amp; CircleCi solutions, we do automation of tests and releases of applications.</p>
            </div>
            <div class="card card--gray scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="card__title">Clean Architecture</h2>
              <p class="card__content">We believe in an architecture that allows us to add testable features fast without messing with the code.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section services-list no-padding" data-target="page.section" data-theme="monoBaseBlack" data-color="#000000" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="services-list__wrapper">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Technology that delivers</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What to consider when choosing technology for mobile application?</h2>
          </div>
          <div class="services-list__container">
            <ul class="list scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <li class="list__item">Notification support on iOS platform</li>
              <li class="list__item">Presence on app and play store</li>
              <li class="list__item">Javascript ecosystem shortcomings</li>
              <li class="list__item">Consistent platform look</li>
              <li class="list__item">Background tasks</li>
              <li class="list__item">Contact book</li>
              <li class="list__item">Performance &amp; responsiveness</li>
              <li class="list__item">Storage limitations</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" class="scroll-transition" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
      <div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" class="scroll-transition" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        <section class="section case-study-rotator" data-target="case_study_rotator.section">
          <div class="row">
            <div class="col-xs-8 rotator-column">
              <div class="case-select-wrapper">
                <div class="case-select">
                  <button class="case-select__button active" data-action="click->case_study_rotator#toggleCase" data-id="0" data-target="case_study_rotator.selectButton">
                    <h4>CHOOOSE</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="1" data-target="case_study_rotator.selectButton">
                    <h4>DX</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="2" data-target="case_study_rotator.selectButton">
                    <h4>Leid.no</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="3" data-target="case_study_rotator.selectButton">
                    <h4>VCLeaders</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="4" data-target="case_study_rotator.selectButton">
                    <h4>Siemens Finance</h4>
                  </button>
                </div>
                <div class="rotator-buttons">
                  <button class="rotator-buttons__button rotator-buttons__button--left" data-action="click->case_study_rotator#togglePrevCase" aria-label="previous">
                  <span class="ripple"></span>
                  <%= image_tag "rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" %>
                  <%# <img alt="" src="/packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg"> %>
                  </button>
                  <button class="rotator-buttons__button rotator-buttons__button--right" data-action="click->case_study_rotator#toggleNextCase" aria-label="next">
                  <span class="ripple"></span>
                  <%= image_tag "rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" %>
                  <%# <img alt="" src="/packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg"> %>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-8 rotator-column">
              <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
              </a>
              <div class="case-description active" data-target="case_study_rotator.description" data-id="0" style="translate: none; rotate: none; scale: none; transform: translate(-50%, -50%); opacity: 1;">
                <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
                  <div class="case-description__logo">
                    <%= image_tag "chooose-1034e9b12a077450d869bac4d9bb4ff2.svg", alt: "CHOOOSE logo", class:"card-design" %>
                    <%# <img alt="CHOOOSE logo" src="/packs/media/images/home/rotator/chooose/chooose-1034e9b12a077450d869bac4d9bb4ff2.svg"> %>
                  </div>
                  <span class="case-description__number">01</span>
                  <p class="case-description__tagline">Experienced agile team prepared to scale up to battle climate change.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Platform for Climate tech</p>
                </a>
                <a class="arrow-button  chooose" href="/en/case-studies/chooose" id="project-chooose" rel="" style="background-color: #e8308a; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="1">
                <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
                  <div class="case-description__logo">
                    <img alt="DX logo" src="/packs/media/images/home/rotator/dx/dx-39e83e236361c3c13d8bdb3866e9e0ed.svg">
                  </div>
                  <span class="case-description__number">02</span>
                  <p class="case-description__tagline">A complete discovery of a new platform for cinemas, theatres, and other events’ organisers</p>
                  <p class="case-description__type"><strong>Mobile Development</strong> - Cinema and event management tool</p>
                </a>
                <a class="arrow-button  dx" href="/en/case-studies/dx" id="project-dx" rel="" style="background-color: #4f46e5; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="2">
                <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
                  <div class="case-description__logo">
                    <img alt="Leid.no logo" src="/packs/media/images/home/rotator/leid/leid-dc3b3397b6f841accb1476761053951d.svg">
                  </div>
                  <span class="case-description__number">03</span>
                  <p class="case-description__tagline">More than off-the-shelf solution for making tools affordably available, so that renting becomes a better option than owning.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - E-commerce rental platform for sustainability</p>
                </a>
                <a class="arrow-button  leid" href="/en/case-studies/leid" id="project-leid" rel="" style="background-color: #4e8278; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="3">
                <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
                  <div class="case-description__logo">
                    <img alt="VCLeaders logo" src="/packs/media/images/home/rotator/vcleaders/vcleaders-4f221b1b2d0e533043212b41626d5b12.svg">
                  </div>
                  <span class="case-description__number">04</span>
                  <p class="case-description__tagline">Designing a brand identity of a community building platform for VC professionals.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Knowledge Sharing &amp; Community Building Platform</p>
                </a>
                <a class="arrow-button  vcleaders" href="/en/case-studies/vcleaders" id="project-vcleaders" rel="" style="background-color: #002990; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="4">
                <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
                  <div class="case-description__logo">
                    <img alt="Siemens Finance logo" src="/packs/media/images/home/rotator/siemens/siemens-0fb53d717b2431c726a81eec9b97aa61.svg">
                  </div>
                  <span class="case-description__number">05</span>
                  <p class="case-description__tagline">From an idea to product - testing comprehensive cloud-based financial platform solutions.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Platform for Fintech</p>
                </a>
                <a class="arrow-button  siemens" href="/en/case-studies/siemens" id="project-siemens" rel="" style="background-color: #4bb9b9; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="col-xs-8 rotator-column">
              <div class="case-image-wrapper" data-target="case_study_rotator.imageWrapper" style="background-color: rgb(255, 215, 220);">
                <div class="case-image case-image--chooose active" data-bgcolor="#ffd7dc" data-target="case_study_rotator.image" data-id="0" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0%, 0px);">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/chooose/chooose-26b2a59344b26f135ec5507c302fe3b1.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/chooose/chooose-1fb82f3f4f933599085adbe8ba889878.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="CHOOOSE" src="/packs/media/images/home/rotator/chooose/chooose-1fb82f3f4f933599085adbe8ba889878.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--dx" data-bgcolor="#ecebff" data-target="case_study_rotator.image" data-id="1">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/dx/dx-9fd1b79b3f98ad9a6374a02cc9a710b2.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="DX" src="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--leid" data-bgcolor="#b0ccc7" data-target="case_study_rotator.image" data-id="2">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/leid/leid-141e53032e3c36a9a1aabe9cfc74202c.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="Leid.no" src="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--vcleaders" data-bgcolor="#e1e9f1" data-target="case_study_rotator.image" data-id="3">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-616bd8341dded0ece43143e800554b57.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="VC Leaders" src="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--siemens" data-bgcolor="#4bb9b9" data-target="case_study_rotator.image" data-id="4">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/siemens/siemens-5655a59a34117f1e7ca2649ef4941ab9.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="Siemens" src="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" class="scroll-transition">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
      <div class="latest-posts__container">
        <div class="section-content">
          <div class="latest-posts__header">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll">Our voice</p>
            <div class="heading-wrapper">
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Latest posts <br> on our Blog</h2>
              <a class="button-desktop" href="/en/blog">
              <span class="text">View more posts</span>
              <img src="/packs/media/images/shared/arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg" alt="">
              </a>
            </div>
          </div>
          <div class="posts" data-target="latest_posts.posts">
            <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
              <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
              <div class="post__metadata">
                <p>Startups</p>
                <p>Jan 26, 2023</p>
              </div>
              <h3 class="post__content">
                How Accelerators Help Startups
              </h3>
            </a>
            <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
              <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
              <div class="post__metadata">
                <p>Startups</p>
                <p>Jan 19, 2023</p>
              </div>
              <h3 class="post__content">
                Value Proposition Canvas Explained
              </h3>
            </a>
          </div>
          <a class="button-mobile" href="/en/blog">
          <span class="text">View more posts</span>
          <img src="/packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt="">
          </a>
        </div>
      </div>
    </section>
  </main>
  <div class="modal" id="modal-1" data-controller="lead_magnet" data-lead_magnet-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" aria-hidden="true" style="visibility: hidden;">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
      <div class="row modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <div class="col-xs-24 col-md-11 last-md modal__contents modal__contents--right">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close="">
            <div class="close-icon">
              <span class="close-icon__dash close-icon__dash--left"></span>
              <span class="close-icon__dash close-icon__dash--right"></span>
            </div>
          </button>
          <picture>
            <source srcset="/packs/media/images/lead_magnet/ebook-mockup-0a0b06048bd2e4853da1e8bd1b5b0f85.webp" type="image/webp">
            <source srcset="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png" type="image/png">
            <img style="width:416;height:566" alt="Ebook cover mockup" src="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png">
          </picture>
        </div>
        <div class="col-xs-24 col-md-13 modal__contents modal__contents--left" id="modal-1-content">
          <div class="modal__loader" data-target="lead_magnet.modalLoader">
            <div class="loader-5 center"><span></span></div>
          </div>
          <div class="modal__logo hidden-md-down">
            <img data-target="page.headerLogo" alt="Startup Development House" src="/packs/media/images/home/logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg">
          </div>
          <div class="modal__info" data-target="lead_magnet.info">
            <h2 class="modal__title" id="modal-1-title">Get the guidance adjusted to your startups’ needs</h2>
            <p class="modal__description">Download one of our decks to learn more about how we solve startups’ problems - depending on the stage of development and available finances.</p>
          </div>
          <form class="modal__form" data-target="lead_magnet.form">
            <div class="input-wrapper" data-target="lead_magnet.guidebook">
              <label for="modal-form-guidebook" class="sr-only" id="customSelect-VAdTP-label">Select your guidebook</label>
              <div class="custom-select-container customSelect">
                <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-VAdTP-panel" aria-activedescendant="customSelect-VAdTP-selectedOption" aria-labelledby="customSelect-VAdTP-label" tabindex="0" aria-label="Guidebook"><span class="is-disabled">Select your guidebook</span></span>
                <select id="modal-form-guidebook" class="form__input" name="guidebook" placeholder="Role" data-action="" tabindex="-1">
                  <option value="" disabled="" selected="">Select your guidebook</option>
                  <option value="sxsw-early-stage-startup">
                    Pre-seed
                  </option>
                  <option value="sxsw-seed-startup">
                    Seed
                  </option>
                  <option value="sxsw-series-a-scaleup">
                    Series A+
                  </option>
                </select>
                <div id="customSelect-VAdTP-panel" class="custom-select-panel" role="listbox" aria-label="Guidebook">
                  <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-VAdTP-selectedOption" style="display: none;">Select your guidebook</div>
                  <div class="custom-select-option" data-value="sxsw-early-stage-startup" role="option">Pre-seed</div>
                  <div class="custom-select-option" data-value="sxsw-seed-startup" role="option">Seed</div>
                  <div class="custom-select-option" data-value="sxsw-series-a-scaleup" role="option">Series A+</div>
                </div>
              </div>
            </div>
            <div class="input-wrapper" data-target="lead_magnet.name">
              <label for="modal-form-name" class="sr-only">Full Name</label>
              <input id="modal-form-name" class="form__input" name="fullname" type="text" placeholder="Full Name" data-action="blur->lead_magnet#validateTextInputNoMessage">
            </div>
            <div class="row second-row">
              <div class="column input-wrapper col-xs-24 col-md-12" data-target="lead_magnet.role">
                <label for="role" class="sr-only">Role</label>
                <div class="custom-select-container customSelect">
                  <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-AKhyc-panel" aria-activedescendant="customSelect-AKhyc-selectedOption" tabindex="0" aria-label="Role"><span class="is-disabled">Role</span></span>
                  <select id="modal-form-role" class="form__input" name="role" placeholder="Role" data-action="" tabindex="-1">
                    <option value="" disabled="" selected="">Role</option>
                    <option value="CEO/ Founder">
                      CEO/ Founder
                    </option>
                    <option value="CTO">
                      CTO
                    </option>
                    <option value="Product Owner/ Head of Product">
                      Product Owner/ Head of Product
                    </option>
                    <option value="Developer/ Engineer">
                      Developer/ Engineer
                    </option>
                    <option value="Project Manager">
                      Project Manager
                    </option>
                    <option value="Product Designer">
                      Product Designer
                    </option>
                    <option value="Innovation Manager">
                      Innovation Manager
                    </option>
                    <option value="Other">
                      Other
                    </option>
                  </select>
                  <div id="customSelect-AKhyc-panel" class="custom-select-panel" role="listbox" aria-label="Role">
                    <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-AKhyc-selectedOption" style="display: none;">Role</div>
                    <div class="custom-select-option" data-value="CEO/ Founder" role="option">CEO/ Founder</div>
                    <div class="custom-select-option" data-value="CTO" role="option">CTO</div>
                    <div class="custom-select-option" data-value="Product Owner/ Head of Product" role="option">Product Owner/ Head of Product</div>
                    <div class="custom-select-option" data-value="Developer/ Engineer" role="option">Developer/ Engineer</div>
                    <div class="custom-select-option" data-value="Project Manager" role="option">Project Manager</div>
                    <div class="custom-select-option" data-value="Product Designer" role="option">Product Designer</div>
                    <div class="custom-select-option" data-value="Innovation Manager" role="option">Innovation Manager</div>
                    <div class="custom-select-option" data-value="Other" role="option">Other</div>
                  </div>
                </div>
              </div>
              <div class="column input-wrapper col-md-12" data-target="lead_magnet.company">
                <label for="modal-form-company" class="sr-only">Company</label>
                <input id="modal-form-company" class="form__input" name="company" type="text" placeholder="Company" data-action="blur->lead_magnet#validateTextInputNoMessage">
              </div>
            </div>
            <div class="row third-row">
              <div class="column input-wrapper col-xs-24 col-md-14" data-target="lead_magnet.email">
                <label for="modal-form-email" class="sr-only">E-mail</label>
                <input id="modal-form-email" class="form__input" name="email" type="text" placeholder="E-mail" data-action="blur->lead_magnet#validateEmailInputNoMessage">
              </div>
              <div class="column col-xs-24 col-md-10">
                <button class="button icon-button send " type="submit" id="download-ebook-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->lead_magnet#submit" data-target="lead_magnet.submitButton">
                  <span class="text">
                  Send
                  </span>
                  <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                    <span class="icon">
                    <span class="send-icon"></span>
                    <span class="arrow-right"></span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
            <div class="agreement">
              <div class="agreement__checkbox input-wrapper pretty p-default p-curve p-fill" data-target="lead_magnet.agreement">
                <input id="modal-form-agreement" class="form__input" name="agreement" type="checkbox">
                <div class="state p-primary">
                  <label for="modal-form-agreement">
                  <span>
                  I agree to receive the newsletter and commercial information from Startup Development House
                  <a href="/en/privacy-policy">Read more</a>
                  </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="captcha-row">
              <div class="captcha-container input-wrapper" data-target="lead_magnet.captcha">
                <div id="captcha-lead_magnet"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0tum2jc4jkt&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0tum2jc4jkt" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0tum2jc4jkt" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0tum2jc4jkt" name="h-captcha-response" style="display: none;"></textarea></div>
              </div>
            </div>
            <div class="error-message invisible">
              <img style="width:20;height:20" class="error-message-icon" alt="" src="/packs/media/images/lead_magnet/error-87fc2677d45527aac8691f55364a3e36.svg">
              <span class="error-message-text">
              Please fill all required fields
              </span>
            </div>
          </form>
          <div class="invisible download-section " data-target="lead_magnet.downloadSection">
            <div class="modal__info" data-target="lead_magnet.info">
              <h2 class="modal__title modal__title--download">Thank you for your submission.</h2>
              <p class="modal__description modal__description--download">Please check your email box. Enjoy our guide!</p>
            </div>
            <a class="button icon-button download " type="button" href="" id="download-ebook-button" style="background-color: #0066ff; color: #ffffff" data-target="lead_magnet.downloadButton" download="">
              <span class="text">
              Download guide
              </span>
              <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                <span class="icon">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    _linkedin_partner_id = "458204";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script>
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
    <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
  </noscript>
  <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
  <noscript>
    <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
  </noscript>
  <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
    <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0tum2jc4jkt&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
    <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
      <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
      <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
    </div>
  </div>
  <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
  <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><iframe id="_hjSafeContext_91979740" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=a54c89d1-39d3-455e-81aa-263ce2da23cd&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=9cc576a3-6c08-41a3-a20a-9d68dfd2bf36&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fmobile-development&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=a54c89d1-39d3-455e-81aa-263ce2da23cd&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=9cc576a3-6c08-41a3-a20a-9d68dfd2bf36&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fmobile-development&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;">
</body>