<body class="" style="overflow-y: visible;">
  <noscript>
    <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
  </noscript>
  <main class="page no-padding service workshops-and-prototyping services-subpage" data-controller="page" data-lazy="true">
    <section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F4EBFF" data-color="#000000" style="background-color: rgb(244, 235, 255); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="container">
          <div class="content">
            <div>
              <h1 class="content__title">Generate and validate your business ideas quickly.</h1>
              <p class="content__subtitle">Establish your vision and value proposition and turn them into testable prototypes that will bring you instant feedback.</p>
            </div>
          </div>
          <%= image_tag "main-image-e1bc8ce6bac3c36091b5ecae5c6f80bd.svg", alt: "button-image", class:"image" %>
          <%# <img class="image " src="/packs/media/images/services/workshops_and_prototyping/main-image-e1bc8ce6bac3c36091b5ecae5c6f80bd.svg" alt=""> %>
        </div>
      </div>
    </section>
    <section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-color="#000000" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="count-with-icons__wrapper">
          <div class="count-with-icons__top ">
            <div class="custom-header  ">
              <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Workshop your way to a better product</p>
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">How do workshops help in the product discovery process?</h2>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler" data-was-processed="true">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "steps-3bf2b2a05248744bbe1c050931dbcd08.svg", alt:"Creating broad stakeholder alignment", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Creating broad stakeholder alignment" data-src="/packs/media/images/shared/icons-vibrant/steps-3bf2b2a05248744bbe1c050931dbcd08.svg" src="/packs/media/images/shared/icons-vibrant/steps-3bf2b2a05248744bbe1c050931dbcd08.svg" data-was-processed="true"> %>
                <div class="title-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Creating broad stakeholder alignment</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">A couple days of intensive workshops save endless meetings. Instead, we'll initiate a co-creating approach to let you and your team design an idea for the product with our help, starting with value proposition design. In the end, everyone’s on the same page and understands the concept.</p>
            </div>
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "heart-96fe220787900677989c3589540d9084.svg", alt:"Boost your inspiration", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Boost your inspiration" data-src="/packs/media/images/shared/icons-vibrant/heart-96fe220787900677989c3589540d9084.svg" src="/packs/media/images/shared/icons-vibrant/heart-96fe220787900677989c3589540d9084.svg" data-was-processed="true"> %>
                <div class="title-wrapper">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Boost your inspiration</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">New ideas will pop up easily, as we'll use various Design Thinking exercises tailored for your Product Discovery Workshops. They will let your creativity run free for you to think of all the ways you can improve your business concept.</p>
            </div>
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "line-c6394f17a6d5b10684e354535deedbaf.svg", alt:"Boost your inspiration", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Gathering different mindsets and opinions" data-src="/packs/media/images/shared/icons-vibrant/line-c6394f17a6d5b10684e354535deedbaf.svg" src="/packs/media/images/shared/icons-vibrant/line-c6394f17a6d5b10684e354535deedbaf.svg" data-was-processed="true"> %>
                <div class="title-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Gathering different mindsets and opinions</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Team alignment is key for a smooth collaboration. We'll instantly validate hypotheses and ideas by listening to all team members and carefully considering everyone’s opinion. You can also count on our experience and knowledge!</p>
            </div>
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "paths-80e589c6f00fec39ce418df0960e0d03.svg", alt:"Boost your inspiration", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Solid outputs" data-src="/packs/media/images/shared/icons-vibrant/paths-80e589c6f00fec39ce418df0960e0d03.svg" src="/packs/media/images/shared/icons-vibrant/paths-80e589c6f00fec39ce418df0960e0d03.svg" data-was-processed="true"> %>
                <div class="title-wrapper">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Solid outputs</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Each workshop will deliver a different product, from ideas generation (a list of ranked ideas for your product), Design sprint (validated and iterated prototype), to User story mapping (a list of features for MVP and next releases), and Business Model generation. We will dive deep into how your organization creates, delivers, and captures value.</p>
            </div>
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "person-33dcf89fd4f84fcfecb63cedcd2294af.svg", alt:"Boost your inspiration", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Understand your user" data-src="/packs/media/images/shared/icons-vibrant/person-33dcf89fd4f84fcfecb63cedcd2294af.svg" src="/packs/media/images/shared/icons-vibrant/person-33dcf89fd4f84fcfecb63cedcd2294af.svg" data-was-processed="true"> %>
                <div class="title-wrapper">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Understand your user</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Workshops will help you get a grip of your users’ true needs and secure a solid vision of the product, that will be backed by user testing/feedback later on.</p>
            </div>
            <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
              <div class="card__header">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <%= image_tag "diamond-39f43bfb3a6620bfbd84056af565853e.svg", alt:"Boost your inspiration", class:"lazy-image card__image loaded" %>
                </div>
                <%# <img class="lazy-image card__image loaded" alt="Ideas turned into real-life products" data-src="/packs/media/images/shared/icons-vibrant/diamond-39f43bfb3a6620bfbd84056af565853e.svg" src="/packs/media/images/shared/icons-vibrant/diamond-39f43bfb3a6620bfbd84056af565853e.svg" data-was-processed="true"> %>
                <div class="title-wrapper">
                  <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Ideas turned into real-life products</h2>
                </div>
                <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
              </div>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">SDH workshops are just the beginning, We're persistent in producing digital products that crystallize on the workshop canvas and have a chance of engaging real users later on.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section text-break no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#7000ff" data-color="#fff" style="background-color: rgb(112, 0, 255); color: rgb(255, 255, 255);">
      <div class="section-content">
        <div class="text-break__wrapper">
          <h2 class="text-break__text scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">For us, there is no doubt that Product Design workshops and Software Discovery Workshops are one of the most effective ways to work for a product team.</h2>
          <h2 class="text-break__text scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">You can come to us with an idea, mockups or at any other stage of progress, and we’ll help you either way!</h2>
        </div>
      </div>
    </section>
    <section class="section workshops-types no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" data-controller="workshopsTypes" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
      <div class="section-content">
        <div class="workshops-types__wrapper">
          <div class="workshops-types__header">
            <div class="custom-header  ">
              <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">More than custom software development</p>
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We have several types of Product Workshops in store for you*</h2>
            </div>
            <p class="additional scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">*Currently all the workshops are conducted <span>entirely remotely.</span></p>
          </div>
          <div class="main-tile card scroll-transition" data-target="page.loadOnScroll workshopsTypes.card" data-action="click->workshopsTypes#onCardClickHandler" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-header card-header--mobile">
              <h3 class="main-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Product discovery workshop</h3>
              <img class="card-arrow" src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="">
            </div>
            <div class="card-content">
              <div class="main-tile__top scroll-transition" data-target="page.loadOnScroll">
                <div class="card-header card-header--desktop">
                  <h3 class="main-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Product discovery workshop</h3>
                </div>
                <div class="main-tile__column">
                  <div class="step">
                    <h4 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">When:</h4>
                    <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">At the very beginning of creating a product or completing your research</p>
                  </div>
                  <div class="step">
                    <h4 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does it mean?</h4>
                    <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Analyzing personas gains, generating and prioritizing solutions, creating a list of features for an MVP and next releases</p>
                  </div>
                  <div class="step">
                    <h4 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Goal:</h4>
                    <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">List of features and roadmap</p>
                  </div>
                  <div class="step">
                    <h4 class="step__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Next step:</h4>
                    <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Prototyping, user testing and MVP development</p>
                  </div>
                </div>
              </div>
              <div class="row stages-wrapper scroll-transition" data-target="page.loadOnScroll">
                <div class="stage" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="stage__index">
                    <p>1</p>
                    <%= image_tag "dash-line-bf6a420808070c925dbd21d12dd0b97b.svg", alt: "button-image", class:"stage__border stage__border--desktop" %>
                    <%# <img class="stage__border stage__border--desktop" src="/packs/media/images/shared/dash-line-bf6a420808070c925dbd21d12dd0b97b.svg" alt=""> %>
                    <%# <img class="stage__border stage__border--mobile" src="/packs/media/images/shared/dash-line-mobile-8fd37b0db74d7dc12cb08a19dc93e9fc.svg" alt=""> %>
                  </div>
                  <div>
                    <h4 class="stage__title">Empathy</h4>
                    <ul class="stage__list">
                      <li class="stage__item">→ Goal: understand your user</li>
                      <li class="stage__item">→ Output: a prioritized list of users pains and challenges</li>
                      <li class="stage__item">→ Exercises: persona canvas, journey map, day in a life, empathy map</li>
                    </ul>
                  </div>
                </div>
                <div class="stage" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="stage__index">
                    <p>2</p>
                    <%= image_tag "dash-line-bf6a420808070c925dbd21d12dd0b97b.svg", alt: "button-image", class:"stage__border stage__border--desktop" %>
                    <%# <img class="stage__border stage__border--desktop" src="/packs/media/images/shared/dash-line-bf6a420808070c925dbd21d12dd0b97b.svg" alt=""> %>
                    <%# <img class="stage__border stage__border--mobile" src="/packs/media/images/shared/dash-line-mobile-8fd37b0db74d7dc12cb08a19dc93e9fc.svg" alt=""> %>
                  </div>
                  <div>
                    <h4 class="stage__title">Ideate</h4>
                    <ul class="stage__list">
                      <li class="stage__item">→ Goal: generate innovative ideas to soothe users pains and meet business goals</li>
                      <li class="stage__item">→ Output: a prioritized list of ideas</li>
                      <li class="stage__item">→ Exercises: brainstorm, reversed brainstorm, scamper</li>
                    </ul>
                  </div>
                </div>
                <div class="stage" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="stage__index">
                    <p>3</p>
                    <%= image_tag "dash-line-bf6a420808070c925dbd21d12dd0b97b.svg", alt: "button-image", class:"stage__border stage__border--desktop" %>
                    <%# <img class="stage__border stage__border--desktop" src="/packs/media/images/shared/dash-line-bf6a420808070c925dbd21d12dd0b97b.svg" alt=""> %>
                    <%# <img class="stage__border stage__border--mobile" src="/packs/media/images/shared/dash-line-mobile-8fd37b0db74d7dc12cb08a19dc93e9fc.svg" alt=""> %>
                  </div>
                  <div>
                    <h4 class="stage__title">User Story Mapping</h4>
                    <ul class="stage__list">
                      <li class="stage__item">→ Goal: generate and prioritize a list of features for MVP</li>
                      <li class="stage__item">→ Output: full list of user stories</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile card scroll-transition" data-target="page.loadOnScroll workshopsTypes.card" data-action="click->workshopsTypes#onCardClickHandler">
            <div class="col-md-8 card-header card-header--mobile scroll-transition" data-target="page.loadOnScroll" >
              <h4 class="main-title scroll-transition" data-target="page.loadOnScroll" >Idea generation and innovation workshop</h4>
              <img class="card-arrow" src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="">
            </div>
            <div class="card-content">
              <div class="tile__container">
                <div class="row">
                  <div class="col-md-8 card-header card-header--desktop scroll-transition" data-target="page.loadOnScroll">
                    <h4 class="main-title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Idea generation and innovation workshop</h4>
                  </div>
                  <div class="col-md-16 scroll-transition" data-target="page.loadOnScroll">
                    <h5 class="tile__subtitle" data-aos="fade-up" data-aos-anchor-placement="top-bottom">At the very beginning of creating a product or after the first research</h5>
                    <div class="tile__content">
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does it mean?</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">The creative process of generating innovative ideas, we'll broaden the perspective and encourage the group to think outside the box</p>
                      </div>
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Goal:</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">A list of pure ideas</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row tile__footer idea-generation scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="next-step">
                  <p class="next-step__content">
                    <span>Next step:</span>
                    User Story Mapping
                  </p>
                </div>
                <div class="related-article">
                  <a class="related-article__link" href="https://start-up.house/en/product-discovery" target="_blank">
                  <span class="related-article__label-wrapper">
                  Related page:
                  <span class="link">Product Discovery Workshops</span>
                  </span>
                  <%= image_tag "arrow-right-idea-generation-9cdfcd33b539c8727b4bb9be2299e23c.svg", alt: "button-image", class:"" %>
                  <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-idea-generation-9cdfcd33b539c8727b4bb9be2299e23c.svg" alt=""> %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tile card scroll-transition" data-target="page.loadOnScroll workshopsTypes.card" data-action="click->workshopsTypes#onCardClickHandler">
            <div class="col-md-8 card-header card-header--mobile scroll-transition" data-target="page.loadOnScroll">
              <h4 class="main-title scroll-transition" data-target="page.loadOnScroll">User Story Mapping</h4>
              <img class="card-arrow" src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="">
            </div>
            <div class="card-content">
              <div class="tile__container">
                <div class="row">
                  <div class="col-md-8 card-header card-header--desktop scroll-transition" data-target="page.loadOnScroll">
                    <h4 class="main-title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">User Story Mapping</h4>
                  </div>
                  <div class="col-md-16 scroll-transition" data-target="page.loadOnScroll">
                    <h5 class="tile__subtitle" data-aos="fade-up" data-aos-anchor-placement="top-bottom">At the very beginning of creating a product or after the first research</h5>
                    <div class="tile__content">
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does it mean?</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Writing user stories, completing workflow for every type of user for your product, prioritising features</p>
                      </div>
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Goal:</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">A list of all user stories that will be developed for the MVP, the structure of the app or the platform</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row tile__footer user-story-mapping scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="next-step">
                  <p class="next-step__content">
                    <span>Next Step:</span>
                    Prototyping, user testing and MVP development
                  </p>
                </div>
                <div class="related-article">
                  <a class="related-article__link" href="https://start-up.house/en/blog/articles/story-mapping" target="_blank">
                  <span class="related-article__label-wrapper">
                  Related article:
                  <span class="link">What is story mapping and how to do it remotely?</span>
                  </span>
                  <%= image_tag "arrow-right-user-story-mapping-7576c27b635580194dc89300f22a7a94.svg", alt: "button-image", class:"" %>
                  <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-user-story-mapping-7576c27b635580194dc89300f22a7a94.svg" alt=""> %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tile card scroll-transition" data-target="page.loadOnScroll workshopsTypes.card" data-action="click->workshopsTypes#onCardClickHandler">
            <div class="col-md-8 card-header card-header--mobile scroll-transition" data-target="page.loadOnScroll">
              <h4 class="main-title scroll-transition" data-target="page.loadOnScroll" >Business Model &amp; Value proposition design</h4>
              <img class="card-arrow" src="/packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="">
            </div>
            <div class="card-content">
              <div class="tile__container">
                <div class="row">
                  <div class="col-md-8 card-header card-header--desktop scroll-transition" data-target="page.loadOnScroll">
                    <h4 class="main-title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Business Model &amp; Value proposition design</h4>
                  </div>
                  <div class="col-md-16 scroll-transition" data-target="page.loadOnScroll">
                    <h5 class="tile__subtitle" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Your idea is solid, and you want to check what's missing</h5>
                    <div class="tile__content">
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does it mean?</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Checking all the essential elements for a successful business and confirming the value proposed to the customer</p>
                      </div>
                      <div class="tile__item">
                        <h6 class="tile__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Goal:</h6>
                        <p class="tile__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Set value for your business and your customers</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row tile__footer business-model scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="next-step">
                  <p class="next-step__content">
                    <span>Next Step:</span>
                    User Story Mapping
                  </p>
                </div>
                <div class="related-article">
                  <a class="related-article__link" href="https://start-up.house/en/blog/articles/develop-product-growth-strategy" target="_blank">
                  <span class="related-article__label-wrapper">
                  Related article:
                  <span class="link">How to develop product growth strategy?</span>
                  </span>
                  <%= image_tag "arrow-right-business-model-6ffc69fa574422076743d62d5dcbc2bb.svg", alt: "button-image", class:"" %>
                  <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-business-model-6ffc69fa574422076743d62d5dcbc2bb.svg" alt=""> %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="bar scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "bar-decor-b3d96824542cefbcc45245520e2bf06b.svg", alt: "button-image", class:"bar__decor" %>
            <%# <img class="bar__decor" src="/packs/media/images/services/workshops_and_prototyping/bar-decor-b3d96824542cefbcc45245520e2bf06b.svg" alt=""> %>
            <p class="bar__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We can tailor our Product Discovery process to your needs</p>
            <a class="arrow-button  " href="/contact" id="" rel="" style="background-color: #000000; color: #ffffff; border-color: transparent" target="">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Get in touch
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section prototyping no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-controller="prototyping" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
      <div class="section-content">
        <div class="prototyping__wrapper">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Before you start development</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Prototyping — your next step after the workshop</h2>
          </div>
          <div class="why-prototype">
            <h3 class="why-prototype__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why should you validate with a prototype?</h3>
            <ul class="why-prototype__list">
              <li class="why-prototype__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span >→ Testing as early as possible enables you to save resources and limit the amount of time spent reiterating the wireframes. It results in time savings at later stages of the project</span>
              </li>
              <li class="why-prototype__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span>→ By working together from the earliest stage on the app’s design, you create a joint alignment within your product team</span>
              </li>
              <li class="why-prototype__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span>→ Collecting feedback from a variety of testers will help you find optimal solutions and maybe even come up with new ideas</span>
              </li>
              <li class="why-prototype__item scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <span>→ When you engage with potential users so early you create a bond that can result in a community around your product</span>
              </li>
            </ul>
          </div>
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "roadmap-mobile-51bf3d6245bb2c7b5847a0239defd3a8.png", alt: "button-image", class:"image image--mobile scroll-transition" %>
            <%= image_tag "roadmap-desktop-1ddef8fc0bea640a59a2227cb94752dc.png", alt: "button-image", class:"image image--desktop scroll-transition" %>
          </div>
          <%# <img class="image image--mobile scroll-transition" data-target="page.loadOnScroll" src="/packs/media/images/services/workshops_and_prototyping/roadmap-mobile-51bf3d6245bb2c7b5847a0239defd3a8.png" alt=""> %>
          <%# <img class="image image--desktop scroll-transition" data-target="page.loadOnScroll" src="/packs/media/images/services/workshops_and_prototyping/roadmap-desktop-1ddef8fc0bea640a59a2227cb94752dc.png" alt=""> %>
          <div class="steps">
            <div class="step scroll-transition" data-target="page.loadOnScroll prototyping.step" data-action="click->prototyping#onCardClickHandler">
              <div class="step__header">
                <img class="step__header-image" src="/packs/media/images/shared/icons-vibrant/ux-design-00445e19212ceacc71855411c4630d27.svg" alt="">
                <h3 class="step__header-title">UX Design</h3>
                <img class="step__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
              </div>
              <div class="step__content">
                <p class="step__label">When:</p>
                <p class="step__description">Once you have insights from a workshop it’s time for the UX design of your app</p>
                <p class="step__label">What does it mean?</p>
                <p class="step__description">Creating a user flow, designing low-fi wireframes, turning wireframes into a clickable prototype</p>
                <p class="step__label">Goal:</p>
                <p class="step__description">Create a clickable prototype that can be tested</p>
                <p class="step__label">Next step:</p>
                <p class="step__description">User Testing</p>
              </div>
            </div>
            <div class="step scroll-transition" data-target="page.loadOnScroll prototyping.step" data-action="click->prototyping#onCardClickHandler">
              <div class="step__header">
                <img class="step__header-image" src="/packs/media/images/shared/icons-vibrant/user-testing-ec63e679252555b003f86ecd4cc376be.svg" alt="">
                <h3 class="step__header-title">User Testing</h3>
                <img class="step__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
              </div>
              <div class="step__content">
                <p class="step__label">When:</p>
                <p class="step__description">You have a working prototype of your app</p>
                <p class="step__label">What does it mean?</p>
                <p class="step__description">Users are asked to perform specific tasks in the prototype</p>
                <p class="step__label">Goal:</p>
                <p class="step__description">Validate the idea as early as possible, so that you can refine it and test it again until you get it right</p>
                <p class="step__label">Next step:</p>
                <p class="step__description">UI Design</p>
              </div>
            </div>
            <div class="step scroll-transition" data-target="page.loadOnScroll prototyping.step" data-action="click->prototyping#onCardClickHandler">
              <div class="step__header">
                <img class="step__header-image" src="/packs/media/images/shared/icons-vibrant/ui-design-401b072708112a1147cc225cfbd21594.svg" alt="">
                <h3 class="step__header-title">UI Design</h3>
                <img class="step__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
              </div>
              <div class="step__content">
                <p class="step__label">When:</p>
                <p class="step__description">As the User Testing reaches its end, it’s time to create the final look of your app</p>
                <p class="step__label">What does it mean:</p>
                <p class="step__description">Designing the final appearance of all your app’s screens, and preparing a style guide for developers</p>
                <p class="step__label">Goal:</p>
                <p class="step__description">Create the high-fidelity prototype or mockups of your app</p>
                <p class="step__label">Next step:</p>
                <p class="step__description">Development</p>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="row t-header scroll-transition" data-target="page.loadOnScroll">
              <div class="t-header__item">
                <%= image_tag "ux-design-00445e19212ceacc71855411c4630d27.svg", alt: "UX Design img", class:"" %>
                <%# <img src="/packs/media/images/shared/icons-vibrant/ux-design-00445e19212ceacc71855411c4630d27.svg" alt=""> %>
                <p class="t-header__item-text">UX Design</p>
              </div>
              <div class="t-header__item">
                <%= image_tag "user-testing-ec63e679252555b003f86ecd4cc376be.svg", alt: "User testing img", class:"" %>
                <%# <img src="/packs/media/images/shared/icons-vibrant/user-testing-ec63e679252555b003f86ecd4cc376be.svg" alt=""> %>
                <p class="t-header__item-text">User Testing</p>
              </div>
              <div class="t-header__item">
                <%= image_tag "ui-design-401b072708112a1147cc225cfbd21594.svg", alt: "UI design testing img", class:"" %>
                <%# <img src="/packs/media/images/shared/icons-vibrant/ui-design-401b072708112a1147cc225cfbd21594.svg" alt=""> %>
                <p class="t-header__item-text">UI Design</p>
              </div>
            </div>
            <div class="row t-row scroll-transition" data-target="page.loadOnScroll">
              <div class="t-row__item">
                <p class="t-row__item-text t-row__item-text--label" data-aos="fade-up" data-aos-anchor-placement="top-bottom">When:</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Once you have insights from a workshop it’s time for the UX design of your app</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">You have a working prototype of your app</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">As the User Testing reaches its end, it’s time to create the final look of your app</p>
              </div>
            </div>
            <div class="divider scroll-transition" data-target="page.loadOnScroll"></div>
            <div class="row t-row scroll-transition" data-target="page.loadOnScroll">
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text t-row__item-text--label">What does it mean?</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Creating a user flow, designing low-fi wireframes, turning wireframes into a clickable prototype</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Users are asked to perform specific tasks in the prototype</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Designing the final appearance of all your app’s screens, and preparing a style guide for developers</p>
              </div>
            </div>
            <div class="divider scroll-transition" data-target="page.loadOnScroll"></div>
            <div class="row t-row scroll-transition" data-target="page.loadOnScroll">
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text t-row__item-text--label">Goal:</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Create a clickable prototype that can be tested</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Validate the idea as early as possible, so that you can refine it and test it again until you get it right</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text">Create the high-fidelity prototype or mockups of your app</p>
              </div>
            </div>
            <div class="row t-row t-row--accent scroll-transition" data-target="page.loadOnScroll">
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="t-row__item-text t-row__item-text--label">Next step:</p>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a class="t-row__item-text t-row__item-text--link" href="/services/user-testing">
                User Testing
                <%= image_tag "arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg", alt: "arrow right gray", class:"" %>
                <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg" alt=""> %>
                </a>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a class="t-row__item-text t-row__item-text--link" href="/services/design">
                UI Design
                <%= image_tag "arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg", alt: "arrow right gray", class:"" %>
                <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg" alt=""> %>
                </a>
              </div>
              <div class="t-row__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a class="t-row__item-text t-row__item-text--link" href="/services/web-development">
                Development
                <%= image_tag "arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg", alt: "arrow right gray", class:"" %>
                <%# <img src="/packs/media/images/services/workshops_and_prototyping/arrow-right-gray-f60dc9d9ea218bbf88313a7942bdb6df.svg" alt=""> %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section faq no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
      <div class="section-content">
        <div class="prototyping__wrapper">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">FAQ – Product Discovery process</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" >Learn how we design remote and onsite workshops</h2>
          </div>
          <div class="cards scroll-transition" data-target="page.loadOnScroll">
            <div class="card">
              <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Remote Workshops</h3>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Philosophy and methodology are the same. We're using all possible online tools to make remote workshops as creative and effective as onsite ones. We're conducting a small briefing for the participants before the workshops to explain them everything, We're taking energizing breaks and divide the participants into small groups. Sometimes you even forget that we're not in the same room. There is often homework for the client to complement the whole process.</p>
            </div>
            <p class="cards-separator">vs</p>
            <div class="card">
              <h3 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Onsite Workshops</h3>
              <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We can conduct them in our office or the client's space. We'll prepare all the canvas and materials needed. We'll help with the invitations and the organization of the space (if not in our office). Apart from very practical work, you'll also grow as a team, because there will be many team building activities.</p>
            </div>
          </div>
          <div class="faq-footer scroll-transition" data-target="page.loadOnScroll">
            <div class="faq-footer__item">
              <h3 class="faq-footer__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">The process of designing the workshop</h3>
              <p class="faq-footer__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Through our experience, we've collected tons of exercises for boosting groups' creative energy. We know how the human's creative process flows, and we support it using logic riddles and team building activities. And we can even do it remotely!</p>
            </div>
            <div class="faq-footer__item">
              <h3 class="faq-footer__item-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Which Design Sprint to choose?</h3>
              <p class="faq-footer__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We'll help you decide, but the two most important differences are: Design Sprint 2.0 takes four days instead of five and you will only need a full team for two of them.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
      <div class="latest-posts__container">
        <div class="section-content">
          <div class="latest-posts__header">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our voice</p>
            <div class="heading-wrapper">
              <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Latest posts <br> on our Blog</h2>
              <a class="button-desktop" href="/en/blog">
              <span class="text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View more posts</span>
              <img src="/packs/media/images/shared/arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg" alt="">
              </a>
            </div>
          </div>
          <div class="posts" data-target="latest_posts.posts">
            <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
              <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
              <div class="post__metadata">
                <p>Startups</p>
                <p>Jan 26, 2023</p>
              </div>
              <h3 class="post__content">
                How Accelerators Help Startups
              </h3>
            </a>
            <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
              <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
              <div class="post__metadata">
                <p>Startups</p>
                <p>Jan 19, 2023</p>
              </div>
              <h3 class="post__content">
                Value Proposition Canvas Explained
              </h3>
            </a>
          </div>
          <a class="button-mobile" href="/en/blog">
          <span class="text">View more posts</span>
          <img src="/packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt="">
          </a>
        </div>
      </div>
    </section>
    <section class="section white cta-section-services no-padding no-padding-left" data-target="page.section" data-theme="monoBaseBlack" data-color="black" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: black;">
      <div class="section-content">
        <div class="cta-section-services__wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <%= image_tag "main-image-dba333c647716c7b1a72886517c9a38c.svg", alt: "button-image", class:"image" %>
          <%# <img src="/packs/media/images/services/user_testing/main-image-dba333c647716c7b1a72886517c9a38c.svg" alt="" class="image"> %>
          <div>
            <h2 class="title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Not sure how to increase your product chances on the market?</h2>
            <p class="copy" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Well-conducted user research can give you a lot of important information regarding your product and how potential users recive it. We will help you create the most suitable user testing according to your current product life cycle stage.</p>
            <a class="arrow-button  " href="/en/services/user-testing" id="" rel="" style="background-color: #000000; color: #ffffff; border-color: transparent" target="" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <span class="arrow arrow--left">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            <span class="main">
            <span class="text">
            Read more
            </span>
            <span class="arrow arrow--right">
            <span class="shaft" style="background-color: #ffffff"></span>
            </span>
            </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="modal" id="modal-1" data-controller="lead_magnet" data-lead_magnet-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" aria-hidden="true" style="visibility: hidden;">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
      <div class="row modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <div class="col-xs-24 col-md-11 last-md modal__contents modal__contents--right">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close="">
            <div class="close-icon">
              <span class="close-icon__dash close-icon__dash--left"></span>
              <span class="close-icon__dash close-icon__dash--right"></span>
            </div>
          </button>
          <picture>
            <source srcset="/packs/media/images/lead_magnet/ebook-mockup-0a0b06048bd2e4853da1e8bd1b5b0f85.webp" type="image/webp">
            <source srcset="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png" type="image/png">
            <img style="width:416;height:566" alt="Ebook cover mockup" src="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png">
          </picture>
        </div>
        <div class="col-xs-24 col-md-13 modal__contents modal__contents--left" id="modal-1-content">
          <div class="modal__loader" data-target="lead_magnet.modalLoader">
            <div class="loader-5 center"><span></span></div>
          </div>
          <div class="modal__logo hidden-md-down">
            <img data-target="page.headerLogo" alt="Startup Development House" src="/packs/media/images/home/logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg">
          </div>
          <div class="modal__info" data-target="lead_magnet.info">
            <h2 class="modal__title" id="modal-1-title">Get the guidance adjusted to your startups’ needs</h2>
            <p class="modal__description">Download one of our decks to learn more about how we solve startups’ problems - depending on the stage of development and available finances.</p>
          </div>
          <form class="modal__form" data-target="lead_magnet.form">
            <div class="input-wrapper" data-target="lead_magnet.guidebook">
              <label for="modal-form-guidebook" class="sr-only" id="customSelect-v9ISr-label">Select your guidebook</label>
              <div class="custom-select-container customSelect">
                <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-v9ISr-panel" aria-activedescendant="customSelect-v9ISr-selectedOption" aria-labelledby="customSelect-v9ISr-label" tabindex="0" aria-label="Guidebook"><span class="is-disabled">Select your guidebook</span></span>
                <select id="modal-form-guidebook" class="form__input" name="guidebook" placeholder="Role" data-action="" tabindex="-1">
                  <option value="" disabled="" selected="">Select your guidebook</option>
                  <option value="sxsw-early-stage-startup">
                    Pre-seed
                  </option>
                  <option value="sxsw-seed-startup">
                    Seed
                  </option>
                  <option value="sxsw-series-a-scaleup">
                    Series A+
                  </option>
                </select>
                <div id="customSelect-v9ISr-panel" class="custom-select-panel" role="listbox" aria-label="Guidebook">
                  <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-v9ISr-selectedOption" style="display: none;">Select your guidebook</div>
                  <div class="custom-select-option" data-value="sxsw-early-stage-startup" role="option">Pre-seed</div>
                  <div class="custom-select-option" data-value="sxsw-seed-startup" role="option">Seed</div>
                  <div class="custom-select-option" data-value="sxsw-series-a-scaleup" role="option">Series A+</div>
                </div>
              </div>
            </div>
            <div class="input-wrapper" data-target="lead_magnet.name">
              <label for="modal-form-name" class="sr-only">Full Name</label>
              <input id="modal-form-name" class="form__input" name="fullname" type="text" placeholder="Full Name" data-action="blur->lead_magnet#validateTextInputNoMessage">
            </div>
            <div class="row second-row">
              <div class="column input-wrapper col-xs-24 col-md-12" data-target="lead_magnet.role">
                <label for="role" class="sr-only">Role</label>
                <div class="custom-select-container customSelect">
                  <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-2F9Gs-panel" aria-activedescendant="customSelect-2F9Gs-selectedOption" tabindex="0" aria-label="Role"><span class="is-disabled">Role</span></span>
                  <select id="modal-form-role" class="form__input" name="role" placeholder="Role" data-action="" tabindex="-1">
                    <option value="" disabled="" selected="">Role</option>
                    <option value="CEO/ Founder">
                      CEO/ Founder
                    </option>
                    <option value="CTO">
                      CTO
                    </option>
                    <option value="Product Owner/ Head of Product">
                      Product Owner/ Head of Product
                    </option>
                    <option value="Developer/ Engineer">
                      Developer/ Engineer
                    </option>
                    <option value="Project Manager">
                      Project Manager
                    </option>
                    <option value="Product Designer">
                      Product Designer
                    </option>
                    <option value="Innovation Manager">
                      Innovation Manager
                    </option>
                    <option value="Other">
                      Other
                    </option>
                  </select>
                  <div id="customSelect-2F9Gs-panel" class="custom-select-panel" role="listbox" aria-label="Role">
                    <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-2F9Gs-selectedOption" style="display: none;">Role</div>
                    <div class="custom-select-option" data-value="CEO/ Founder" role="option">CEO/ Founder</div>
                    <div class="custom-select-option" data-value="CTO" role="option">CTO</div>
                    <div class="custom-select-option" data-value="Product Owner/ Head of Product" role="option">Product Owner/ Head of Product</div>
                    <div class="custom-select-option" data-value="Developer/ Engineer" role="option">Developer/ Engineer</div>
                    <div class="custom-select-option" data-value="Project Manager" role="option">Project Manager</div>
                    <div class="custom-select-option" data-value="Product Designer" role="option">Product Designer</div>
                    <div class="custom-select-option" data-value="Innovation Manager" role="option">Innovation Manager</div>
                    <div class="custom-select-option" data-value="Other" role="option">Other</div>
                  </div>
                </div>
              </div>
              <div class="column input-wrapper col-md-12" data-target="lead_magnet.company">
                <label for="modal-form-company" class="sr-only">Company</label>
                <input id="modal-form-company" class="form__input" name="company" type="text" placeholder="Company" data-action="blur->lead_magnet#validateTextInputNoMessage">
              </div>
            </div>
            <div class="row third-row">
              <div class="column input-wrapper col-xs-24 col-md-14" data-target="lead_magnet.email">
                <label for="modal-form-email" class="sr-only">E-mail</label>
                <input id="modal-form-email" class="form__input" name="email" type="text" placeholder="E-mail" data-action="blur->lead_magnet#validateEmailInputNoMessage">
              </div>
              <div class="column col-xs-24 col-md-10">
                <button class="button icon-button send " type="submit" id="download-ebook-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->lead_magnet#submit" data-target="lead_magnet.submitButton">
                  <span class="text">
                  Send
                  </span>
                  <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                    <span class="icon">
                    <span class="send-icon"></span>
                    <span class="arrow-right"></span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
            <div class="agreement">
              <div class="agreement__checkbox input-wrapper pretty p-default p-curve p-fill" data-target="lead_magnet.agreement">
                <input id="modal-form-agreement" class="form__input" name="agreement" type="checkbox">
                <div class="state p-primary">
                  <label for="modal-form-agreement">
                  <span>
                  I agree to receive the newsletter and commercial information from Startup Development House
                  <a href="/en/privacy-policy">Read more</a>
                  </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="captcha-row">
              <div class="captcha-container input-wrapper" data-target="lead_magnet.captcha">
                <div id="captcha-lead_magnet"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0uurx2zi1ze&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0uurx2zi1ze" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0uurx2zi1ze" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0uurx2zi1ze" name="h-captcha-response" style="display: none;"></textarea></div>
              </div>
            </div>
            <div class="error-message invisible">
              <img style="width:20;height:20" class="error-message-icon" alt="" src="/packs/media/images/lead_magnet/error-87fc2677d45527aac8691f55364a3e36.svg">
              <span class="error-message-text">
              Please fill all required fields
              </span>
            </div>
          </form>
          <div class="invisible download-section " data-target="lead_magnet.downloadSection">
            <div class="modal__info" data-target="lead_magnet.info">
              <h2 class="modal__title modal__title--download">Thank you for your submission.</h2>
              <p class="modal__description modal__description--download">Please check your email box. Enjoy our guide!</p>
            </div>
            <a class="button icon-button download " type="button" href="" id="download-ebook-button" style="background-color: #0066ff; color: #ffffff" data-target="lead_magnet.downloadButton" download="">
              <span class="text">
              Download guide
              </span>
              <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                <span class="icon">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    _linkedin_partner_id = "458204";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script>
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    // b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
    <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
  </noscript>
  <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
  <noscript>
    <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
  </noscript>
  <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
    <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0uurx2zi1ze&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
    <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
      <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
      <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
    </div>
  </div>
  <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
  <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=0c283f9d-cd99-456f-9e88-f59d41a45376&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=8428016e-8381-4a54-bf61-5e66791cfbcc&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fworkshops-and-prototyping&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=0c283f9d-cd99-456f-9e88-f59d41a45376&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=8428016e-8381-4a54-bf61-5e66791cfbcc&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fworkshops-and-prototyping&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><iframe id="_hjSafeContext_13848971" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
</body>