<html lang="en">
  <%# <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-3FY2XXZS18&amp;l=dataLayer&amp;cx=c"></script><script src="https://connect.facebook.net/signals/config/444706736107292?v=2.9.95&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://static.hotjar.com/c/hotjar-1074613.js?sv=7"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WCX6979"></script> %>
  <body class="" style="overflow-y: visible;">
    <noscript>
      <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
    </noscript>
    <main class="page design design--en no-padding" data-controller="page">
      <section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#EBF2F3" data-color="#000000" style="background-color: rgb(235, 242, 243); color: rgb(0, 0, 0);">
        <div class="section-content">
          <div class="container">
            <div class="content">
              <div>
                <h1 class="content__title">A tailor-made Product Design process that meets your needs.</h1>
                <p class="content__subtitle">We focus on process and value over hours.</p>
              </div>
            </div>
            <%= image_tag "main-image-256ca8f429c752c7f265360a7fb08080.svg", alt: "AA image", class:"image" %>
            <%# <img class="image " src="/packs/media/images/services/design/main-image-256ca8f429c752c7f265360a7fb08080.svg" alt=""> %>
          </div>
        </div>
      </section>
      <section class="section monoBaseWhite mission" data-target="page.section" data-theme="monoBaseWhite" data-color="white" data-bgcolor="#000000" data-snap="true" style="background-color: rgb(0, 0, 0); color: white;">
        <div class="section-content">
          <div class="row between-lg">
            <div class="mission__col col-xs-24 col-lg-13" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p class="mission__description scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                Our mission is to understand and expand your startup’s ecosystem. We offer strategic guidance and hands-on expertise to improve your startup’s presence online.
              </p>
            </div>
            <div class="mission__col col-xs-24 col-lg-9" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="mission__box scroll-transition" data-target="page.loadOnScroll">
                We combine digital strategy, UX and design to help clients think beyond the ordinary.
              </div>
              <div class="mission__box scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                We always look at major design trends — technological and societal — that can (and will) affect our clients.
              </div>
              <div class="mission__box scroll-transition" data-target="page.loadOnScroll">
                We give you a commitment to deliver an outstanding user experience at every touchpoint.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section monoBaseWhite design-cards-section" data-controller="design_cards" data-target="page.section" data-theme="monoBaseWhite" data-color="white" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: white;">
        <div class="section-content">
          <div class="design-cards">
            <div class="row center-xs">
              <div class="col-xs-24 col-sm-12 col-lg card-wrapper">
                <div class="design-card design-card--0" data-action="mousemove->design_cards#cardMouseMove mouseleave->design_cards#cardMouseLeave" style="translate: none; rotate: none; scale: none; background-color: rgb(34, 35, 38); transform: translate(0px, 0px);">
                  <div class="design-card__image scroll-transition" data-target="page.loadOnScroll" style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; transform: translate(0px, 0px);">
                    <%= image_tag "research-4653c7356931d14e6b58880bdeab6988.svg", alt: "Design research and strategy", class:"card-research" %>
                    <%# <img class="card-research" alt="Design research and strategy" src="/packs/media/images/design/research-4653c7356931d14e6b58880bdeab6988.svg"> %>
                  </div>
                  <div class="design-card__text scroll-transition" data-target="page.loadOnScroll">
                    <h2 class="design-card__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Research &amp; strategy</h2>
                    <p class="design-card__content scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      We understand real-world users’ needs and gather insights that are the basis for formulating the strategy for your products.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-24 col-sm-12 col-lg card-wrapper">
                <div class="design-card design-card--1" data-action="mousemove->design_cards#cardMouseMove mouseleave->design_cards#cardMouseLeave" style="translate: none; rotate: none; scale: none; background-color: rgb(34, 35, 38); transform: translate(0px, 0px);">
                  <div class="design-card__image scroll-transition" data-target="page.loadOnScroll" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); transform-origin: 50% 50%;">
                    <%= image_tag "concept-7398b256a5546e0f502aef8db4b557eb.svg", alt: "Design concept and validation", class:"card-research" %>
                    <%# <img class="card-concept" alt="Design concept and validation" src="/packs/media/images/design/concept-7398b256a5546e0f502aef8db4b557eb.svg"> %>
                  </div>
                  <div class="design-card__text scroll-transition" data-target="page.loadOnScroll">
                    <h2 class="design-card__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Concept &amp; Validation</h2>
                    <p class="design-card__content scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      Creating visual brand identities and guidelines for digital touchpoints.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-24 col-sm-12 col-lg card-wrapper">
                <div class="design-card design-card--2" data-action="mousemove->design_cards#cardMouseMove mouseleave->design_cards#cardMouseLeave">
                  <div class="design-card__image scroll-transition" data-target="page.loadOnScroll">
                    <%= image_tag "product-design-6004ad365eedd107bb1dd1f765a2f73a.svg", alt: "Product design", class:"card-research" %>
                    <%# <img class="card-detailed" alt="Product design" src="/packs/media/images/design/product-design-6004ad365eedd107bb1dd1f765a2f73a.svg"> %>
                  </div>
                  <div class="design-card__text scroll-transition" data-target="page.loadOnScroll">
                    <h2 class="design-card__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Detailed Product Design</h2>
                    <p class="design-card__content scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      Transforming an idea into a user story and designing the assets needed for the development of well-crafted products.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-24 col-sm-12 col-lg card-wrapper">
                <div class="design-card design-card--3" data-action="mousemove->design_cards#cardMouseMove mouseleave->design_cards#cardMouseLeave" style="translate: none; rotate: none; scale: none; background-color: rgb(34, 35, 38); transform: translate(0px, 0px);">
                  <div class="design-card__image scroll-transition" data-target="page.loadOnScroll" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                    <%= image_tag "design-system-cf29cd5469ee8d2d6e0c78d4b7cdec29.svg", alt: "Design system and branding", class:"card-design" %>
                    <%# <img class="card-design" alt="Design system and branding" src="/packs/media/images/design/design-system-cf29cd5469ee8d2d6e0c78d4b7cdec29.svg"> %>
                  </div>
                  <div class="design-card__text scroll-transition" data-target="page.loadOnScroll">
                    <h2 class="design-card__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Design System &amp; Branding</h2>
                    <p class="design-card__content scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      From an idea to the product launch. Creating solutions to important and unexpected problems through design.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" class="scroll-transition" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        <section class="section case-study-rotator" data-target="case_study_rotator.section">
          <div class="row">
            <div class="col-xs-8 rotator-column">
              <div class="case-select-wrapper">
                <div class="case-select">
                  <button class="case-select__button active" data-action="click->case_study_rotator#toggleCase" data-id="0" data-target="case_study_rotator.selectButton">
                    <h4>CHOOOSE</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="1" data-target="case_study_rotator.selectButton">
                    <h4>DX</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="2" data-target="case_study_rotator.selectButton">
                    <h4>Leid.no</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="3" data-target="case_study_rotator.selectButton">
                    <h4>VCLeaders</h4>
                  </button>
                  <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="4" data-target="case_study_rotator.selectButton">
                    <h4>Siemens Finance</h4>
                  </button>
                </div>
                <div class="rotator-buttons">
                  <button class="rotator-buttons__button rotator-buttons__button--left" data-action="click->case_study_rotator#togglePrevCase" aria-label="previous">
                  <span class="ripple"></span>
                  <%= image_tag "rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" %>
                  <%# <img alt="" src="/packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg"> %>
                  </button>
                  <button class="rotator-buttons__button rotator-buttons__button--right" data-action="click->case_study_rotator#toggleNextCase" aria-label="next">
                  <span class="ripple"></span>
                  <%= image_tag "rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" %>
                  <%# <img alt="" src="/packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg"> %>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-8 rotator-column">
              <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
              </a>
              <div class="case-description active" data-target="case_study_rotator.description" data-id="0" style="translate: none; rotate: none; scale: none; transform: translate(-50%, -50%); opacity: 1;">
                <a class="case-description__link" aria-label="See CHOOOSE case study" href="/en/case-studies/chooose">
                  <div class="case-description__logo">
                    <%= image_tag "chooose-1034e9b12a077450d869bac4d9bb4ff2.svg", alt: "CHOOOSE logo", class:"card-design" %>
                    <%# <img alt="CHOOOSE logo" src="/packs/media/images/home/rotator/chooose/chooose-1034e9b12a077450d869bac4d9bb4ff2.svg"> %>
                  </div>
                  <span class="case-description__number">01</span>
                  <p class="case-description__tagline">Experienced agile team prepared to scale up to battle climate change.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Platform for Climate tech</p>
                </a>
                <a class="arrow-button  chooose" href="/en/case-studies/chooose" id="project-chooose" rel="" style="background-color: #e8308a; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="1">
                <a class="case-description__link" aria-label="See DX case study" href="/en/case-studies/dx">
                  <div class="case-description__logo">
                    <img alt="DX logo" src="/packs/media/images/home/rotator/dx/dx-39e83e236361c3c13d8bdb3866e9e0ed.svg">
                  </div>
                  <span class="case-description__number">02</span>
                  <p class="case-description__tagline">A complete discovery of a new platform for cinemas, theatres, and other events’ organisers</p>
                  <p class="case-description__type"><strong>Mobile Development</strong> - Cinema and event management tool</p>
                </a>
                <a class="arrow-button  dx" href="/en/case-studies/dx" id="project-dx" rel="" style="background-color: #4f46e5; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="2">
                <a class="case-description__link" aria-label="See Leid.no case study" href="/en/case-studies/leid">
                  <div class="case-description__logo">
                    <img alt="Leid.no logo" src="/packs/media/images/home/rotator/leid/leid-dc3b3397b6f841accb1476761053951d.svg">
                  </div>
                  <span class="case-description__number">03</span>
                  <p class="case-description__tagline">More than off-the-shelf solution for making tools affordably available, so that renting becomes a better option than owning.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - E-commerce rental platform for sustainability</p>
                </a>
                <a class="arrow-button  leid" href="/en/case-studies/leid" id="project-leid" rel="" style="background-color: #4e8278; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="3">
                <a class="case-description__link" aria-label="See VCLeaders case study" href="/en/case-studies/vcleaders">
                  <div class="case-description__logo">
                    <img alt="VCLeaders logo" src="/packs/media/images/home/rotator/vcleaders/vcleaders-4f221b1b2d0e533043212b41626d5b12.svg">
                  </div>
                  <span class="case-description__number">04</span>
                  <p class="case-description__tagline">Designing a brand identity of a community building platform for VC professionals.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Knowledge Sharing &amp; Community Building Platform</p>
                </a>
                <a class="arrow-button  vcleaders" href="/en/case-studies/vcleaders" id="project-vcleaders" rel="" style="background-color: #002990; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
              <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
              </a>
              <div class="case-description" data-target="case_study_rotator.description" data-id="4">
                <a class="case-description__link" aria-label="See Siemens Finance case study" href="/en/case-studies/siemens">
                  <div class="case-description__logo">
                    <img alt="Siemens Finance logo" src="/packs/media/images/home/rotator/siemens/siemens-0fb53d717b2431c726a81eec9b97aa61.svg">
                  </div>
                  <span class="case-description__number">05</span>
                  <p class="case-description__tagline">From an idea to product - testing comprehensive cloud-based financial platform solutions.</p>
                  <p class="case-description__type"><strong>Web Development</strong> - Platform for Fintech</p>
                </a>
                <a class="arrow-button  siemens" href="/en/case-studies/siemens" id="project-siemens" rel="" style="background-color: #4bb9b9; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                View case
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
            <div class="col-xs-8 rotator-column">
              <div class="case-image-wrapper" data-target="case_study_rotator.imageWrapper" style="background-color: rgb(255, 215, 220);">
                <div class="case-image case-image--chooose active" data-bgcolor="#ffd7dc" data-target="case_study_rotator.image" data-id="0" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0%, 0px);">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/chooose/chooose-26b2a59344b26f135ec5507c302fe3b1.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/chooose/chooose-1fb82f3f4f933599085adbe8ba889878.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="CHOOOSE" src="/packs/media/images/home/rotator/chooose/chooose-1fb82f3f4f933599085adbe8ba889878.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--dx" data-bgcolor="#ecebff" data-target="case_study_rotator.image" data-id="1">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/dx/dx-9fd1b79b3f98ad9a6374a02cc9a710b2.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="DX" src="/packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--leid" data-bgcolor="#b0ccc7" data-target="case_study_rotator.image" data-id="2">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/leid/leid-141e53032e3c36a9a1aabe9cfc74202c.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="Leid.no" src="/packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--vcleaders" data-bgcolor="#e1e9f1" data-target="case_study_rotator.image" data-id="3">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-616bd8341dded0ece43143e800554b57.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="VC Leaders" src="/packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" class="scroll-transition">
                  </picture>
                </div>
                <div class="case-image case-image--siemens" data-bgcolor="#4bb9b9" data-target="case_study_rotator.image" data-id="4">
                  <picture>
                    <source srcset="/packs/media/images/home/rotator/siemens/siemens-5655a59a34117f1e7ca2649ef4941ab9.webp" type="image/webp">
                    <source srcset="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" type="image/png">
                    <img data-target="page.loadOnScroll" alt="Siemens" src="/packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" class="scroll-transition">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="section lets-talk" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-color="#000000" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
        <div class="section-content">
          <div class="row between-md">
            <div class="col-xs-24 col-lg-10">
              <h1 class="lets-talk__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                Let’s talk
              </h1>
              <p class="lets-talk__description scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                Do you want to talk about our product design services? Leave your email address and we will contact you within one day.
              </p>
              <div class="row">
                <div class="lets-talk__contact-person scroll-transition" data-target="page.loadOnScroll">
                  <%= image_tag "marek-f4cf522c520716ee8b37918f39534dbf.png" %>
                  <%# <img class="lets-talk__contact-person-image" alt="Marek Pałys" src="/packs/media/images/technologies/lets_talk/marek-f4cf522c520716ee8b37918f39534dbf.png"> %>
                  <div class="lets-talk__contact-person-text">
                    <h3 class="lets-talk__contact-person-name">
                      Marek Pałys
                    </h3>
                    <p class="lets-talk__contact-person-position">
                      Head of Sales
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-24 col-lg-10 scroll-transition" data-target="page.loadOnScroll" data-controller="contact_form_technology" data-contact_form_technology-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" data-contact_form_technology-theme="monoBaseBlack" data-technology="notTech">
              <div class="text-wrapper" data-target="contact_form_technology.textWrapper"></div>
              <form class="form form--monoBaseBlack" data-target="contact_form_technology.form" >
                <h2 class="form__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  Fill a form
                </h2>
                <div class="input-wrapper scroll-transition" data-target="contact_form_technology.name page.loadOnScroll">
                  <label for="contact-form-name" class="sr-only">Full name</label>
                  <input id="contact-form-name" class="form__input" name="fullname" type="text" placeholder="Full name" data-action="blur->contact_form_technology#validateTextInput" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                </div>
                <div class="input-wrapper scroll-transition" data-target="contact_form_technology.email page.loadOnScroll">
                  <label for="contact-form-email" class="sr-only">Email address</label>
                  <input id="contact-form-email" class="form__input" name="email" type="text" placeholder="Email address" data-action="blur->contact_form_technology#validateEmailInput" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                </div>
                <div class="input-wrapper scroll-transition" data-target="contact_form_technology.content page.loadOnScroll">
                  <label for="contact-form-message" class="sr-only">Message</label>
                  <textarea id="contact-form-message" class="form__input" name="message" rows="5" placeholder="Message" data-action="blur->contact_form_technology#validateTextInput" data-aos="fade-up" data-aos-anchor-placement="top-bottom"></textarea>
                </div>
                <div class="form__bottom-row files scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="files-upload" data-target="contact_form_technology.file" data-controller="files_upload">
                    <label class="files-upload__label" for="upload">
                      <svg class="files-upload__icon" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                        <g fill="none" fill-rule="evenodd">
                          <circle cx="18" cy="18" r="18" fill="#06F" opacity=".201"></circle>
                          <path stroke="#06F" stroke-linecap="round" stroke-linejoin="round" d="M23.253 17.366l-4.353 7.54c-1.09 1.886-3.523 2.52-5.436 1.415-1.913-1.105-2.581-3.53-1.492-5.416l6.526-11.303c.83-1.437 2.684-1.92 4.141-1.078 1.457.841 1.966 2.688 1.137 4.125l-6.53 11.309c-.589 1.02-1.906 1.363-2.942.765-1.036-.598-1.397-1.91-.808-2.93l6.031-10.448"></path>
                        </g>
                      </svg>
                      Add file
                      <span class="files-upload__support-info">
                      Supported formats: .pdf, .jpg, .png
                      </span>
                      <input class="files-upload__input" id="upload" type="file" name="file" ,="" accept="application/pdf, image/png, image/jpeg" data-action="change->files_upload#populateFilesContainer" data-target="files_upload.fileInput">
                    </label>
                    <div class="uploaded-files-container" data-target="files_upload.filesContainer"></div>
                  </div>
                  <div class="captcha-container input-wrapper" data-target="contact_form_technology.captcha">
                    <div id="captcha-contact_form_technology"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0n4bfu08yie&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0n4bfu08yie" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0n4bfu08yie" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0n4bfu08yie" name="h-captcha-response" style="display: none;"></textarea></div>
                  </div>
                  <button class="button icon-button send " type="button" id="contact-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->contact_form_technology#submit" data-target="contact_form_technology.submitButton">
                    <span class="text">
                    Send message
                    </span>
                    <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                      <span class="icon">
                      <span class="send-icon"></span>
                      <span class="arrow-right"></span>
                      </span>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="modal" id="modal-1" data-controller="lead_magnet" data-lead_magnet-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" aria-hidden="true" style="visibility: hidden;">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
        <div class="row modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
          <div class="col-xs-24 col-md-11 last-md modal__contents modal__contents--right">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close="">
              <div class="close-icon">
                <span class="close-icon__dash close-icon__dash--left"></span>
                <span class="close-icon__dash close-icon__dash--right"></span>
              </div>
            </button>
            <picture>
            
            </picture>
          </div>
          <div class="col-xs-24 col-md-13 modal__contents modal__contents--left" id="modal-1-content">
            <div class="modal__loader" data-target="lead_magnet.modalLoader">
              <div class="loader-5 center"><span></span></div>
            </div>
            <div class="modal__logo hidden-md-down">
               <%= image_tag "logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg",alt:"Startup Development House" %>
              <%# <img data-target="page.headerLogo" alt="Startup Development House" src="/packs/media/images/home/logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg"> %>
            </div>
            <div class="modal__info" data-target="lead_magnet.info">
              <h2 class="modal__title" id="modal-1-title">Get the guidance adjusted to your startups’ needs</h2>
              <p class="modal__description">Download one of our decks to learn more about how we solve startups’ problems - depending on the stage of development and available finances.</p>
            </div>
            <form class="modal__form" data-target="lead_magnet.form">
              <div class="input-wrapper" data-target="lead_magnet.guidebook">
                <label for="modal-form-guidebook" class="sr-only" id="customSelect-hrH2e-label">Select your guidebook</label>
                <div class="custom-select-container customSelect">
                  <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-hrH2e-panel" aria-activedescendant="customSelect-hrH2e-selectedOption" aria-labelledby="customSelect-hrH2e-label" tabindex="0" aria-label="Guidebook"><span class="is-disabled">Select your guidebook</span></span>
                  <select id="modal-form-guidebook" class="form__input" name="guidebook" placeholder="Role" data-action="" tabindex="-1">
                    <option value="" disabled="" selected="">Select your guidebook</option>
                    <option value="sxsw-early-stage-startup">
                      Pre-seed
                    </option>
                    <option value="sxsw-seed-startup">
                      Seed
                    </option>
                    <option value="sxsw-series-a-scaleup">
                      Series A+
                    </option>
                  </select>
                  <div id="customSelect-hrH2e-panel" class="custom-select-panel" role="listbox" aria-label="Guidebook">
                    <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-hrH2e-selectedOption" style="display: none;">Select your guidebook</div>
                    <div class="custom-select-option" data-value="sxsw-early-stage-startup" role="option">Pre-seed</div>
                    <div class="custom-select-option" data-value="sxsw-seed-startup" role="option">Seed</div>
                    <div class="custom-select-option" data-value="sxsw-series-a-scaleup" role="option">Series A+</div>
                  </div>
                </div>
              </div>
              <div class="input-wrapper" data-target="lead_magnet.name">
                <label for="modal-form-name" class="sr-only">Full Name</label>
                <input id="modal-form-name" class="form__input" name="fullname" type="text" placeholder="Full Name" data-action="blur->lead_magnet#validateTextInputNoMessage">
              </div>
              <div class="row second-row">
                <div class="column input-wrapper col-xs-24 col-md-12" data-target="lead_magnet.role">
                  <label for="role" class="sr-only">Role</label>
                  <div class="custom-select-container customSelect">
                    <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-ReUdW-panel" aria-activedescendant="customSelect-ReUdW-selectedOption" tabindex="0" aria-label="Role"><span class="is-disabled">Role</span></span>
                    <select id="modal-form-role" class="form__input" name="role" placeholder="Role" data-action="" tabindex="-1">
                      <option value="" disabled="" selected="">Role</option>
                      <option value="CEO/ Founder">
                        CEO/ Founder
                      </option>
                      <option value="CTO">
                        CTO
                      </option>
                      <option value="Product Owner/ Head of Product">
                        Product Owner/ Head of Product
                      </option>
                      <option value="Developer/ Engineer">
                        Developer/ Engineer
                      </option>
                      <option value="Project Manager">
                        Project Manager
                      </option>
                      <option value="Product Designer">
                        Product Designer
                      </option>
                      <option value="Innovation Manager">
                        Innovation Manager
                      </option>
                      <option value="Other">
                        Other
                      </option>
                    </select>
                    <div id="customSelect-ReUdW-panel" class="custom-select-panel" role="listbox" aria-label="Role">
                      <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-ReUdW-selectedOption" style="display: none;">Role</div>
                      <div class="custom-select-option" data-value="CEO/ Founder" role="option">CEO/ Founder</div>
                      <div class="custom-select-option" data-value="CTO" role="option">CTO</div>
                      <div class="custom-select-option" data-value="Product Owner/ Head of Product" role="option">Product Owner/ Head of Product</div>
                      <div class="custom-select-option" data-value="Developer/ Engineer" role="option">Developer/ Engineer</div>
                      <div class="custom-select-option" data-value="Project Manager" role="option">Project Manager</div>
                      <div class="custom-select-option" data-value="Product Designer" role="option">Product Designer</div>
                      <div class="custom-select-option" data-value="Innovation Manager" role="option">Innovation Manager</div>
                      <div class="custom-select-option" data-value="Other" role="option">Other</div>
                    </div>
                  </div>
                </div>
                <div class="column input-wrapper col-md-12" data-target="lead_magnet.company">
                  <label for="modal-form-company" class="sr-only">Company</label>
                  <input id="modal-form-company" class="form__input" name="company" type="text" placeholder="Company" data-action="blur->lead_magnet#validateTextInputNoMessage">
                </div>
              </div>
              <div class="row third-row">
                <div class="column input-wrapper col-xs-24 col-md-14" data-target="lead_magnet.email">
                  <label for="modal-form-email" class="sr-only">E-mail</label>
                  <input id="modal-form-email" class="form__input" name="email" type="text" placeholder="E-mail" data-action="blur->lead_magnet#validateEmailInputNoMessage">
                </div>
                <div class="column col-xs-24 col-md-10">
                  <button class="button icon-button send " type="submit" id="download-ebook-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->lead_magnet#submit" data-target="lead_magnet.submitButton">
                    <span class="text">
                    Send
                    </span>
                    <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                      <span class="icon">
                      <span class="send-icon"></span>
                      <span class="arrow-right"></span>
                      </span>
                    </div>
                  </button>
                </div>
              </div>
              <div class="agreement">
                <div class="agreement__checkbox input-wrapper pretty p-default p-curve p-fill" data-target="lead_magnet.agreement">
                  <input id="modal-form-agreement" class="form__input" name="agreement" type="checkbox">
                  <div class="state p-primary">
                    <label for="modal-form-agreement">
                    <span>
                    I agree to receive the newsletter and commercial information from Startup Development House
                    <a href="/en/privacy-policy">Read more</a>
                    </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="captcha-row">
                <div class="captcha-container input-wrapper" data-target="lead_magnet.captcha">
                  <div id="captcha-lead_magnet"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=1etzdp2qui0c&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="1etzdp2qui0c" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-1etzdp2qui0c" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-1etzdp2qui0c" name="h-captcha-response" style="display: none;"></textarea></div>
                </div>
              </div>
              <div class="error-message invisible">
               <%= image_tag "error-87fc2677d45527aac8691f55364a3e36.svg", alt: "" , style:"width:20;height:20" ,class:"error-message-icon"%>
                <%# <img style="width:20;height:20" class="error-message-icon" alt="" src="/packs/media/images/lead_magnet/error-87fc2677d45527aac8691f55364a3e36.svg"> %>
                <span class="error-message-text">
                Please fill all required fields
                </span>
              </div>
            </form>
            <div class="invisible download-section " data-target="lead_magnet.downloadSection">
              <div class="modal__info" data-target="lead_magnet.info">
                <h2 class="modal__title modal__title--download">Thank you for your submission.</h2>
                <p class="modal__description modal__description--download">Please check your email box. Enjoy our guide!</p>
              </div>
              <a class="button icon-button download " type="button" href="" id="download-ebook-button" style="background-color: #0066ff; color: #ffffff" data-target="lead_magnet.downloadButton" download="">
                <span class="text">
                Download guide
                </span>
                <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                  <span class="icon">
                  <span class="shaft" style="background-color: #ffffff"></span>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      _linkedin_partner_id = "458204";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script>
      (function(){var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      // b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
      <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
    </noscript>
    <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
    <noscript>
      <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
    </noscript>
    <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
      <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0n4bfu08yie&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
      <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
      <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
        <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
        <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
      </div>
    </div>
    <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
      <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=1etzdp2qui0c&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
      <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
      <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
        <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
        <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
      </div>
    </div>
    <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
    <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><iframe id="_hjSafeContext_69148445" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=137ebafc-ef1c-4773-8854-eee16fcc8474&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=0b913355-314c-4eba-9936-8b40ed8b0ea0&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fdesign&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=137ebafc-ef1c-4773-8854-eee16fcc8474&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=0b913355-314c-4eba-9936-8b40ed8b0ea0&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fdesign&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;">
  </body>
  <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion/789901966/?random=1675171839820&amp;cv=11&amp;fst=1675171839820&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=2wg1p0&amp;u_w=1280&amp;u_h=800&amp;label=200&amp;hn=www.googleadservices.com&amp;frm=0&amp;url=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fdesign&amp;ref=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fworkshops-and-prototyping&amp;tiba=Design%20%7C%20Startup%20Development%20House&amp;value=0&amp;bttype=purchase&amp;auid=645692880.1674035887&amp;uaa=x86&amp;uab=64&amp;uafvl=Not_A%2520Brand%3B99.0.0.0%7CGoogle%2520Chrome%3B109.0.5414.119%7CChromium%3B109.0.5414.119&amp;uamb=0&amp;uap=macOS&amp;uapv=12.0.1&amp;uaw=0&amp;rfmt=3&amp;fmt=4"></script>
</html>