<body class="" cz-shortcut-listen="true" style="overflow-y: visible;">
   <noscript>
      <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
   </noscript>
   <main class="page no-padding service quality-assurance services-subpage" data-controller="page" data-lazy="true">
      <section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#EBF3FF" data-color="#000000" style="background-color: rgb(235, 243, 255); color: rgb(0, 0, 0);">
         <div class="section-content">
            <div class="container">
               <div class="content">
                  <div>
                     <h1 class="content__title">Digital Products approved by QA Specialists.</h1>
                     <p class="content__subtitle">Let our Quality Assurance team help you deliver a well polished product directly to your users hands.</p>
                  </div>
               </div>
               <%= image_tag "main-image-f5235dbd6926d9557ab80f89690bac17.svg", class:"image " %>
            </div>
         </div>
      </section>
      <section class="section charts no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
         <div class="section-content">
            <div class="charts__wrapper">
               <div class="custom-header  ">
                  <p class="subheading scroll-transition" data-target="page.loadOnScroll">No product is perfect</p>
                  <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Do you know what to do with software bugs?</h2>
               </div>
               <div class="charts__container charts__container--pie">
                    <%= image_tag "pie-chart-d09e1b0809658e9c5ca4e59d9dda302e.svg", class:"image image--pie scroll-transition" %>
                  <div class="content content--pie scroll-transition" data-target="page.loadOnScroll">
                     <h3 class="content__title">More bugs than you realise</h3>
                     <p class="content__description">Bug tickets account for more than ⅓ of total ticket count in projects, on average</p>
                  </div>
               </div>
               <div class="charts__container charts__container--bar">
                  <div class="content content--bar scroll-transition" data-target="page.loadOnScroll">
                     <h3 class="content__title">They cost more than you think</h3>
                     <p class="content__description">Fixing bugs on production can be up to 30x more expensive than fixing them during the requirement stage</p>
                  </div>
                  <%= image_tag "bar-chart-7bdf2233fcb0f815ac0f0cc9aea7b3c6.svg", class:"image image--desktop scroll-transition" %>
                  <%= image_tag "bar-chart-mobile-ac9a0f65ffe175775e51e177150374dd.svg", class:"image image--mobile scroll-transition" %>
               </div>
            </div>
         </div>
      </section>
      <section class="section why-need-qa no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
         <div class="section-content">
            <div class="why-need-qa__wrapper">
               <div class="why-need-qa__header">
                  <div class="custom-header  ">
                     <p class="subheading scroll-transition" data-target="page.loadOnScroll">Quality needs constant attention</p>
                     <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Why do you need a QA in your team?</h2>
                  </div>
                  <h3 class="description">Core benefits of having Quality Assurance specialist in your project:</h3>
               </div>
               <div class="content">
                  <ul class="content__list">
                     <li class="content__list-item scroll-transition" data-target="page.loadOnScroll">
                        <p>Constant control over the quality of the project</p>
                     </li>
                     <li class="content__list-item scroll-transition" data-target="page.loadOnScroll">
                        <p>Minimizing costs related to fixing defects</p>
                     </li>
                     <li class="content__list-item scroll-transition" data-target="page.loadOnScroll">
                        <p>Relieving other team members of having to test the software</p>
                     </li>
                     <li class="content__list-item scroll-transition" data-target="page.loadOnScroll">
                        <p>Providing feedback about the application as a representative of a real user</p>
                     </li>
                     <li class="content__list-item scroll-transition" data-target="page.loadOnScroll">
                        <p>Implementing processes responsible for maintaining quality in the project</p>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section class="section when-need-qa no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
         <div class="section-content">
            <div class="when-need-qa__wrapper">
               <div class="when-need-qa__top">
                  <div class="custom-header  ">
                     <p class="subheading scroll-transition" data-target="page.loadOnScroll">Quality needs constant attention</p>
                     <h2 class="heading scroll-transition" data-target="page.loadOnScroll">When do you need a QA in your team?</h2>
                  </div>
                  <p class="description scroll-transition" data-target="page.loadOnScroll">The short answer is: as soon as possible. Considering that the market demands products that are not only delivered fast but are also polished, including Quality Assurance from the beginning makes a lot of sense. It may seem like there’s nothing to do for the Quality Assurance Specialist at the beginning of a project, but this statement is far from the truth.</p>
               </div>
               <div class="cards">
                  <div class="card main-card scroll-transition" data-target="page.loadOnScroll">
                     <h3 class="main-card__title">QA at the beginning of a project:</h3>
                     <%= image_tag "list-item-arrow-white-84a13d1ed650936e600d88f3509c67a1.svg", class:"main-card__image" %>
                     </div>
                  <div class="card scroll-transition" data-target="page.loadOnScroll">
                     <h4 class="card__title">Analyzing wireframes/designs</h4>
                     <p class="card__content">Allow our team to understand better of the project and spot more issues that would cost you time.</p>
                  </div>
                  <div class="card scroll-transition" data-target="page.loadOnScroll">
                     <h4 class="card__title">Verifying product requirements and existing documentation</h4>
                     <p class="card__content">This allows our QA Specialists to spot the bugs or possible issues even before they are implemented. It improves the project cost-wise, and in terms of the deadline.</p>
                  </div>
                  <div class="card scroll-transition" data-target="page.loadOnScroll">
                     <h4 class="card__title">Creating test documentation</h4>
                     <p class="card__content">We create proper test documentation at the beginning of the project - way before there’s a time pressure to deliver it.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="section why-automated-tests no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
         <div class="section-content">
            <div class="why-automated-tests__wrapper">
               <div class="why-automated-tests__header">
                  <div class="custom-header  ">
                     <p class="subheading scroll-transition" data-target="page.loadOnScroll">Support manual testing</p>
                     <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Why you should invest in automated testing</h2>
                  </div>
                  <p class="description scroll-transition" data-target="page.loadOnScroll">Manual and automated (E2E) testing complement each other, as they serve different purposes. While manual testing serves as a verification tool for the newly added features, we make sure that the already developed features are always working by using automated tests.</p>
               </div>
               <h3 class="title scroll-transition" data-target="page.loadOnScroll">Benefits of test automation in your project:</h3>
               <ul class="list">
                  <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                    <%= image_tag "blitz-0da04bafb1b42ea2a66486b4f3c30f11.svg",  class:"list__item-image" %>
                    <p class="list__item-content">Shorter deployments, as the automated features don’t need to be tested manually.</p>
                  </li>
                  <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                    <%= image_tag "diamond-39f43bfb3a6620bfbd84056af565853e.svg",  class:"list__item-image" %>
                    <p class="list__item-content">More certainty in the product – you always know what the status of the automated features is.</p>
                  </li>
                  <li class="list__item scroll-transition" data-target="page.loadOnScroll">
                    <%= image_tag "steps-3bf2b2a05248744bbe1c050931dbcd08.svg", class:"list__item-image" %>
                    <p class="list__item-content">Regression bugs in the areas covered by automation are found immediately, saving time.</p>
                  </li>
               </ul>
            </div>
         </div>
      </section>
      <section class="section simple-cards simple-cards-- no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
        <div class="section-content">
            <div class="simple-cards__wrapper">
                <div class="simple-cards__top">
                    <div class="custom-header  ">
                        <p class="subheading scroll-transition" data-target="page.loadOnScroll">A proper level of automation</p>
                        <h2 class="heading scroll-transition" data-target="page.loadOnScroll">When you should start introducing automated testing</h2>
                    </div>
                </div>
                <div class="cards">
                    <div class="card scroll-transition" data-target="page.loadOnScroll">
                        <%= image_tag "gear-blue-8789f1dadfc5fe11c982f97743b79108.svg",  class:"card__image" %>
                        <h3 class="card__title">Complex products</h3>
                        <p class="card__content">It always makes sense to automate things that are very complex and are difficult to check, such as multi-factor pricing or time-sensitive use cases.</p>
                    </div>
                    <div class="card scroll-transition" data-target="page.loadOnScroll">
                        <%= image_tag "calendar-95f3f462b6b45cafac27168449f2ba5b.svg",  class:"card__image" %>
                        <h3 class="card__title">Long-term projects</h3>
                        <p class="card__content">Automation works best on long-term projects, when the risk of regression bugs in software is higher.</p>
                    </div>
                    <div class="card scroll-transition" data-target="page.loadOnScroll">
                        <%= image_tag "bug-a1e610a3c6bc107b50faa7f70fa71ecb.svg",  class:"card__image" %>
                        <h3 class="card__title">Sensitivity to defects</h3>
                        <p class="card__content">If your product has to meet Service Level Agreements, or the probability of bugs has to be as low as possible for any other reason, automation is a must-have.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <section class="section lets-talk" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
      <div class="section-content">
         <div class="row between-md">
            <div class="col-xs-24 col-lg-10">
               <h1 class="lets-talk__title scroll-transition" data-target="page.loadOnScroll">
                  Let’s talk
               </h1>
               <p class="lets-talk__description scroll-transition" data-target="page.loadOnScroll">
                  If you have any doubts about whether your project should aim for automation, we’ll be happy to answer any of your questions.
               </p>
               <div class="row">
                  <div class="lets-talk__contact-person scroll-transition" data-target="page.loadOnScroll">
                     <img class="lets-talk__contact-person-image" alt="Łukasz Kołpak" src="/packs/media/images/technologies/lets_talk/lukasz_kolpak-991b1a73e994b6d47d29cb5cca66ba20.png">
                     <div class="lets-talk__contact-person-text">
                        <h3 class="lets-talk__contact-person-name">
                           Łukasz Kołpak
                        </h3>
                        <p class="lets-talk__contact-person-position">
                           QA Manager
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-24 col-lg-10 scroll-transition" data-target="page.loadOnScroll" data-controller="contact_form_technology" data-contact_form_technology-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" data-contact_form_technology-theme="monoBaseBlack" data-technology="notTech">
               <div class="text-wrapper" data-target="contact_form_technology.textWrapper"></div>
               <form class="form form--monoBaseBlack" data-target="contact_form_technology.form">
                  <h2 class="form__title scroll-transition" data-target="page.loadOnScroll">
                     Fill a form
                  </h2>
                  <div class="input-wrapper scroll-transition" data-target="contact_form_technology.name page.loadOnScroll">
                     <label for="contact-form-name" class="sr-only">Full name</label>
                     <input id="contact-form-name" class="form__input" name="fullname" type="text" placeholder="Full name" data-action="blur->contact_form_technology#validateTextInput">
                  </div>
                  <div class="input-wrapper scroll-transition" data-target="contact_form_technology.email page.loadOnScroll">
                     <label for="contact-form-email" class="sr-only">Email address</label>
                     <input id="contact-form-email" class="form__input" name="email" type="text" placeholder="Email address" data-action="blur->contact_form_technology#validateEmailInput">
                  </div>
                  <div class="input-wrapper scroll-transition" data-target="contact_form_technology.content page.loadOnScroll">
                     <label for="contact-form-message" class="sr-only">Message</label>
                     <textarea id="contact-form-message" class="form__input" name="message" rows="5" placeholder="Message" data-action="blur->contact_form_technology#validateTextInput"></textarea>
                  </div>
                  <div class="form__bottom-row files scroll-transition" data-target="page.loadOnScroll">
                     <div class="files-upload" data-target="contact_form_technology.file" data-controller="files_upload">
                        <label class="files-upload__label" for="upload">
                           <svg class="files-upload__icon" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                              <g fill="none" fill-rule="evenodd">
                                 <circle cx="18" cy="18" r="18" fill="#06F" opacity=".201"></circle>
                                 <path stroke="#06F" stroke-linecap="round" stroke-linejoin="round" d="M23.253 17.366l-4.353 7.54c-1.09 1.886-3.523 2.52-5.436 1.415-1.913-1.105-2.581-3.53-1.492-5.416l6.526-11.303c.83-1.437 2.684-1.92 4.141-1.078 1.457.841 1.966 2.688 1.137 4.125l-6.53 11.309c-.589 1.02-1.906 1.363-2.942.765-1.036-.598-1.397-1.91-.808-2.93l6.031-10.448"></path>
                              </g>
                           </svg>
                           Add file
                           <span class="files-upload__support-info">
                           Supported formats: .pdf, .jpg, .png
                           </span>
                           <input class="files-upload__input" id="upload" type="file" name="file" ,="" accept="application/pdf, image/png, image/jpeg" data-action="change->files_upload#populateFilesContainer" data-target="files_upload.fileInput">
                        </label>
                        <div class="uploaded-files-container" data-target="files_upload.filesContainer"></div>
                     </div>
                     <div class="captcha-container input-wrapper" data-target="contact_form_technology.captcha">
                        <div id="captcha-contact_form_technology"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0f6ukd7o3f0g&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0f6ukd7o3f0g" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0f6ukd7o3f0g" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0f6ukd7o3f0g" name="h-captcha-response" style="display: none;"></textarea></div>
                     </div>
                     <button class="button icon-button send " type="button" id="contact-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->contact_form_technology#submit" data-target="contact_form_technology.submitButton">
                        <span class="text">
                        Send message
                        </span>
                        <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                           <span class="icon">
                           <span class="send-icon"></span>
                           <span class="arrow-right"></span>
                           </span>
                        </div>
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
    <section class="section vertical-image-and-text no-padding" data-target="page.section" data-theme="monoBaseBlack" data-color="#000000" data-bgcolor="#EBF3FF" style="background-color: rgb(235, 243, 255); color: rgb(0, 0, 0);">
        <div class="section-content">
            <div class="vertical-image-and-text__wrapper">
                <%= image_tag "qa-vertical-e764c7970f53d26a019d2bbf4426a5df.svg",  class:"vertical-image-and-text__image scroll-transition" %>
                <div class="vertical-image-and-text__content">
                    <div class="custom-header  ">
                    <p class="subheading scroll-transition" data-target="page.loadOnScroll">QA does not equal testing</p>
                    <h2 class="heading scroll-transition" data-target="page.loadOnScroll">What does a QA Specialist do during development?</h2>
                    </div>
                    <p class="description scroll-transition" data-target="page.loadOnScroll">One may think that Quality Assurance equals finding all kinds of software bugs. That’s only partly true, as there is so much more to this. We consider that the primary role of QA in a project is to facilitate the work to ensure the best possible quality in its most broad sense. What does this mean in practice?</p>
                    <ul class="list">
                        <li class="list__item scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">
                            <p>Ownership over defects in a project</p>
                        </li>
                        <li class="list__item scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">
                            <p>Signalling any potential issues (not only from bug standpoint)</p>
                        </li>
                        <li class="list__item scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">
                            <p>Identifying the documentation needs, so that the whole team can benefit from the shared knowledge base</p>
                        </li>
                        <li class="list__item scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">
                            <p>Any other actions that benefit the project, from the perspective of both the project team and the user.</p>
                        </li>
                    </ul>
                    <p class="description scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">Sometimes ideas may sound good on paper, but in reality, they are, at best, misinterpreted by the user. Having a significant background in interacting with a varied scope of applications, a QA can identify and propose improvements in such cases. You’re looking at an end-user stakeholder, who also knows a fair bit about the technicalities.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-break no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#0066FF" data-color="#FFFFFF" style="background-color: rgb(0, 102, 255); color: rgb(255, 255, 255);">
        <div class="section-content">
            <div class="text-break__wrapper">
                <h2 class="text-break__text" data-target="page.loadOnScroll">Quality Assurance specialist acts as a spokesperson for the end-user caring not only about bug fixing but also helping to deliver an exceptional final experience.</h2>
            </div>
        </div>
    </section>
    <section class="section qa-tools no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        <div class="section-content">
            <div class="qa-tools__wrapper">
                <div class="custom-header  ">
                    <p class="subheading" data-target="page.loadOnScroll">Our QA Tools</p>
                    <h2 class="heading" data-target="page.loadOnScroll">What we use?</h2>
                </div>
                <div class="tools">
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "confluence-d21461eb9f0ced9dc8410f6396c80b30.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Confluence</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "postman-85e4dc55929321073f7f8f615e81c41d.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Postman</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "browserstack-2a43431f8099c6a1d733e62fbcef0d1f.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Browserstack</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "cypress-82eb84bc36d68a9dba46c908bc6906b4.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Cypress</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "dbeaver-20a5156185d5b89923407383f1218699.svg",  class:"tool__image" %>
                        <h3 class="tool__name">DBeaver</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "burp-suite-6b27f29d6294b9398467d6bb24d6a635.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Burp Suite</h3>
                    </div>
                    <div class="tool" data-target="page.loadOnScroll">
                        <%= image_tag "physical-devices-9270ee1be9990c55bba2025b36fda9d1.svg",  class:"tool__image" %>
                        <h3 class="tool__name">Physical Devices</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
         <div class="latest-posts__container">
            <div class="section-content">
               <div class="latest-posts__header">
                  <p class="subheading scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">Our voice</p>
                  <div class="heading-wrapper">
                     <h2 class="heading scroll-not-loaded scroll-transition" data-target="page.loadOnScroll">Latest posts <br> on our Blog</h2>
                     <a class="button-desktop" href="/en/blog">
                     <span class="text">View more posts</span>
                     <img src="/packs/media/images/shared/arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg" alt="">
                     </a>
                  </div>
               </div>
               <div class="posts" data-target="latest_posts.posts">
                  <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
                     <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
                     <div class="post__metadata">
                        <p>Startups</p>
                        <p>Jan 26, 2023</p>
                     </div>
                     <h3 class="post__content">
                        How Accelerators Help Startups
                     </h3>
                  </a>
                  <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
                     <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
                     <div class="post__metadata">
                        <p>Startups</p>
                        <p>Jan 19, 2023</p>
                     </div>
                     <h3 class="post__content">
                        Value Proposition Canvas Explained
                     </h3>
                  </a>
               </div>
               <a class="button-mobile" href="/en/blog">
               <span class="text">View more posts</span>
               <img src="/packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt="">
               </a>
            </div>
         </div>
      </section>

   </main>

   <script>
      _linkedin_partner_id = "458204";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
   </script>
   <script>
      (function(){var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
   </script>
   <noscript>
      <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
   </noscript>
   <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
   <noscript>
      <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
   </noscript>
   <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
   <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
   <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
   <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
      <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=05q4hdo72c88&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
      <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
      <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
         <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
         <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
      </div>
   </div>
   <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
      <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=199qgibanlg&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
      <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
      <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
         <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
         <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
      </div>
   </div>
   <iframe id="_hjSafeContext_55457024" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=dc5fe439-f67d-4e8d-9f72-cf48a3ef47cf&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=81ce9ca6-5f82-447d-9e18-a0f7acc2faa6&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fquality-assurance&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=dc5fe439-f67d-4e8d-9f72-cf48a3ef47cf&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=81ce9ca6-5f82-447d-9e18-a0f7acc2faa6&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fquality-assurance&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;">
</body>