<section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" data-color="#FFFFFF" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
  <div class="section-content">
    <div class="container">
      <div class="content">
        <div>
          <h1 class="content__title">Get from concept to completion <span style="white-space: nowrap; color: #0066ff;">in 10 weeks</span></h1>
          <p class="content__subtitle">Whether you’re a startup needing a proof-of-concept or you’re a budding business looking to test new waters, your next step should be your own Rapid MVP.<br><br>It will quickly bring focus to your product’s core value proposition, satisfy early adopters, and provide valuable market feedback that is so crucial for your product’s future.</p>
          <a class="arrow-button  content__schedule-call-button" href="https://calendly.com/d/ds3-hj2-x23/intro-call-with-startup-house" id="" rel="noopener noreferrer" style="background-color: #0066FF; color: #ffffff; border-color: transparent">
          <span class="arrow arrow--left">
          <span class="shaft" style="background-color: #ffffff"></span>
          </span>
          <span class="main">
          <span class="text">
          Schedule a call
          </span>
          <span class="arrow arrow--right">
          <span class="shaft" style="background-color: #ffffff"></span>
          </span>
          </span>
          </a>
        </div>
      </div>
      <%= image_tag "hero-e0f4c03ed798c8fcc0e357b5b8ad0b74.png", class: "image image--desktop", alt: "rapid mvp" %>
    </div>
  </div>
</section>

<section class="section list-with-svg-icons no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-color="#000000" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="list-with-svg-icons__wrapper">
      <div class="list-with-svg-icons__header">
        <div class="custom-header  ">
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Who uses Rapid MVPs?</h2>
        </div>
      </div>
      <div class="content">
        <h3 class="description">The short answer is 'many', but here are some typical types we’ve worked with:</h3>
        <ul class="content__list">
          <li class="content__list-item">
            <%= image_tag "people-1c0bf330b113b0939f29e3d17576e8ac.svg", class: "lazy-image content__list-item__image loaded", alt: "people img" %>
            <p class="content__list-item__content"><b>Industry experts</b> with some technical knowledge who need to validate an idea quickly.</p>
          </li>
          <li class="content__list-item">
            <%= image_tag "star-43fdddc63cc6fa9772a34ab1100824d0.svg", class: "lazy-image content__list-item__image loaded", alt: "star img" %>
            <p class="content__list-item__content"><b>"Pre-seed startups</b> with limited time and resources."</p>
          </li>
          <li class="content__list-item">
            <%= image_tag "connection-613c0fb1fc1d5456eb70f2d09e073e0f.svg", class: "lazy-image content__list-item__image loaded", alt: "connection img" %>
            <p class="content__list-item__content">Businesses looking to <b>enter a new market or launch a new product line.</b></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section count-with-icons-no-toggle no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFFFFF" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="count-with-icons-no-toggle__wrapper">
      <div class="count-with-icons-no-toggle__top">
        <div class="custom-header  ">
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">The remarkable benefits of a Rapid MVP</h2>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <%= image_tag "clock-524e910ab616a9047338466cd0395876.svg",alt: "Launch in no time", class: "lazy-image card__image loaded" %>
          </div>
          <div class="content-wrapper">
            <h2 class="card__title">Launch in no time</h2>
            <p class="card__content">With an approximate lead time of just 10 weeks, a Rapid MVP is the most immediate way to validate your business idea and therefore an indispensable factor in getting your product to market as quickly as possible.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <%= image_tag "magnifier-cd39931d3e449959754b71067b6684bb.svg",alt: "Learn what’s ahead", class: "lazy-image card__image loaded" %>
          </div>
          <div class="content-wrapper">
            <h2 class="card__title">Learn what’s ahead</h2>
            <p class="card__content">Creating a Rapid MVP provides the valuable user feedback and technological insight you need for maximizing your idea’s potential.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <%= image_tag "cash-a67f2a5c195919e2bba2d8c5e03e356d.svg",alt: "Get more for less", class: "lazy-image card__image loaded" %>
          </div>
          <div class="content-wrapper">
            <h2 class="card__title">Get more for less</h2>
            <p class="card__content">By minimizing budget requirements while opening opportunities for user testing, a Rapid MVP minimizes the risk of product failure.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <%= image_tag "rocket-701376948266514603a2cdc786b7c706.svg",alt: "Build momentum", class: "lazy-image card__image loaded" %>
          </div>
          <div class="content-wrapper">
            <h2 class="card__title">Build momentum</h2>
            <p class="card__content">A Rapid MVP is an effective medium for building momentum behind your product prior to launch and a great way of attracting early adopters and investors.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section white accordion-stepper no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000" data-controller="accordion-stepper" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
  <div class="section-content">
    <div class="accordion-stepper__wrapper">
      <h2 class="accordion-stepper__heading">
        How your Rapid MVP comes to life
      </h2>
      <ul class="rows">
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Shaping Phase</h2>
            <p class="row__subtitle">Work with skilled, experienced product managers</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">Work begins with our highly-experienced product managers to ensure your Rapid MVP is built for quick release. This means getting familiar with your main objectives and translating them into a design concept. The early feedback gained at this stage is essential for validating your MVP before any further time and effort are invested.</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Technical Research Phase</h2>
            <p class="row__subtitle">Meet our technology experts</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">Here, our tech team investigates and documents your business requirements, its technical feasibility and potential architectural options. This helps us identify and recommend the best solution for your needs. We can also create a prototype of the proposed solution to demonstrate how it will work. This phase is important for determining what resources will be required to complete the project and includes a report detailing our findings and recommendations.</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Design Phase</h2>
            <p class="row__subtitle">Design to solve, design to succeed</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">​​Once we have a common understanding of your idea, it's time to start designing your Rapid MVP. The design phase is critical to the success of your Rapid MVP, as it will determine how well your product solves the problem it is meant to.</p>
            <p class="row__content-paragraph ">Here’s what we do:</p>
            <p class="row__content-paragraph row__content-paragraph--listed">We keep it simple: the goal of a Rapid MVP is to test a hypothesis, not to create a fully-fledged product. As such, it's important to keep the design of your Rapid MVP as straightforward as possible.</p>
            <p class="row__content-paragraph row__content-paragraph--listed">We focus on the core functionality: what is the one thing that your Rapid MVP must do to succeed? We ensure this functionality is central to your design.</p>
            <p class="row__content-paragraph row__content-paragraph--listed">We prepare for iterations: a Rapid MVP is not a final product but a stepping stone to one. As such, we design your Rapid MVP so that it can be easily updated and improved over time.</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Proof-Of-Concept Implementation</h2>
            <p class="row__subtitle">Realization begins</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">This is where things get ever more real. Once the design phase is complete and all MVP requirements have been determined, the implementation phase begins. Our developers set to work on building out a streamlined version of your product so that it can be launched immediately and tested accordingly.</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Test Phase</h2>
            <p class="row__subtitle">Validate assumptions and gather feedback</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">After completing the development phase, it’s time to test your Rapid MVP. This is where you'll see if your product actually works as intended. The main purpose of a rapid MVP is to test your product with as many people as possible to validate your assumptions and gather feedback.</p>
            <p class="row__content-paragraph ">Steps during the test phase:</p>
            <p class="row__content-paragraph row__content-paragraph--listed">Create a test plan and approve it</p>
            <p class="row__content-paragraph row__content-paragraph--listed">Carry out tests</p>
            <p class="row__content-paragraph row__content-paragraph--listed">Evaluate results and analyse data</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Feedback Interviews</h2>
            <p class="row__subtitle">Wrap up and plan for the future</p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">After the test phase is complete, we conduct feedback interviews to understand your overall impression of the Rapid MVP. Once we have a list of your thoughts on the table, we consider how to address each issue individually.</p>
          </div>
        </li>
        <li class="row scroll-transition" data-target="page.loadOnScroll accordion-stepper.row" data-action="click->accordion-stepper#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Further Development After Rapid MVP</h2>
            <p class="row__subtitle"></p>
          </div>
          <div class="row__content">
            <p class="row__content-paragraph ">In the post-Rapid MVP feedback phase, we can help you create a strategy to improve your Rapid MVP into a market-ready product.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section who-you-work-with no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFFFFF" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="who-you-work-with__wrapper">
      <h3 class="title scroll-transition" data-target="page.loadOnScroll">Who you’ll work with</h3>
      <ul class="list">
        <li class="list__item scroll-transition" data-target="page.loadOnScroll">
          <%= image_tag "light_bulb-ce2cfb0fb94680ab09928533e8ebb7e4.svg",class: "list__item-image", alt: "light bulb" %>
          <h2 class="list__item-title">Product Manager</h2>
          <p class="list__item-content">Providing frameworks and answering your questions during the shaping phase.</p>
        </li>
        <li class="list__item scroll-transition" data-target="page.loadOnScroll">
          <%= image_tag "gear-6dc162f3fc447046d184189845a76a4d.svg",class: "list__item-image", alt: "gear" %>
          <h2 class="list__item-title">Project Manager</h2>
          <p class="list__item-content">Ensuring we reach our Rapid MVP goals within time.</p>
        </li>
        <li class="list__item scroll-transition" data-target="page.loadOnScroll">
          <%= image_tag "quill-99bcb7fa362d6f3f1c21bb0fb48e4579.svg",class: "list__item-image", alt: "quill img" %>
          <h2 class="list__item-title">Designers | UX/UI</h2>
          <p class="list__item-content">Making your vision come to life during the design phase.</p>
        </li>
        <li class="list__item scroll-transition" data-target="page.loadOnScroll">
          <%= image_tag "code-71833a9cd4b24e544238a6e9a92050a3.svg",class: "list__item-image", alt: "code img" %>
          <h2 class="list__item-title">Developers</h2>
          <p class="list__item-content">Implementing the proof-of-concept.</p>
        </li>
        <li class="list__item scroll-transition" data-target="page.loadOnScroll">
          <%= image_tag "medal-6421c76e40972601771ad953d9a5e1bc.svg",class: "list__item-image", alt: "mdeal img" %>
          <h2 class="list__item-title">Technology Leaders</h2>
          <p class="list__item-content">Providing key expertise.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section white faq no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-controller="faq" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="faq__wrapper">
      <div class="faq__heading">
        <div class="custom-header  ">
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">FAQ</h2>
        </div>
      </div>
      <div class="rows">
        <div class="row dropdown" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">How long does a Rapid MVP take to develop?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow dropdown-btn", alt: "img" %>
          </div>
          <div class="row__content dropdown-content">
            <p>Rapid MVP development can take anywhere from a few weeks to a few months, depending on the product’s level of complexity. Typical lead time tends to be around 10 weeks.<br><br>However, developing a Rapid MVP is generally quicker and cheaper than a traditional product since you are only developing the essential features and not all the bells and whistles. This makes it a great option for startups and businesses needing quick proof of concept.</p>
          </div>
        </div>
        <div class="row scroll-transition" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">How much does a Rapid MVP cost?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow", alt: "img" %>
          </div>
          <div class="row__content">
            <p>Cost depends on what specific features and functionalities are required. A limited budget may still afford a more basic MVP, whereas one larger will naturally accommodate whatever more advanced features are required. For a more accurate assessment of what your budget can do for you, contact us.</p>
          </div>
        </div>
        <div class="row scroll-transition" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Should I have a team to create a Rapid MVP with Startup House?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow", alt: "img" %>
          </div>
          <div class="row__content">
            <p>No, just you and us. The Startup House team is your team.</p>
          </div>
        </div>
        <div class="row scroll-transition" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Should I have a verified idea to create a Rapid MVP?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow", alt: "img" %>
          </div>
          <div class="row__content">
            <p>Not necessarily, you can test an idea using Rapid MVP.</p>
          </div>
        </div>
        <div class="row scroll-transition" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Can I create a mobile app using the Rapid MVP process?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow", alt: "img" %>
          </div>
          <div class="row__content">
            <p>Yes. Creating a mobile app using the Rapid MVP process enables you to quickly create a prototype of your app for testing with users early on in the development process. The feedback gained will guide you more directly to a perfected product and ensure you avoid the costly oversights or errors which without this feedback could arise later on.</p>
          </div>
        </div>
        <div class="row scroll-transition" data-target="page.loadOnScroll faq.row" data-action="click->faq#onCardClickHandler">
          <div class="row__header">
            <h2 class="row__title">Am I the owner of the source code of a Rapid MVP?</h2>
            <%= image_tag "arrow-down-f040a1ff66bd6c976fb340fb62c28ea0.svg", class: "row__arrow", alt: "img" %>
              </div>
          <div class="row__content">
            <p>Yes, you own all source code for your Rapid MVP.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>