<body class="" style="overflow-y: visible;">
  <noscript>
    <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
  </noscript>
  <main class="page resources" data-controller="page" data-lazy="true">
    <section class="section white resources-intro" data-theme="white" data-target="page.section" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
      <div class="section-content">
        <div class="row resources-intro__container">
          <div class="col-xs-24 col-md-11">
            <h1 class="resources-intro__title">
              Looking for <br> the right resources?
            </h1>
            <p class="resources-intro__description">
              At Startup House we are always busy searching for new ways to improve our processes and we want to share some of them with you! Enjoy free templates and guides from our product teams.
            </p>
            <div class="resources-intro__scroll">
              <%# <img alt="mouse scroll" src="/packs/media/images/resources/scroll-5ffb6181fc18e79a730758387db569fb.svg"> %>
              <%= image_tag "scroll-5ffb6181fc18e79a730758387db569fb.svg", alt: "mouse scroll" %>
              Scroll down
            </div>
          </div>
          <div class="col-xs-24 col-md-13 resources-intro__picture">
            <%= image_tag "intro-642db5092897267c914cf030827cb3db.png", alt: "resources related ", class:"lazy-image card__image loaded" %>
          </div>
        </div>
      </div>
    </section>
    <section class="section gray resources-guides" data-theme="gray" data-target="page.section" style="background-color: rgb(248, 250, 253); color: rgb(4, 0, 21);">
      <div class="section-content">
        <div class="row resources-top scroll-transition" data-target="page.loadOnScroll">
          <p class="resources-top__top-par" data-aos="fade-up" data-aos-anchor-placement="top-bottom">free ebooks</p>
          <h3 class="resources-top__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Guides</h3>
          <p class="resources-top__description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Grab some knowledge we happily share with you, after years of experience in the market.</p>
        </div>
        <div class="row guides-container">
          <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card">
            <div class="guides-container__card-img scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "guides-outsourcing-22b48a3d4aa17b46054fae4bfdbea759.png", alt: "outsourcing" %>
            </div>
            <h4 class="guides-container__card-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Software Outsourcing Guide</h4>
            <div class="guides-container__card-bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="guides-container__card-button scroll-transition" data-target="page.loadOnScroll">
                <a class="arrow-button  " href="/en/resources/software-outsourcing" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Download the guide
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card">
            <div class="guides-container__card-img scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "guides-remote-tools-0c1845f0f609d3140183055a35a32ab3.png", alt: "remote tools" %>
            </div>
            <h4 class="guides-container__card-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Remote Tools Guide</h4>
            <div class="guides-container__card-bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="guides-container__card-button scroll-transition" data-target="page.loadOnScroll">
                <a class="arrow-button  " href="/en/resources/remote-tools" id="" rel="" style="background-color: #0066ff; color: #ffffff; border-color: transparent" target="">
                <span class="arrow arrow--left">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                <span class="main">
                <span class="text">
                Download the guide
                </span>
                <span class="arrow arrow--right">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
                </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card scroll-transition" data-target="page.loadOnScroll">
            <div class="guides-container__card-img--stay-tuned" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "guides-stay-tuned-2-a4880678afeed65832722c54e3d667d9.svg", alt: "mouse scroll" , style:"margin-top: 170px; margin-left: 61px;" %>
            </div>
            <h4 class="guides-container__card-title guides-container__card-title--stay-tuned" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Stay tuned!</h4>
            <div class="guides-container__card-tags guides-container__card-tags--stay-tuned" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              If you want to learn more about product management, development process and work in IT, check out our blog! We have fresh articles every week!
            </div>
            <div class="guides-container__card-button guides-container__card-button--stay-tuned scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <a class="arrow-button  " href="/en/blog" id="" rel="" style="background-color: transparent; color: #ffffff; border-color: transparent" target="">
              <span class="arrow arrow--left">
              <span class="shaft" style="background-color: #ffffff"></span>
              </span>
              <span class="main">
              <span class="text">
              See articles
              </span>
              <span class="arrow arrow--right">
              <span class="shaft" style="background-color: #ffffff"></span>
              </span>
              </span>
              </a>
            </div>
          </div>
          <div class="dot-small dot-small--1"></div>
          <div class="dot-small dot-small--2"></div>
          <div class="dot-small dot-small--3"></div>
          <div class="dot-small dot-small--4"></div>
          <div class="dot-small dot-small--5"></div>
          <div class="dot-big"></div>
        </div>
      </div>
    </section>
  </main>
  <div class="modal" id="modal-1" data-controller="lead_magnet" data-lead_magnet-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" aria-hidden="true" style="visibility: hidden;">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
      <div class="row modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <div class="col-xs-24 col-md-11 last-md modal__contents modal__contents--right">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close="">
            <div class="close-icon">
              <span class="close-icon__dash close-icon__dash--left"></span>
              <span class="close-icon__dash close-icon__dash--right"></span>
            </div>
          </button>
          <picture>
            <%= image_tag "ebook-mockup-9cb4257f96366500c68125886283d4ff.png", alt: "Ebook cover mockup" , style:"width:416;height:566" %>
            <%# <img style="width:416;height:566" alt="Ebook cover mockup" src="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png"> %>
          </picture>
        </div>
        <div class="col-xs-24 col-md-13 modal__contents modal__contents--left" id="modal-1-content">
          <div class="modal__loader" data-target="lead_magnet.modalLoader">
            <div class="loader-5 center"><span></span></div>
          </div>
          <div class="modal__logo hidden-md-down">
           <%= image_tag "logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg",alt:"Startup Development House" %>
            <%# <img data-target="page.headerLogo" alt="Startup Development House" src="/packs/media/images/home/logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg"> %>
          </div>
          <div class="modal__info" data-target="lead_magnet.info">
            <h2 class="modal__title" id="modal-1-title">Get the guidance adjusted to your startups’ needs</h2>
            <p class="modal__description">Download one of our decks to learn more about how we solve startups’ problems - depending on the stage of development and available finances.</p>
          </div>
          <form class="modal__form" data-target="lead_magnet.form">
            <div class="input-wrapper" data-target="lead_magnet.guidebook">
              <label for="modal-form-guidebook" class="sr-only" id="customSelect-vhkBr-label">Select your guidebook</label>
              <div class="custom-select-container customSelect">
                <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-vhkBr-panel" aria-activedescendant="customSelect-vhkBr-selectedOption" aria-labelledby="customSelect-vhkBr-label" tabindex="0" aria-label="Guidebook"><span class="is-disabled">Select your guidebook</span></span>
                <select id="modal-form-guidebook" class="form__input" name="guidebook" placeholder="Role" data-action="" tabindex="-1">
                  <option value="" disabled="" selected="">Select your guidebook</option>
                  <option value="sxsw-early-stage-startup">
                    Pre-seed
                  </option>
                  <option value="sxsw-seed-startup">
                    Seed
                  </option>
                  <option value="sxsw-series-a-scaleup">
                    Series A+
                  </option>
                </select>
                <div id="customSelect-vhkBr-panel" class="custom-select-panel" role="listbox" aria-label="Guidebook">
                  <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-vhkBr-selectedOption" style="display: none;">Select your guidebook</div>
                  <div class="custom-select-option" data-value="sxsw-early-stage-startup" role="option">Pre-seed</div>
                  <div class="custom-select-option" data-value="sxsw-seed-startup" role="option">Seed</div>
                  <div class="custom-select-option" data-value="sxsw-series-a-scaleup" role="option">Series A+</div>
                </div>
              </div>
            </div>
            <div class="input-wrapper" data-target="lead_magnet.name">
              <label for="modal-form-name" class="sr-only">Full Name</label>
              <input id="modal-form-name" class="form__input" name="fullname" type="text" placeholder="Full Name" data-action="blur->lead_magnet#validateTextInputNoMessage">
            </div>
            <div class="row second-row">
              <div class="column input-wrapper col-xs-24 col-md-12" data-target="lead_magnet.role">
                <label for="role" class="sr-only">Role</label>
                <div class="custom-select-container customSelect">
                  <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-4fy8E-panel" aria-activedescendant="customSelect-4fy8E-selectedOption" tabindex="0" aria-label="Role"><span class="is-disabled">Role</span></span>
                  <select id="modal-form-role" class="form__input" name="role" placeholder="Role" data-action="" tabindex="-1">
                    <option value="" disabled="" selected="">Role</option>
                    <option value="CEO/ Founder">
                      CEO/ Founder
                    </option>
                    <option value="CTO">
                      CTO
                    </option>
                    <option value="Product Owner/ Head of Product">
                      Product Owner/ Head of Product
                    </option>
                    <option value="Developer/ Engineer">
                      Developer/ Engineer
                    </option>
                    <option value="Project Manager">
                      Project Manager
                    </option>
                    <option value="Product Designer">
                      Product Designer
                    </option>
                    <option value="Innovation Manager">
                      Innovation Manager
                    </option>
                    <option value="Other">
                      Other
                    </option>
                  </select>
                  <div id="customSelect-4fy8E-panel" class="custom-select-panel" role="listbox" aria-label="Role">
                    <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-4fy8E-selectedOption" style="display: none;">Role</div>
                    <div class="custom-select-option" data-value="CEO/ Founder" role="option">CEO/ Founder</div>
                    <div class="custom-select-option" data-value="CTO" role="option">CTO</div>
                    <div class="custom-select-option" data-value="Product Owner/ Head of Product" role="option">Product Owner/ Head of Product</div>
                    <div class="custom-select-option" data-value="Developer/ Engineer" role="option">Developer/ Engineer</div>
                    <div class="custom-select-option" data-value="Project Manager" role="option">Project Manager</div>
                    <div class="custom-select-option" data-value="Product Designer" role="option">Product Designer</div>
                    <div class="custom-select-option" data-value="Innovation Manager" role="option">Innovation Manager</div>
                    <div class="custom-select-option" data-value="Other" role="option">Other</div>
                  </div>
                </div>
              </div>
              <div class="column input-wrapper col-md-12" data-target="lead_magnet.company">
                <label for="modal-form-company" class="sr-only">Company</label>
                <input id="modal-form-company" class="form__input" name="company" type="text" placeholder="Company" data-action="blur->lead_magnet#validateTextInputNoMessage">
              </div>
            </div>
            <div class="row third-row">
              <div class="column input-wrapper col-xs-24 col-md-14" data-target="lead_magnet.email">
                <label for="modal-form-email" class="sr-only">E-mail</label>
                <input id="modal-form-email" class="form__input" name="email" type="text" placeholder="E-mail" data-action="blur->lead_magnet#validateEmailInputNoMessage">
              </div>
              <div class="column col-xs-24 col-md-10">
                <button class="button icon-button send " type="submit" id="download-ebook-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->lead_magnet#submit" data-target="lead_magnet.submitButton">
                  <span class="text">
                  Send
                  </span>
                  <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                    <span class="icon">
                    <span class="send-icon"></span>
                    <span class="arrow-right"></span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
            <div class="agreement">
              <div class="agreement__checkbox input-wrapper pretty p-default p-curve p-fill" data-target="lead_magnet.agreement">
                <input id="modal-form-agreement" class="form__input" name="agreement" type="checkbox">
                <div class="state p-primary">
                  <label for="modal-form-agreement">
                  <span>
                  I agree to receive the newsletter and commercial information from Startup Development House
                  <a href="/en/privacy-policy">Read more</a>
                  </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="captcha-row">
              <div class="captcha-container input-wrapper" data-target="lead_magnet.captcha">
                <div id="captcha-lead_magnet"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0989rh8f51ej&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0989rh8f51ej" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0989rh8f51ej" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0989rh8f51ej" name="h-captcha-response" style="display: none;"></textarea></div>
              </div>
            </div>
            <div class="error-message invisible">
             <%= image_tag "error-87fc2677d45527aac8691f55364a3e36.svg", alt: "" , style:"width:20;height:20" ,class:"error-message-icon"%>
              <%# <img style="width:20;height:20" class="error-message-icon" alt="" src="/packs/media/images/lead_magnet/error-87fc2677d45527aac8691f55364a3e36.svg"> %>
              <span class="error-message-text">
              Please fill all required fields
              </span>
            </div>
          </form>
          <div class="invisible download-section " data-target="lead_magnet.downloadSection">
            <div class="modal__info" data-target="lead_magnet.info">
              <h2 class="modal__title modal__title--download">Thank you for your submission.</h2>
              <p class="modal__description modal__description--download">Please check your email box. Enjoy our guide!</p>
            </div>
            <a class="button icon-button download " type="button" href="" id="download-ebook-button" style="background-color: #0066ff; color: #ffffff" data-target="lead_magnet.downloadButton" download="">
              <span class="text">
              Download guide
              </span>
              <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                <span class="icon">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    _linkedin_partner_id = "458204";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script>
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    // b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
    <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
  </noscript>
  <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
  <noscript>
    <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
  </noscript>
  <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
    <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0989rh8f51ej&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
    <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
      <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
      <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
    </div>
  </div>
  <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
  <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=ab5b5338-b185-46be-9a78-9ec22779bbb1&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=2d7f30d5-d26a-47e8-acdb-fe7ee2107d3b&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fresources&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=ab5b5338-b185-46be-9a78-9ec22779bbb1&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=2d7f30d5-d26a-47e8-acdb-fe7ee2107d3b&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fresources&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><iframe id="_hjSafeContext_17102563" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
</body>