<section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#EBFFFB" data-color="#000000" style="background-color: rgb(235, 255, 251); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="container">
      <div class="content">
        <div>
          <h1 class="content__title">Better quality of your products with Scrum Team Augmentation.</h1>
          <p class="content__subtitle">See how we maximize productivity using Scrum methodology to work even more efficiently on your projects and give you a peace of mind.</p>
        </div>
      </div>
      <%= image_tag "main-image-adc94ee91f8dfac92deda02b7edab383.svg",class: "image", alt: "" %>
    </div>
  </div>
</section>
<section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="count-with-icons__wrapper">
      <div class="count-with-icons__top ">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll">No last resorts anymore</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">What is a Scrum team at SDH?</h2>
        </div>
        <p class="description">Working with Scrum is a shortcut to better react to dynamic changes and expectations on the market.</p>
      </div>
      <div class="content-wrapper">
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"question-mark-157396b6b2a2ad610df1e6398070ec62.svg",class: "lazy-image card__image loaded", alt:"What is Scrum?" %>
            <div class="title-wrapper">
              <h2 class="card__title">What is Scrum?</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <p class="card__content">Scrum is a framework for project management. It consists of team composition and work organization rules that bring out the best possible results and guarantee a gratifying outcome. Scrum is mainly used in managing and developing IT products - software, hardware, networks - but nowadays, it’s gaining popularity in other fields.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"check-pink-0221a0772af4d4da7ab22c46a69ed553.svg",class: "lazy-image card__image loaded", alt:"What is Scrum worthy?" %>
            <div class="title-wrapper">
              <h2 class="card__title">Scrum is worth the try</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <p class="card__content">Although it’s often said that Scrum is easy to understand and difficult to master, the gains outgrow the pains. SDH’s Project Managers know all twists and turns of Scrum methodology and will guide you and the development team through the process.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"team-271e06fd6a5d1e54144fcda97968e035.svg",class: "lazy-image card__image loaded", alt:"What is Augmentation?" %>
            <div class="title-wrapper">
              <h2 class="card__title">What is team augmentation?</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <p class="card__content">Agile teams work more efficiently than others, so it’s a great business opportunity to outsource them to improve operations at the company and the quality of the products. The augmented team’s level of involvement depends on the project - different approaches to budget &amp; time management, implementation of Scrum - it’s all up to you.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"diamond-39f43bfb3a6620bfbd84056af565853e.svg",class: "lazy-image card__image loaded", alt:"Benefits of having scrum team" %>
            <div class="title-wrapper">
              <h2 class="card__title">Benefits of having a scrum team</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <p class="card__content">The scrum approach to project management maximizes the product’s high quality due to good practices,, including daily communication, transparency of information flow, and great team cooperation. It’s hard to achieve all these benefits right away - but at SDH, we have been working agile for a long time and can help you get the best results!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section services-partners no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="services-partners__container">
      <h2 class="heading">Featured in</h2>
      <div class="row row-center">
        <div class="col-xs-12 col-md-8">
          <div class="logo">
            <%= image_tag"business-insider-bfe1cf0a0bb499b98314c976712a252d.svg", class: "lazy-image loaded", alt: "Business Insider" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="logo">
            <%= image_tag"startup-grind-33c46b245f69f751e9bdff589635ddbb.svg", class: "lazy-image loaded", alt: "Start up grind" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="logo">
            <%= image_tag"product-hunt-2929fa8d4c0d675419aec8430639bb3e.svg", class: "lazy-image loaded", alt: "product hunt" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="logo">
            <%= image_tag"oslo-business-forum-4f5440e93c4a6d7ec7471372bedce202.svg", class: "lazy-image loaded", alt: "oslo business" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="logo">
            <%= image_tag"clutch-2f8d2755560f99ef16a791cc15c180a8.svg", class: "lazy-image loaded", alt: "clutch" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section white cards-with-icons no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-controller="cardsWithIcons" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="cards-with-icons__wrapper">
      <div class="cards-with-icons__top">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll">Divide and conquer</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Who should be on your development team?</h2>
        </div>
      </div>
      <div class="cards">
        <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"gear-celadon-de8d03317c682d5e0f9642899723503c.svg", class: "lazy-image card__image loaded", alt: "PM/Scrum Master" %>
            <h2 class="card__title">PM/Scrum Master</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>Responsible for managing everyday work, coordinating meetings with the client and the team, and keeps an eye on the budget. They make sure the project is delivered on time.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"gear-64b327e5685a53cd6b5586cdefb37344.svg", class: "lazy-image card__image loaded", alt: "Product owner" %>
            <h2 class="card__title">The Product Owner</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>Manages the product backlog, optimizes the amount of work in each sprint, and is accountable for maximizing the product’s value. At SDH, this role is split between PMs and BDs.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"dev-team-5565659e9020bbaaf8a0a73f95c69e40.svg", class: "lazy-image card__image loaded", alt: "developer team" %>
            <h2 class="card__title">The Developers Team</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>The Developers Team consists of frontend developers and backend developers responsible for executing each sprint.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"design-fce81102a7c83cc9f482bce9f432e2fd.svg", class: "lazy-image card__image loaded", alt: "Product designer" %>
            <h2 class="card__title">Product Designer</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>Prepares projects’ designs made in line with good UI/UX practices. High quality of the projects is necessary to eliminate potential barriers in developers’ work during delivery.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"medal-d464de28a6c1911830725b86cfa2b182.svg", class: "lazy-image card__image loaded", alt: "QA" %>
            <h2 class="card__title">QA</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>Makes sure the product is working correctly and looks out for the general user experience. They cooperate with developers on bug fixes and handy functionalities.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section remote no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" data-color="#ffffff" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
  <div class="section-content">
    <div class="remote__wrapper">
      <div class="remote__top">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll">Make the most out of the remote</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">See current times as an opportunity - work remotely!</h2>
        </div>
      </div>
      <div class="cards">
        <div class="card scroll-transition" data-target="page.loadOnScroll">
          <div class="card__contentContainer">
            <h3 class="card__title">Start right away</h3>
            <p class="card__content">Scrum teams can quickly adapt to new conditions and start on a new project due to their high flexibility and collaborative approach. Let us do the work of team building and fostering productivity and enjoy the results!</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll">
          <div class="card__contentContainer">
            <h3 class="card__title">Remote is here to stay</h3>
            <p class="card__content">Enjoy the benefits of working remote - it’s easier logistically, localization barriers are no longer an issue, and it feels more natural than ever. Take advantage of remote work tools and meet us online!</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll">
          <div class="card__contentContainer">
            <h3 class="card__title">A penny saved is a penny earned</h3>
            <p class="card__content">The recruitment and onboarding processes are expensive and often ineffective. Save yourself some pain and check out how hiring a remote working team will help you optimize costs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section scrum-sdh no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" data-color="#000000" data-controller="scrumSdh" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="scrum-sdh__wrapper">
      <div class="scrum-sdh__top">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll">We make it work for you</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Scrum at SDH</h2>
        </div>
      </div>
      <div class="cards">
        <div class="card scroll-transition" data-target="page.loadOnScroll scrumSdh.card" data-action="click->scrumSdh#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"gear-blue-8789f1dadfc5fe11c982f97743b79108.svg", class: "lazy-image card__image loaded", alt: "gear blue" %>
            <h2 class="card__title">The core of effective work</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>At SDH, we understand that the values of commitment, courage, focus, openness and respect should be the base of every Scrum project to ensure effective cooperation between all stakeholders. They also make it easier for each team member to commit to the project fully and do their best.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll scrumSdh.card" data-action="click->scrumSdh#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"thumbs-up-b0c59a6abdc1019c187be60c107911cb.svg", class: "lazy-image card__image loaded", alt: "thumbs up" %>
            <h2 class="card__title">Good practices</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>The Scrum practices are rigorous, and proper Scrum management means following them all. That said, sometimes rules are meant to be broken - when it’s impossible to execute all guidelines, it’s a good idea to implement at least some of them. Even the smallest changes may significantly improve the productivity of the team.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll scrumSdh.card" data-action="click->scrumSdh#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"check-square-6eb9ae85718d7330c9de2f1ddb2d2d2b.svg", class: "lazy-image card__image loaded", alt: "check square" %>
            <h2 class="card__title">What are the Scrum Artifacts?</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>Product Backlog, Sprint Backlog, Increments - based on our experience, we know that these assure transparency and proper information flow. Scope &amp; the project backlog are prepared at the beginning of the project and are a list of everything needed for the product. Preparing them ahead of the project’s start helps plan work properly and makes it easier to scale the product later on.</p>
          </div>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll scrumSdh.card" data-action="click->scrumSdh#onCardClickHandler">
          <div class="card__header">
            <%= image_tag"bell-4aa9d50c18a1d04d8e03d684a25ac577.svg", class: "lazy-image card__image loaded", alt: "bell" %>
            <h2 class="card__title">Scrum Events</h2>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "" %>
          </div>
          <div class="card__content">
            <p>The Sprint and recurring events such as Sprint Planning, Review and Retrospective, and Daily Scrum are the grounds of an effectively managed project. Daily meetings and updates within the team ensure proper communication and help avoid any misunderstandings or blockers. Dividing the work into Sprints enhances productivity and decreases the risk of completing tasks that are not crucial to the project in the long term and may increase the costs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="latest-posts__container">
    <div class="section-content">
      <div class="latest-posts__header">
        <p class="subheading scroll-transition" data-target="page.loadOnScroll">Our voice</p>
        <div class="heading-wrapper">
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Latest posts <br> on our Blog</h2>
          <a class="button-desktop" href="/en/blog">
          <span class="text">View more posts</span>
          <%= image_tag"arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg", alt: "image" %>
          </a>
        </div>
      </div>
      <div class="posts" data-target="latest_posts.posts">
        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
          <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 26, 2023</p>
          </div>
          <h3 class="post__content">
            How Accelerators Help Startups
          </h3>
        </a>
        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
          <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 19, 2023</p>
          </div>
          <h3 class="post__content">
            Value Proposition Canvas Explained
          </h3>
        </a>
      </div>
      <a class="button-mobile" href="/en/blog">
      <span class="text">View more posts</span>
      <%= image_tag"arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg", alt: "image" %>
      </a>
    </div>
  </div>
</section>
<section class="section white cta-section-services no-padding " data-target="page.section" data-theme="monoBaseBlack" data-color="black" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: black;">
  <div class="section-content">
    <div class="cta-section-services__wrapper">
      <%= image_tag"main-image-70c85eb9daca22cee0749b8cc3fc534c.svg", class: "image", alt: "" %>
      <div>
        <h2 class="title">Interested in new ways of reaching your customers?</h2>
        <p class="copy">Learn more about another service provided by SDH - Mobile Development - and connect with your clients anytime, anywhere. Expand your market as more and more users depend on mobile devices.</p>
        <a class="arrow-button  " href="/en/services/mobile-development" id="" rel="" style="background-color: #000000; color: #ffffff; border-color: transparent" target="">
        <span class="arrow arrow--left">
        <span class="shaft" style="background-color: #ffffff"></span>
        </span>
        <span class="main">
        <span class="text">
        Read more
        </span>
        <span class="arrow arrow--right">
        <span class="shaft" style="background-color: #ffffff"></span>
        </span>
        </span>
        </a>
      </div>
    </div>
  </div>
</section>