<section class="section no-padding services-main" data-target="page.section" data-theme="color" data-bgcolor="#000000" data-color="#ffffff" data-controller="servicesMain" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
    <div class="services-main__wrapper">
        <div class="content-wrapper">
            <div class="services-main__header">
                <h1 class="heading" data-target="page.loadOnScroll">Take a look at how we can help your product </h1>
                <p class="content" data-target="page.loadOnScroll">We develop your ideas by turning them into user-centered products ready for market validation. </p>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                <%= image_tag "mvp-339f1655228e08eebe7defcb3daf9efd.svg" %>
                <h2 class="card__title">MVP Development </h2>
                </div>
                <div class="card__content">
                    <p>An early definition of _ core value proposition is _ essential success factor that __ help us develop better ____ in a shorter time. </p>
                    <ul class="card__list">
                        <li>Features prioritization </li>
                        <li>Defining success metrics </li>
                        <li>Quick application launch </li>
                        <li>Market fit testing </li>
                    </ul>
                    <a class='arrow-button  button' href='services/mvp-development.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "workshop-app-prototyping-7927513d7dc1df5db34315b665c6a4b4.svg" %>
                    <h2 class="card__title">Product Discovery Process </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Starting with your idea, _ guide you through our ___ Discovery process - challenging __ shaping new MVP that _ will turn into a ____ prototype quickly. </p>
                    <ul class="card__list">
                        <li>3-day design thinking workshop </li>
                        <li>An experienced product management __ </li>
                        <li>Detailed user journey maps </li>
                        <li>Ready-to-test clickable prototype </li>
                    </ul>
                    <a class='arrow-button  button' href='services/workshops-and-prototyping.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                <%= image_tag "product-design-38754218f77b90e87ba5e8bd0e36ad48.svg" %>
                <h2 class="card__title">Product Design </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Bringing heart and soul _ create products that will ___ user experience and satisfy ___ metrics while looking just ___. </p>
                    <ul class="card__list">
                        <li>Exceptional concept work </li>
                        <li>Best UX practices </li>
                        <li>Consistent visual identity </li>
                        <li>Constant product improvement </li>
                    </ul>
                    <a class='arrow-button  button' href='services/design.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                <%= image_tag "web-development-2381dd73ccb97cd045ec3a623fbbc8f9.svg" %>
                <h2 class="card__title">Web Development </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>As a part-software development __, we continually improve our ____ skills, excel at new ____, and look for the __ practices. </p>
                    <ul class="card__list">
                        <li>Test-driven development </li>
                        <li>Performance optimization </li>
                        <li>Application audit and maintenance </li>
                    </ul>
                    <a class='arrow-button  button' href='services/web-development.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "user-testing-deed2738bf36adc190c52c3fbb189901.svg" %>
                    <h2 class="card__title">User Testing </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>We will help you ___ your product concept with __ users via remote user ___ and adjust the prototype ____ to the feedback. </p>
                    <ul class="card__list">
                        <li>Series of tailor-made user ____ </li>
                        <li>A better understanding of __ personas </li>
                        <li>Remote tools that speed __ the process </li>
                        <li>Feedback analysis and instant ___ update </li>
                    </ul>
                    <a class='arrow-button  button' href='services/user-testing.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "scrum-team-fe85bf1e050ebfbbc57c91c28ec9c6dc.svg" %>
                    <h2 class="card__title">Scrum Team Augmentation </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Ensure a product growth’s ____ and stability by having _ dedicated Scrum Team that __ suit your organization and __ several years of experience _ help you develop new ___ in the most efficient __. </p>
                    <ul class="card__list">
                        <li>Battle-tested product teams </li>
                        <li>Agile mindset &amp; Scrum ___ </li>
                        <li>Scrum Master support </li>
                    </ul>
                    <a class='arrow-button  button' href='services/scrum-team-augmentation.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "mobile-development-5e7677b053308d48b9f2d25981125d7f.svg" %>
                    <h2 class="card__title">Mobile Development </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>A smooth mobile development ___ to optimize your application _ most popular devices and __ the best user experience. </p>
                    <ul class="card__list">
                        <li>Most suitable technologies for _ &amp; Android </li>
                        <li>Native mobile solutions </li>
                        <li>Progressive Web Application (PWA) </li>
                    </ul>
                    <a class='arrow-button  button' href='services/mobile-development.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "product-management-f18c5d6d910a3370556a0aaba0815851.svg" %>
                    <h2 class="card__title">Product Management </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Is your product suitable _ the chosen market? Does _ bring the answer to __ customer issues? We created _ team of experienced Product ___ that will guide you _ challenge your ideas to ___ the greatest value possible _ every step through your ____ life cycle. </p>
                    <ul class="card__list">
                        <li>Value proposition design </li>
                        <li>Business model generation </li>
                        <li>Go to market strategy _ digital products </li>
                    </ul>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "qa-f566fafbaa7b0b111cc17d8a9c15b495.svg" %>
                    <h2 class="card__title">Quality Assurance </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Quality assurance is about __ more than just testing _ application and listing all ___ bugs. Our QA specialists __ act as your first __ - equipped with knowledge __ UX, security, and technical ___ to ensure your application ___ all current standards. </p>
                    <ul class="card__list">
                        <li>Quality driven development process </li>
                        <li>Automated testing </li>
                        <li>Minimizing bug fixing costs </li>
                    </ul>
                    <a class='arrow-button  button' href='services/quality-assurance.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "cloud-applications-35118d5cd534ba4ed448f8a8a5e5fe75.svg" %>
                    <h2 class="card__title">Cloud Applications </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>With the Google Cloud _ AWS specialization in Application ____ under our belt, we’ve ___ our ability to help ___ and enterprises leverage the __ to build and manage __-___ business apps. </p>
                    <ul class="card__list">
                        <li>Rapid scaling possibilities </li>
                        <li>Advancing data security </li>
                        <li>Google Cloud Platform partner </li>
                    </ul>
                    <a class='arrow-button  button' href='services/cloud-software-development.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "rapid-mvp-8bd5bafd44d49e2c3c216659bda8782b.svg" %>
                    <h2 class="card__title">Rapid MVP </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Is your product suitable _ the chosen market? Does _ bring the answer to __ customer issues? We created _ team of experienced Product ___ that will guide you _ challenge your ideas to ___ the greatest value possible _ every step through your ____ life cycle. </p>
                    <ul class="card__list">
                        <li>Value proposition design </li>
                        <li>Business model generation </li>
                        <li>Go to market strategy _ digital products </li>
                    </ul>
                    <a class='arrow-button  button' href='services/rapid-mvp.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" data-target="page.loadOnScroll servicesMain.card" data-action="click->servicesMain#onCardClickHandler">
                <div class="card__header">
                    <%= image_tag "no-code-daa0e2ef717af6aacad49108087e1fbf.svg" %>
                    <h2 class="card__title">No-code development </h2>
                    <img class="card__chevron" src="../packs/media/images/shared/chevron-down-white-9836d0b684a2b09a5a179105f24f1d1b.svg" alt="" />
                </div>
                <div class="card__content">
                    <p>Quality assurance is about __ more than just testing _ application and listing all ___ bugs. Our QA specialists __ act as your first __ - equipped with knowledge __ UX, security, and technical ___ to ensure your application ___ all current standards. </p>
                    <ul class="card__list">
                        <li>Quality driven development process </li>
                        <li>Automated testing </li>
                        <li>Minimizing bug fixing costs </li>
                    </ul>
                    <a class='arrow-button  button' href='services/no-code.html' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
                        <span class='arrow arrow--left'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        <span class='main'>
                        <span class='text'>
                        Read more
                        </span>
                        <span class='arrow arrow--right'>
                        <span class='shaft' style='background-color: #ffffff'></span>
                        </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section services-partners no-padding" data-target="page.section" data-theme="white" data-bgcolor="black">
    <div class="section-content">
        <div class="services-partners__container">
            <h2 class="heading">We have partnered with </h2>
            <div class="row ">
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                        <%= image_tag "google-cloud-2c22d8d257fcd72fac1bcf38e4934490.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                        <%= image_tag "startup-grind-33c46b245f69f751e9bdff589635ddbb.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                    <%= image_tag "tc-fb4b83afbe49466855c979f8fee4c340.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                    <%= image_tag "oslo-business-forum-4f5440e93c4a6d7ec7471372bedce202.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                    <%= image_tag "slush-6b5e3bd0bc3e6b7bc182c509b7f4450a.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                        <%= image_tag "sxsw-9a85f48bc2d44a20a759e7b609eef196.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                            <%= image_tag "gitex-cb7e1f8c57b0afa3160a291bf1b3c9af.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="logo">
                        <%= image_tag "pioneers-5051783a63caae7662ba91dcf8f2e492.svg", class:"lazy-image", style:"opacity:1;" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="white" data-bgcolor="white">
    <section class="section case-study-rotator" data-target="case_study_rotator.section">
        <div class="row">
            <div class="col-xs-8 rotator-column">
                <div class="case-select-wrapper">
                    <div class="case-select">
                        <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="0" data-target="case_study_rotator.selectButton">
                            <h4>CHOOOSE </h4>
                        </button>
                        <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="1" data-target="case_study_rotator.selectButton">
                            <h4>DX </h4>
                        </button>
                        <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="2" data-target="case_study_rotator.selectButton">
                            <h4>Leid.no </h4>
                        </button>
                        <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="3" data-target="case_study_rotator.selectButton">
                            <h4>VCLeaders </h4>
                        </button>
                        <button class="case-select__button" data-action="click->case_study_rotator#toggleCase" data-id="4" data-target="case_study_rotator.selectButton">
                            <h4>Siemens Finance </h4>
                        </button>
                    </div>
                    <div class="rotator-buttons">
                        <button class="rotator-buttons_button rotator-buttons_button--left" data-action="click->case_study_rotator#togglePrevCase" aria-label="previous">
                            <span class="ripple"></span>
                            <img alt="" src="../packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" />
                        </button>
                        <button class="rotator-buttons_button rotator-buttons_button--right" data-action="click->case_study_rotator#toggleNextCase" aria-label="next">
                            <span class="ripple"></span>
                            <img alt="" src="../packs/media/images/home/rotator/rotator-arrow-82f7ddd0310dfc51f61ae1cefaef95bc.svg" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 rotator-column">
                <a class="case-description__link" aria-label="See CHOOOSE case study" href="case-studies/chooose.html">
                    <div class="case-description" data-target="case_study_rotator.description" data-id="0">
                        <div class="case-description__logo">
                            <%= image_tag "chooose-1034e9b12a077450d869bac4d9bb4ff2.svg" %>
                        </div>
                        <span class="case-description__number">01 </span>
                        <p class="case-description__tagline">Experienced agile team prepared scale up to battle change. </p>
                        <p class="case-description__type"><strong>Web Development </strong> - Platform for tech </p>
                        <a class='arrow-button  chooose' href='case-studies/chooose.html' id='project-chooose' rel='' style='background-color: #e8308a; color: #ffffff; border-color: transparent' target=''>
                            <span class='arrow arrow--left'>
                                <span class='shaft' style='background-color: #ffffff'></span>
                            </span>
                            <span class='main'>
                                <span class='text'>
                                    View case
                                </span>
                                <span class='arrow arrow--right'>
                                    <span class='shaft' style='background-color: #ffffff'></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </a>
                <a class="case-description__link" aria-label="See DX case study" href="case-studies/dx.html">
                    <div class="case-description" data-target="case_study_rotator.description" data-id="1">
                        <div class="case-description__logo">
                            <%= image_tag "dx-39e83e236361c3c13d8bdb3866e9e0ed.svg" %>
                        </div>
                        <span class="case-description__number">02 </span>
                        <p class="case-description_tagline">A complete discovery of _ new platform for cinemas, ___, and other events’ organisers </p>
                        <p class="case-description_type"><strong>Mobile Development </strong> - Cinema and __ management tool </p>
                        <a class='arrow-button  dx' href='case-studies/dx.html' id='project-dx' rel='' style='background-color: #4f46e5; color: #ffffff; border-color: transparent' target=''>
                            <span class='arrow arrow--left'>
                                <span class='shaft' style='background-color: #ffffff'></span>
                            </span>
                            <span class='main'>
                                <span class='text'>
                                    View case
                                </span>
                                <span class='arrow arrow--right'>
                                    <span class='shaft' style='background-color: #ffffff'></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </a>
                <a class="case-description__link" aria-label="See Leid.no case study" href="case-studies/leid.html">
                    <div class="case-description" data-target="case_study_rotator.description" data-id="2">
                        <div class="case-description__logo">
                            <%= image_tag "leid-dc3b3397b6f841accb1476761053951d.svg" %>
                        </div>
                        <span class="case-description__number">03 </span>
                        <p class="case-description_tagline">More than off-the-shelf solution __ making tools affordably available, _ that renting becomes a ___ option than owning. </p>
                        <p class="case-description_type"><strong>Web Development </strong> - E-commerce rental ___ for sustainability </p>
                        <a class='arrow-button  leid' href='case-studies/leid.html' id='project-leid' rel='' style='background-color: #4e8278; color: #ffffff; border-color: transparent' target=''>
                            <span class='arrow arrow--left'>
                                <span class='shaft' style='background-color: #ffffff'></span>
                            </span>
                            <span class='main'>
                                <span class='text'>
                                    View case
                                </span>
                                <span class='arrow arrow--right'>
                                    <span class='shaft' style='background-color: #ffffff'></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </a>
                <a class="case-description__link" aria-label="See VCLeaders case study" href="case-studies/vcleaders.html">
                    <div class="case-description" data-target="case_study_rotator.description" data-id="3">
                        <div class="case-description__logo">
                            <%= image_tag "vcleaders-4f221b1b2d0e533043212b41626d5b12.svg" %>
                        </div>
                        <span class="case-description__number">04 </span>
                        <p class="case-description_tagline">Designing a brand identity _ a community building platform _ VC professionals. </p>
                        <p class="case-description__type"><strong>Web Development </strong> - Knowledge Sharing & Community Building Platform </p>
                        <a class='arrow-button  vcleaders' href='case-studies/vcleaders.html' id='project-vcleaders' rel='' style='background-color: #002990; color: #ffffff; border-color: transparent' target=''>
                            <span class='arrow arrow--left'>
                                <span class='shaft' style='background-color: #ffffff'></span>
                            </span>
                            <span class='main'>
                                <span class='text'>
                                    View case
                                </span>
                                <span class='arrow arrow--right'>
                                    <span class='shaft' style='background-color: #ffffff'></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </a>
                <a class="case-description__link" aria-label="See Siemens Finance case study" href="case-studies/siemens.html">
                    <div class="case-description" data-target="case_study_rotator.description" data-id="4">
                        <div class="case-description__logo">
                            <%= image_tag "siemens-0fb53d717b2431c726a81eec9b97aa61.svg" %>
                        </div>
                        <span class="case-description__number">05 </span>
                        <p class="case-description_tagline">From an idea to ___ - testing comprehensive cloud-based ____ platform solutions. </p>
                        <p class="case-description_type"><strong>Web Development </strong> - Platform for ____ </p>
                        <a class='arrow-button  siemens' href='case-studies/siemens.html' id='project-siemens' rel='' style='background-color: #4bb9b9; color: #ffffff; border-color: transparent' target=''>
                            <span class='arrow arrow--left'>
                                <span class='shaft' style='background-color: #ffffff'></span>
                            </span>
                            <span class='main'>
                                <span class='text'>
                                    View case
                                </span>
                                <span class='arrow arrow--right'>
                                    <span class='shaft' style='background-color: #ffffff'></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 rotator-column">
                <div class="case-image-wrapper" data-target="case_study_rotator.imageWrapper">
                    <div class="case-image case-image--chooose" data-bgcolor="#ffd7dc" data-target="case_study_rotator.image" data-id="0">
                        <picture>
                            <source srcset="../packs/media/images/home/rotator/chooose/chooose-26b2a59344b26f135ec5507c302fe3b1.webp" type="image/webp">
                                <source srcset="../packs/media/images/home/rotator/chooose/chooose-1fb82f3f4f933599085adbe8ba889878.png" type="image/png">
                                    <%= image_tag "chooose-26b2a59344b26f135ec5507c302fe3b1.webp" %>
                                </source>
                            </source>
                        </picture>
                    </div>
                    <div class="case-image case-image--dx" data-bgcolor="#ecebff" data-target="case_study_rotator.image" data-id="1">
                        <picture>
                            <source srcset="../packs/media/images/home/rotator/dx/dx-9fd1b79b3f98ad9a6374a02cc9a710b2.webp" type="image/webp">
                                <source srcset="../packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" type="image/png">
                                    <img data-target="page.loadOnScroll" alt="DX" src="../packs/media/images/home/rotator/dx/dx-c27ba049e4647600ab0ac65b70e0c492.png" />
                                </source>
                            </source>
                        </picture>
                    </div>
                    <div class="case-image case-image--leid" data-bgcolor="#b0ccc7" data-target="case_study_rotator.image" data-id="2">
                        <picture>
                            <source srcset="../packs/media/images/home/rotator/leid/leid-141e53032e3c36a9a1aabe9cfc74202c.webp" type="image/webp">
                                <source srcset="../packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" type="image/png">
                                        <img data-target="page.loadOnScroll" alt="Leid.no" src="../packs/media/images/home/rotator/leid/leid-29cc6238fb1fc56df69ba08fa2b04ddd.png" />
                                </source>
                            </source>
                        </picture>
                    </div>
                    <div class="case-image case-image--vcleaders" data-bgcolor="#e1e9f1" data-target="case_study_rotator.image" data-id="3">
                        <picture>
                            <source srcset="../packs/media/images/home/rotator/vcleaders/vcleaders-616bd8341dded0ece43143e800554b57.webp" type="image/webp">
                                <source srcset="../packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" type="image/png">
                                    <img data-target="page.loadOnScroll" alt="VC Leaders" src="../packs/media/images/home/rotator/vcleaders/vcleaders-fc67d65ecb19dda0f09f69232ff0f12e.png" />
                                </source>
                            </source>
                        </picture>
                    </div>
                    <div class="case-image case-image--siemens" data-bgcolor="#4bb9b9" data-target="case_study_rotator.image" data-id="4">
                        <picture>
                            <source srcset="../packs/media/images/home/rotator/siemens/siemens-5655a59a34117f1e7ca2649ef4941ab9.webp" type="image/webp">
                                <source srcset="../packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" type="image/png">
                                    <img data-target="page.loadOnScroll" alt="Siemens" src="../packs/media/images/home/rotator/siemens/siemens-4fd9f64c1f35e1d6b190a652f9563c7b.png" />
                                </source>
                            </source>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<main class="page no-padding" data-controller="page" data-lazy="true">
  <section class='section gray why-us' data-animate='' data-target='page.section' data-theme='gray'>
      <div class='section-content'>
          <div class='row'>
              <div class='col-xs-24'>
                  <h3 class='why-us__title' data-target='page.loadOnScroll'>
                      Why us?
                  </h3>
                  <div class='why-us__image-wrapper scroll-transition' data-target='page.loadOnScroll'>
                      <%= image_tag "why_us_image-4471962e9436d75b4388a606d63c1d67.webp", class:"" %>
                  </div>
              </div>
              <div class='col-md-12 col-xl-16'>
                  <div class='row between-md reasons'>
                      <div class='col-xs-24 col-xl-10'>
                          <div class='reasons__reason' data-target='page.loadOnScroll'>
                              <h4 class='header-with-icon'>
                                  <%= image_tag "icon-why-us-lightbulb-0c6515724f6972ab3d9c6be359d77c54.svg", class:"lazy-image loaded" %>
                                  <span>
                                      Our startup expertise stands on 3 pillars
                                  </span>
                              </h4>
                              <p class='reasons_reason_description'>
                                  We’ve worked for famous ___ and big organizations, so _ know the struggles entrepreneurs __ every day from our _ projects, and we build ___ products for our clients _ a regular basis. We’ve __ it all and we’ve ___ a lot from it _ you would have it _ easy way.
                              </p>
                          </div>
                      </div>
                      <div class='col-xs-24 col-xl-10'>
                          <div class='reasons__reason' data-target='page.loadOnScroll'>
                              <h4 class='header-with-icon'>
                                  <%= image_tag "icon-why-us-road-sign-160112aa99ed59921c95666947dea90a.svg"%>
                                  <span>
                                      We guide through the whole process
                                  </span>
                              </h4>
                              <p class='reasons_reason_description'>
                                  Having successfully created multiple ___ projects we know what _ do at every stage _ the product life cycle. _ don’t need any technical ___, you don’t need to ____ the startup world, you _’_ need to have your _ people. Our team has _ the skills needed to __ you throughout the journey.
                              </p>
                          </div>
                      </div>
                      <div class='col-xs-24 col-xl-10'>
                          <div class='reasons__reason' data-target='page.loadOnScroll'>
                              <h4 class='header-with-icon'>
                                  <%= image_tag "icon-why-us-rocket-2980b5c1b06501b9c2869279977326c3.svg" %>
                                  <span>
                                      We have built over 40 projects so far
                                  </span>
                              </h4>
                              <p class='reasons_reason_description'>
                                  Corporate innovations, startups from __, features for grown businesses, ____, designs, consulting projects, roadmap __, workshops, multiple industries, various ____, different team setups. Our ____ is broad and it __ us shape the processes, ___, and standards to meet __ all of our projects.
                              </p>
                          </div>
                      </div>
                      <div class='col-xs-24 col-xl-10'>
                          <div class='reasons__reason' data-target='page.loadOnScroll'>
                              <h4 class='header-with-icon'>
                                  <%= image_tag "icon-why-us-brackets-3b3155853125b46a41cdd42d7c4c22e5.svg" %>
                                  <span>
                                      Our EU-based office is home for Polish developers
                                  </span>
                              </h4>
                              <p class='reasons_reason_description'>
                                  Polish developers are among _ world’s elite. According to ___, we are in the ___ top 3 in terms _ pure development skill. We __ sure that our teams __ on exciting projects and __ everything they need to ___ at the pinnacle of __ performance.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class='col-xs-24' data-target='page.loadOnScroll'>
                  <section class="download-deck-bar lazy-image" data-target="page.loadOnScroll" data-bg="url(/packs/media/images/home/download-bar-bg-b4defe095bc0affd2cc7349f6a8c5241.svg)">
                      <div class="download-deck-bar__wrapper" data-target="page.loadOnScroll">
                          <span class="download-deck-bar__text">
                              Download full deck about _ company
                          </span>
                          <a class="button icon-button download " type="button" href="../deck/Startup_Development_House_Company_Profile.pdf" id="download-deck-bar" style="background-color: #fff; color: #040015" download=""><span class='text'>
                              Download
                          </a>
                          <div class='icon-wrapper' style='border-bottom-color: #040015'>
                              <span class='icon'>
                                  <span class='shaft' style='background-color: #040015'></span>
                              </span>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </div>
  </section>
</main>