<section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFF3EB" data-color="#000000" style="background-color: rgb(255, 243, 235); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="container">
      <div class="content">
        <div>
          <h1 class="content__title">Get first-step product validation with user research.</h1>
          <p class="content__subtitle">There is a user research method for each step of product development - learn how and when to conduct user testing to get the most valuable feedback and improve your product with minimum cost.</p>
        </div>
      </div>
      <%= image_tag "main-image-dba333c647716c7b1a72886517c9a38c.svg",alt: "Image" ,class: "image" %>
    </div>
  </div>
</section>
<section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="count-with-icons__wrapper">
      <div class="count-with-icons__top ">
        <div class="custom-header custom-header--bigger ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Get all the testing benefits early</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Why it is essential to conduct user research?</h2>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header">
            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag ("blitz-blue-c6116f7f1ebc9fd10350b460951a0eb8.svg"), alt: "image", class: "lazy-image card__image loaded" %>
            </div>
            <div class="title-wrapper">
              <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Quick feedback gets quicker results</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", alt: "image", class: "card__chevron" %>
          </div>
          <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Validate your ideas and solutions within the prototype right after their implementation, see how users react to them in real time and make changes if necessary right away.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "danger-bc28f35515d9a28178c418467e6e81a9.svg", alt: "image", class: "lazy-image card__image loaded" %>
            <div class="title-wrapper">
              <h2 class="card__title">Minimizing the risks</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "image" %>
          </div>
          <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Make sure your product is as ready as possible for the market by decreasing the risks of any flaws and shortcomings thanks to user testing.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "person-33dcf89fd4f84fcfecb63cedcd2294af.svg",alt: "image", class: "lazy-image card__image loaded" %>
            <div class="title-wrapper">
              <h2 class="card__title">Getting to know your users better</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "image" %>
          </div>
          <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Confront your visions and assumptions of the product with real users’ opinion and responses. Adjust your product for users’ real needs.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "ball-970b8b9d0a1abffa81bb82808c3f3a6b.svg",alt: "image", class: "lazy-image card__image loaded" %>
            <div class="title-wrapper">
              <h2 class="card__title">Anticipating instead of following</h2>
            </div>
            <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg", class: "card__chevron", alt: "image" %>
          </div>
          <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">User testing can help you better forsee the users’ response to the solution indicated by your value proposition and even come up with new ideas. Get ahead of the competition and predict what may be the next big thing.</p>
        </div>
        <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
          <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <%= image_tag "money-41981f57fdc24794128faa007492690f.svg",alt: "image", class: "lazy-image card__image loaded" %>
            <div class="title-wrapper">
              <h2 class="card__title">Saving money on fixing flaws</h2>
            </div>
            <img class="card__chevron" src="/packs/media/images/shared/chevron-down-black-b634dd0f74d1683a24b643db9fb3b854.svg" alt="">
          </div>
          <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Catch any errors or flaws before deployment, avoid costly mistakes and users’ disappointment. User testing is the closest thing to a guarantee of a fully operational product there is.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section list-expanded scrolled-list-- no-padding" data-target="page.section" data-controller="scrolledList" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="list-expanded__wrapper">
      <div class="list-expanded__header">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Talk to your users frequently</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">When you should test your product assumptions?</h2>
        </div>
        <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">As often as possible and at any point of the product development process – thanks to user testing it’s possible to gather feedback on any new features or general opinion about the prototype to firstly improve the broad business concept and in the end refine the details of the product.</p>
      </div>
      <div class="list-wrapper" data-target="scrolledList.swipeContainer">
        <ul class="list ">
          <li class="list__item scroll-transition" data-target="page.loadOnScroll">
            <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>1</p>
              <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "image",class: "line line--mobile" %>
              <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "image",class: "line line--desktop" %>
            </div>
            <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="list__item-title">Getting to know customers</h2>
              <p class="list__item-description">Persona interviews will help you better understand the user, starting from their basic needs, and ending with the deeper insight of how they will use the product.</p>
            </div>
          </li>
          <li class="list__item scroll-transition" data-target="page.loadOnScroll">
            <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>2</p>
              <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "image",class: "line line--mobile" %>
              <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "image",class: "line line--desktop" %>
            </div>
            <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="list__item-title">First feedback</h2>
              <p class="list__item-description">Tests after wireframing check the flow of the product and whether the user understands the value proposition.</p>
            </div>
          </li>
          <li class="list__item scroll-transition" data-target="page.loadOnScroll">
            <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>3</p>
              <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "image",class: "line line--mobile" %>
              <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "image",class: "line line--desktop" %>
            </div>
            <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="list__item-title">Product feeling</h2>
              <p class="list__item-description">Tests ensure that the proposed design complements products’ objectives and makes it enjoyable for the user.</p>
            </div>
          </li>
          <li class="list__item scroll-transition" data-target="page.loadOnScroll">
            <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>4</p>
              <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg", alt: "image",class: "line line--mobile" %>
              <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg", alt: "image",class: "line line--desktop" %>
            </div>
            <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h2 class="list__item-title">After implementation</h2>
              <p class="list__item-description">Tests conducted after the development phase guarantee that everything works as expected and that the user is satisfied with the final product.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section path-section-badge no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" data-controller="pathSectionBadge" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="path-section-badge__wrapper">
      <div class="custom-header  ">
        <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Work with experienced specialists</p>
        <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">In what ways we can help with user experience testing?</h2>
      </div>
      <div class="content-wrapper">
        <div class="arrow-mobile">
          <%= image_tag"arrow-mobile-1be5813298344b4a0a281f6a33c6528f.svg",alt: "image" %>
        </div>
        <div class="steps__wrapper row between-sm" data-target="pathSectionBadge.wrapper">
          <div class="step scroll-transition" data-target="page.loadOnScroll pathSectionBadge.loadTrigger">
            <div class="step__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="step__title">Preparations</h3>
              <div class="step__badge">SDH</div>
            </div>
            <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">We will help you prepare a research plan, define areas of focus and advise what user research tools and methods will be best to apply.</p>
          </div>
          <div class="step scroll-transition" data-target="page.loadOnScroll pathSectionBadge.loadTrigger">
            <div class="step__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="step__title">Recruiting users</h3>
              <div class="step__badge">SDH/Client</div>
            </div>
            <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Find user testing participants that best fit in with your target user. Recruiting the right participant group is crucial for the adequacy of the results.</p>
          </div>
          <div class="step scroll-transition" data-target="page.loadOnScroll pathSectionBadge.loadTrigger">
            <div class="step__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="step__title">Conducting sessions</h3>
              <div class="step__badge">SDH/Client</div>
            </div>
            <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Test on site or remotely - there are more than enough user research tools and methods to ensure high quality results in both cases. We recommend remote testing for location-related reasons, and also because this method provides plentiful data to analyze various aspects of the product but involves a relatively lower budget.</p>
          </div>
          <div class="step scroll-transition" data-target="page.loadOnScroll pathSectionBadge.loadTrigger">
            <div class="step__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="step__title">Data analysis</h3>
              <div class="step__badge">SDH/Client</div>
            </div>
            <p class="step__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Finally we will cooperate with you on preparing a report and in further data analysis to help you draw conclusions from the tests and plan next steps in product development.</p>
          </div>
          <div class="arrow-mask" data-target="pathSectionBadge.mask" style="height: 898px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section user-research-methods no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-controller="userResearchMethods" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="user-research-methods__wrapper">
      <div class="cards">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">How and what to test</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Find right user research method for your current needs.</h2>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll userResearchMethods.card" data-action="click->userResearchMethods#onCardClickHandler" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card__header">
            <p class="card__main-text"><b>Problem Discovery</b> is done at the beginning of research. Proper understanding of the persona and target group is crucial in the process of creating an engaging and valuable product.</p>
            <img class="card__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
          </div>
          <ul class="card__list">
            <li class="card__list-item">
              <p>
                Persona interviews are conducted to ensure that the idea for the product and the problems it solves is true to target users real needs.
              </p>
            </li>
            <li class="card__list-item">
              <p>
                Buyer persona will help you identify the buyer persona potentially interested in the product you offer.
              </p>
            </li>
          </ul>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll userResearchMethods.card" data-action="click->userResearchMethods#onCardClickHandler" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card__header">
            <p class="card__main-text"><b>Attitudinal</b> user testing focuses on users’ opinion and narrative when it comes to the product. Participants show their understanding of the way to use and think of it.</p>
            <img class="card__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
          </div>
          <ul class="card__list">
            <li class="card__list-item">
              <p>
                Card sorting - participants sort the provided information into groups and name them. This type of user testing is useful to see how users understand content on the app/website and if it’s logical.
              </p>
            </li>
            <li class="card__list-item">
              <p>
                Quick-exposure memory tests - participants are shown the prototype for a brief moment and then interviewed on it. This type of user testing checks how users respond to layout and certain UX/UI solutions.
              </p>
            </li>
          </ul>
        </div>
        <div class="card scroll-transition" data-target="page.loadOnScroll userResearchMethods.card" data-action="click->userResearchMethods#onCardClickHandler" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card__header">
            <p class="card__main-text"><b>Behavioural</b> user testing shows how users really interact with the product, not necessarily what they claim. The data gathered is particularly handy in UX/UI design.</p>
            <img class="card__header-arrow" src="/packs/media/images/shared/chevron-down-gray-245474e18ee21a4a46b530c265ffdf9c.svg" alt="">
          </div>
          <ul class="card__list">
            <li class="card__list-item">
              <p>
                Moderated testing is conducted by a moderator who asks the user specific questions about the product and shows more or less how to use it. This method ensures that every aspect of the interview is covered.
              </p>
            </li>
            <li class="card__list-item">
              <p>
                Unmoderated testing means letting the user use the prototype by themselves and then analyzing their choices and uncertainties. Gathered input is a reflection of users’ real experiences with the product
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section research-types no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div class="section-content">
    <div class="research-types__wrapper">
      <div class="custom-header  ">
        <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Quality vs Quantity</p>
        <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Differences between qualitative and quantitative user research</h2>
      </div>
      <div class="research-types__content">
        <div class="labels">
          <p class="label scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">When:</p>
          <div class="divider"></div>
          <p class="label scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Premise:</p>
          <div class="divider"></div>
          <p class="label scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Outcome:</p>
          <div class="divider"></div>
        </div>
        <div class="cards">
          <div class="card scroll-transition" data-target="page.loadOnScroll">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag"medal-d464de28a6c1911830725b86cfa2b182.svg" ,alt: "image", class: "card__image" %>
              <h3 class="card__title">Qualitative</h3>
            </div>
            <div class="card__list">
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">When:</p>
                <p class="list-item-content">At the beginning of the research process</p>
              </div>
              <div class="divider"></div>
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">Premise:</p>
                <p class="list-item-content">The issue is not well known</p>
              </div>
              <div class="divider"></div>
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">Outcome:</p>
                <p class="list-item-content">Descriptive outcome - a set of sentences and users’ opinion</p>
              </div>
              <div class="divider"></div>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag"quantitative-7dcf5b5d83e9c81e90a6d21f8728480b.svg" ,alt: "image", class: "card__image" %>
              <h3 class="card__title">Quantitative</h3>
            </div>
            <div class="card__list">
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">When:</p>
                <p class="list-item-content">Later stages of the process</p>
              </div>
              <div class="divider"></div>
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">Premise:</p>
                <p class="list-item-content">The problem and hypothesis are better known</p>
              </div>
              <div class="divider"></div>
              <div class="card__list-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p class="list-item-label">Outcome:</p>
                <p class="list-item-content">Numerical data for further analysis</p>
              </div>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
  <div class="latest-posts__container">
    <div class="section-content">
      <div class="latest-posts__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <p class="subheading scroll-transition" data-target="page.loadOnScroll">Our voice</p>
        <div class="heading-wrapper">
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll">Latest posts <br> on our Blog</h2>
          <a class="button-desktop" href="/en/blog">
          <span class="text">View more posts</span>
          <%= image_tag"arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg", alt: "image" %>
          </a>
        </div>
      </div>
      <div class="posts" data-target="latest_posts.posts">
        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
          <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 26, 2023</p>
          </div>
          <h3 class="post__content">
            How Accelerators Help Startups
          </h3>
        </a>
        <a class="post scroll-transition" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
          <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
          <div class="post__metadata">
            <p>Startups</p>
            <p>Jan 19, 2023</p>
          </div>
          <h3 class="post__content">
            Value Proposition Canvas Explained
          </h3>
        </a>
      </div>
      <a class="button-mobile" href="/en/blog">
      <span class="text">View more posts</span>
      <%= image_tag"arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg", alt: "image" %>
      </a>
    </div>
  </div>
</section>
<section class="section white cta-section-services no-padding " data-target="page.section" data-theme="monoBaseBlack" data-color="black" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: black;">
  <div class="section-content">
    <div class="cta-section-services__wrapper">
      <%= image_tag"footer-image-1786c6ed42769b13858f4ed57c2d260c.svg", alt: "image", class: "image" %>
      <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h2 class="title">Are you ready to start development?</h2>
        <p class="copy">If you feel that you have gathered all the requirements and prepared a well-thought prioritised plan you are good to go. We will guide you through the MVP making process so you can launch your product as soon as possible.</p>
        <a class="arrow-button  " href="/en/contact" id="" rel="" style="background-color: #000000; color: #ffffff; border-color: transparent" target="">
        <span class="arrow arrow--left">
        <span class="shaft" style="background-color: #ffffff"></span>
        </span>
        <span class="main">
        <span class="text">
        Let's talk
        </span>
        <span class="arrow arrow--right">
        <span class="shaft" style="background-color: #ffffff"></span>
        </span>
        </span>
        </a>
      </div>
    </div>
  </div>
</section>