<html lang="en">
  <section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#EBFBFF" data-color="#000000" style="background-color: rgb(235, 251, 255); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="container">
        <div class="content">
          <div>
            <h1 class="content__title">Build products with an experienced web development company.</h1>
            <p class="content__subtitle">Start your digital journey by creating smooth and secure web applications with dedicated product teams.</p>
          </div>
        </div>
        <%= image_tag "main-image-a40aad6484f6646ca0f5619c22850a17.svg", alt:"Map marker"%>
      </div>
    </div>
  </section>
  <section class="section count-with-icons no-padding" data-controller="countWithIconsSection" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-color="#000000" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="count-with-icons__wrapper">
        <div class="count-with-icons__top ">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Best way to reach customers</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What is web development?</h2>
          </div>
          <p class="description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web apps are a great way to kickstart a business, get to know the users and check what’s right to further your business development.</p>
        </div>
        <div class="content-wrapper">
          <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
            <div class="card__header">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "hand-pointing-fe3b769c2b051dcde42c380f581bef12.svg",class: "lazy-image card__image loaded", alt:"Designed to be interactive"%>
              </div>
              <div class="title-wrapper">
                <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Designed to be interactive</h2>
              </div>
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
              </div>
            </div>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Intuitive design and the best UI/UX solutions proposed by our designers will make your web app engaging and easy to use. Web apps also promote reactivation thanks to the browsers’ notification system and the easily accessible icon on home screens of mobile devices.</p>
          </div>
          <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
            <div class="card__header">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "tech-14b5979a9a67e9a3239a921516b0ed21.svg",class: "lazy-image card__image loaded", alt:"Build using top technologies"%>
              </div>
              <div class="title-wrapper">
                <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Build using top technologies</h2>
              </div>
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
              </div>
            </div>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Keeping up with the new and leading technologies is crucial when working on a web app and making it progressive and secure. Our highly qualified developer teams are up for the job!</p>
          </div>
          <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
            <div class="card__header">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "puzzle-3f41a53c258d8a54078b10134fa67a27.svg",class: "lazy-image card__image loaded", alt:"Integrated with other systems"%>
              </div>
              <div class="title-wrapper">
                <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Integrated with other systems</h2>
              </div>
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
              </div>
            </div>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web apps can be easily accessed on various devices and are adaptable in terms of screen size and dimension. What’s more, they give you an opportunity to collect customers' behaviour data thanks to GA integration to improve your services even more.</p>
          </div>
          <div class="card card-- scroll-transition" data-target="page.loadOnScroll countWithIconsSection.card" data-action="click->countWithIconsSection#onCardClickHandler">
            <div class="card__header">
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "flexible-c278a9a7da717a368c31f35e4f3ac1b9.svg",class: "lazy-image card__image loaded", alt:"Easily customizable and scalable"%>
              </div>
              <div class="title-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="card__title">Easily customizable and scalable</h2>
              </div>
              <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
              </div>
            </div>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">The best web apps should be able to serve efficient growth of your business and handle the increase of users and load.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section plan no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="plan__wrapper">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Done once, lasts longer</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Plan while developing a web application</h2>
        </div>
        <p class="description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web development is a smart business strategy. With current technologies, it’s a common practice to share the backend infrastructure across multiple platforms. Thanks to that, once prepared, business logic can power web applications, mobile versions and even support wearable devices like watches by sharing and synchronizing critical data across cloud API.</p>
      </div>
    </div>
  </section>
  <section class="section white cards-with-icons no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" data-controller="cardsWithIcons" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="cards-with-icons__wrapper">
        <div class="cards-with-icons__top">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Divide and conquer</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Who should be on your development team?</h2>
          </div>
          <div class="description" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <p>Team composition is always mirroring current requirements for fast pace product delivery. Our highly qualified team, particularly web developers, are familiar with all leading technologies to ensure smooth and stress-free web development.</p>
          </div>
        </div>
        <div class="cards">
          <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "design-fce81102a7c83cc9f482bce9f432e2fd.svg",class: "lazy-image card__image loaded", alt:"Product Designer"%>
              <h2 class="card__title">Product Designer</h2>
              <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
            </div>
            <div class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Creates a vision for an engaging product, backed by years of experience and UX/UI expertise.</p>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "tag-5565659e9020bbaaf8a0a73f95c69e40.svg" ,class: "lazy-image card__image loaded", alt:"Frontend Developer"%>
              <h2 class="card__title">Frontend Developer</h2>
              <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
            </div>
            <div class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Keeps adjusting the visual part of the application to the new browsers and devices on the market.</p>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "logic-2536946563ca4edc24aca71bbc136f46.svg" ,class: "lazy-image card__image loaded", alt:"Backend Developer" %>
              <h2 class="card__title">Backend Developer</h2>
              <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
            </div>
            <div class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Responsible for business logic and calculations in the background and ensuring the technology stack updates do not disrupt them.</p>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "medal-d464de28a6c1911830725b86cfa2b182.svg" ,class: "lazy-image card__image loaded", alt:"QA" %>
              <h2 class="card__title">QA</h2>
              <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
            </div>
            <div class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Ensures high quality of the application and spots any uncertainties early in the development process to avoid bigger and more costly problems and mistakes later on.</p>
            </div>
          </div>
          <div class="card scroll-transition" data-target="page.loadOnScroll cardsWithIcons.card" data-action="click->cardsWithIcons#onCardClickHandler">
            <div class="card__header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <%= image_tag "gear-64b327e5685a53cd6b5586cdefb37344.svg" ,class: "lazy-image card__image loaded", alt:"PM/Scrum Master" %>
              <h2 class="card__title">PM/Scrum Master</h2>
              <%= image_tag "chevron-down-black-b634dd0f74d1683a24b643db9fb3b854 copy.svg",class: "card__chevron", alt:""%>
            </div>
            <div class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Coordinates the whole process, keeping an eye on what’s most important for you and your business.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section scrolled-list scrolled-list-- no-padding" data-target="page.section" data-controller="scrolledList" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
    <div class="section-content">
      <div class="scrolled-list__wrapper">
        <div class="scrolled-list__header">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Proven product workflow</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What does web app development look like?</h2>
          </div>
        </div>
        <div class="list-wrapper" data-target="scrolledList.swipeContainer">
          <ul class="list ">
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>1</p>
                <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Workshops and Ideation</h2>
                <p class="list__item-description">Taking time to polish up the value proposition and understand the user is necessary to ensure a solid foundation of the business concept</p>
              </div>
            </li>
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>2</p>
                <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Product Design</h2>
                <p class="list__item-description">Our designers refine the wireframes and translate the rest of the user stories into a visual interface adopting a user-first approach</p>
              </div>
            </li>
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>3</p>
                <%= image_tag ("dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg") ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Usability Testing</h2>
                <p class="list__item-description">The concept and prototype are tested on suitable personas gathering feedback for UX and UI adjustments</p>
              </div>
            </li>
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>4</p>
                <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Development</h2>
                <p class="list__item-description">We combine test-driven development (TDD) and agile approach to ensure a smooth development process that will quickly react to market needs</p>
              </div>
            </li>
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>5</p>
                <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Maintenance</h2>
                <p class="list__item-description">We always observe the product’s performance - technologies get outdated, security threats need to be mitigated, and your solution has to be ready to face huge numbers of users</p>
              </div>
            </li>
            <li class="list__item scroll-transition" data-target="page.loadOnScroll">
              <div class="list__item-index" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <p>6</p>
                <%= image_tag "dash-line-mobile-gray-ebb0e9312d5ab3513678bb4853acec2a.svg" ,class: "line line--mobile", alt:"" %>
                <%= image_tag "dash-line-gray-a5d0eec59374223d8f8c957b0f1abec0.svg" ,class: "line line--desktop", alt:"" %>
              </div>
              <div class="list__item-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <h2 class="list__item-title">Further Development</h2>
                <p class="list__item-description">Seeing real users interact with the product makes it easier to plan the next steps of business development, prioritize new features and build a long term roadmap</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section technologies no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="technologies__wrapper">
        <div class="technologies__top">
          <div class="custom-header  ">
            <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Optimal technology stack</p>
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Choosing the right web development technology</h2>
          </div>
          <p class="description scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">SDH developers navigate the quickly changing technology industry every day and are ready to dive deep into each product's needs and suggest the correct development tools. We use top technologies to ensure the highest quality of the final product and be adaptable to dynamic changes during the development.</p>
        </div>
        <div class="row">
          <div class="col-xs-24 col-md-13 technology-column">
            <h3 class="technology-column__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web development languages we use:</h3>
            <ul class="technology-column__list scroll-transition" data-target="page.loadOnScroll">
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "ruby-a0d7eca2692018263b1858a847fe0290.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">Ruby (Ruby on Rails)</p>
              </li>
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "javascript-76cc8ba5d2671473c2f2475417c1036f.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">JavaScript (ReactJS, NodeJS, Angular)</p>
              </li>
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "python-f47d2c6b58e2e9a515ecb79399d7321d.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">Python</p>
              </li>
            </ul>
          </div>
          <div class="col-xs-24 col-md-11 technology-column">
            <h3 class="technology-column__title scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Web development tools we use:</h3>
            <ul class="technology-column__list scroll-transition" data-target="page.loadOnScroll">
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "github-09e10609ab1e30e29d93a53fa7c3dfbe.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">GitHub</p>
              </li>
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "visual-studio-code-4686926bd0f93898c42b658595123355.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">Visual Studio Code</p>
              </li>
              <li class="item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <%= image_tag "circleci-bb1dfd323c667da3b9247ac420365e49.svg" ,class: "item__image", alt:"" %>
                <p class="item__text">CircleCI</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section dev-practices no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
    <div class="section-content">
      <div class="dev-practices__wrapper">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Efficiency comes with experience</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Quality ensuring development practices</h2>
        </div>
        <div class="dev-practices__container">
          <ul class="list scroll-transition" data-target="page.loadOnScroll">
            <li class="list__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p><span>Pull Requests</span> are part of the code review stage during the development. They provide more stable code, good communication between developers and seamless, faster testing.</p>
            </li>
            <li class="list__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p><span>Static Code Analysis</span> helps find weaknesses in the code and means analyzing the code without executing it to find bugs as soon as possible.</p>
            </li>
            <li class="list__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom"s>
              <p><span>Automated tests</span> enable higher test coverage, save time and guarantee faster feedback that leads to overall more effective development.</p>
            </li>
            <li class="list__item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p><span>Communication</span> – thanks to the implementation of Scrum methodology and daily meetings, the whole team collaborates through shared understanding during the development, and everyone can react quickly if problems arise.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section white practices no-padding" data-target="page.section" data-theme="monoBaseWhite" data-bgcolor="#000000" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
    <div class="section-content">
      <div class="practices__wrapper">
        <div class="custom-header  ">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Work with the best</p>
          <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">What services should a good web development company provide</h2>
        </div>
        <div class="cards">
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Streamlined, clear design</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">is essential for the user, but also in further development. Good UI and UX practices and the right tools ensure seamless communication between the developers and designers and are the base of every project.</p>
          </div>
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Accessibility standards</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">ensure that the products are designed with an adequate level of accessibility in line with WCAG 2.0 recommendations to prevent discrimination and make the web app open to everyone.</p>
          </div>
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Transparent procedures</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">and ongoing insight into the project’s progress, meaning budget used, time and resources management, should be provided to guarantee successful collaboration and mutual trust between the client and the web development company.</p>
          </div>
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Fast and accurate QA</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">including cross-browser and cross-platform testing, to get maximum user satisfaction no matter the web browser or the device they’re using. High-quality QA is crucial for proper web app development.</p>
          </div>
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">App performance</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">management is necessary to ensure that the app works properly. Cloud apps give a lot of freedom to scale applications horizontally and handle thousands of users and guarantee optimal performance. Cloud infrastructure should be set up by GCP &amp; AWS certified developers experienced with database design and know what it takes to scale them.</p>
          </div>
          <div class="card card--gray scroll-transition" data-target="page.loadOnScroll">
            <h2 class="card__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">App maintenance</h2>
            <p class="card__content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">is crucial for keeping users satisfied, and it’s no secret that bad code is hard to maintain. Therefore code should be well written and well tested, using industries’ best standards and the most popular and battle-tested libraries. Well done maintenance covers new features, updates for new hardware/software, licenses and more.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div data-controller="case_study_rotator" data-target="page.loadOnScroll page.section" data-theme="monoBaseBlack" data-bgcolor="#ffffff" class="scroll-transition" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
    <%# Section here %>
  </div>
  <section class="latest-posts section no-padding" data-controller="latest_posts" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#F7F8FA" style="background-color: rgb(247, 248, 250); color: rgb(0, 0, 0);">
    <div class="latest-posts__container">
      <div class="section-content">
        <div class="latest-posts__header">
          <p class="subheading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Our voice</p>
          <div class="heading-wrapper">
            <h2 class="heading scroll-transition" data-target="page.loadOnScroll" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Latest posts <br> on our Blog</h2>
            <a class="button-desktop" href="/en/blog">
            <span class="text">View more posts</span>
            <%= image_tag "arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg" , alt:"" %>
            </a>
          </div>
        </div>
        <div class="posts" data-target="latest_posts.posts">
          <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/how-accelerators-help-startups">
            <%= image_tag "arrow-right-thin-24e5e16a82b40d670eba6b50eb76d642.svg" , alt:"How Accelerators Help Startups" %>
            <img class="post__image" src="https://files.start-up.house/system/article/image/293/thumb_cover.jpg" alt="How Accelerators Help Startups">
            <div class="post__metadata">
              <p>Startups</p>
              <p>Jan 26, 2023</p>
            </div>
            <h3 class="post__content">
              How Accelerators Help Startups
            </h3>
          </a>
          <a class="post" data-target="page.loadOnScroll" href="/en/blog/articles/value-proposition-canvas">
            <img class="post__image" src="https://files.start-up.house/system/article/image/292/thumb_pexels-christina-morillo-1181481.jpg" alt="Value Proposition Canvas Explained">
            <div class="post__metadata">
              <p>Startups</p>
              <p>Jan 19, 2023</p>
            </div>
            <h3 class="post__content">
              Value Proposition Canvas Explained
            </h3>
          </a>
        </div>
        <a class="button-mobile" href="/en/blog">
        <span class="text">View more posts</span>
         <%= image_tag"arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg", alt: "image" %>
         <%# <img src="/packs/media/images/shared/arrow-right-dark-244ae55b7a7efba856f7fbff4099a083.svg" width="17" height="12" alt=""> %>
        </a>
      </div>
    </div>
  </section>
  <section class="section white cta-section-services no-padding " data-target="page.section" data-theme="monoBaseBlack" data-color="black" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); color: black;">
    <div class="section-content">
      <div class="cta-section-services__wrapper">
        <%= image_tag "main-image-70c85eb9daca22cee0749b8cc3fc534c.svg" , alt:"",class: "image" %>
        <div>
          <h2 class="title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Interested in new ways of reaching your customers?</h2>
          <p class="copy" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Learn more about another service provided by SDH – Mobile Development – and connect with your clients anytime, anywhere. Expand your market as more and more users depend on mobile devices.</p>
          <a class="arrow-button  " href="/en/services/mobile-development" id="" rel="" style="background-color: #000000; color: #ffffff; border-color: transparent" target="" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <span class="arrow arrow--left">
          <span class="shaft" style="background-color: #ffffff"></span>
          </span>
          <span class="main">
          <span class="text">
          Read more
          </span>
          <span class="arrow arrow--right">
          <span class="shaft" style="background-color: #ffffff"></span>
          </span>
          </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  </main>
  <div class="modal" id="modal-1" data-controller="lead_magnet" data-lead_magnet-site-key="8bc25273-3edd-41a2-931b-f899bd498f24" aria-hidden="true" style="visibility: hidden;">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
      <div class="row modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <div class="col-xs-24 col-md-11 last-md modal__contents modal__contents--right">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close="">
            <div class="close-icon">
              <span class="close-icon__dash close-icon__dash--left"></span>
              <span class="close-icon__dash close-icon__dash--right"></span>
            </div>
          </button>
          <picture>
            <%= image_tag "ebook-mockup-9cb4257f96366500c68125886283d4ff.png", alt: "Ebook cover mockup" ,style:"width:416;height:566" %>
            <%# <img style="width:416;height:566" alt="Ebook cover mockup" src="/packs/media/images/lead_magnet/ebook-mockup-9cb4257f96366500c68125886283d4ff.png"> %>
          </picture>
        </div>
        <div class="col-xs-24 col-md-13 modal__contents modal__contents--left" id="modal-1-content">
          <div class="modal__loader" data-target="lead_magnet.modalLoader">
            <div class="loader-5 center"><span></span></div>
          </div>
          <div class="modal__logo hidden-md-down">
           <%= image_tag "logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg",alt:"Startup Development House" %>
            <%# <img data-target="page.headerLogo" alt="Startup Development House" src="/packs/media/images/home/logo-lightbg-4f1a397101dea4defb8d18e275203d56.svg"> %>
          </div>
          <div class="modal__info" data-target="lead_magnet.info">
            <h2 class="modal__title" id="modal-1-title">Get the guidance adjusted to your startups’ needs</h2>
            <p class="modal__description">Download one of our decks to learn more about how we solve startups’ problems - depending on the stage of development and available finances.</p>
          </div>
          <form class="modal__form" data-target="lead_magnet.form">
            <div class="input-wrapper" data-target="lead_magnet.guidebook">
              <label for="modal-form-guidebook" class="sr-only" id="customSelect-pyOKm-label">Select your guidebook</label>
              <div class="custom-select-container customSelect">
                <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-pyOKm-panel" aria-activedescendant="customSelect-pyOKm-selectedOption" aria-labelledby="customSelect-pyOKm-label" tabindex="0" aria-label="Guidebook"><span class="is-disabled">Select your guidebook</span></span>
                <select id="modal-form-guidebook" class="form__input" name="guidebook" placeholder="Role" data-action="" tabindex="-1">
                  <option value="" disabled="" selected="">Select your guidebook</option>
                  <option value="sxsw-early-stage-startup">
                    Pre-seed
                  </option>
                  <option value="sxsw-seed-startup">
                    Seed
                  </option>
                  <option value="sxsw-series-a-scaleup">
                    Series A+
                  </option>
                </select>
                <div id="customSelect-pyOKm-panel" class="custom-select-panel" role="listbox" aria-label="Guidebook">
                  <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-pyOKm-selectedOption" style="display: none;">Select your guidebook</div>
                  <div class="custom-select-option" data-value="sxsw-early-stage-startup" role="option">Pre-seed</div>
                  <div class="custom-select-option" data-value="sxsw-seed-startup" role="option">Seed</div>
                  <div class="custom-select-option" data-value="sxsw-series-a-scaleup" role="option">Series A+</div>
                </div>
              </div>
            </div>
            <div class="input-wrapper" data-target="lead_magnet.name">
              <label for="modal-form-name" class="sr-only">Full Name</label>
              <input id="modal-form-name" class="form__input" name="fullname" type="text" placeholder="Full Name" data-action="blur->lead_magnet#validateTextInputNoMessage">
            </div>
            <div class="row second-row">
              <div class="column input-wrapper col-xs-24 col-md-12" data-target="lead_magnet.role">
                <label for="role" class="sr-only">Role</label>
                <div class="custom-select-container customSelect">
                  <span class="custom-select-opener" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="customSelect-Wnqac-panel" aria-activedescendant="customSelect-Wnqac-selectedOption" tabindex="0" aria-label="Role"><span class="is-disabled">Role</span></span>
                  <select id="modal-form-role" class="form__input" name="role" placeholder="Role" data-action="" tabindex="-1">
                    <option value="" disabled="" selected="">Role</option>
                    <option value="CEO/ Founder">
                      CEO/ Founder
                    </option>
                    <option value="CTO">
                      CTO
                    </option>
                    <option value="Product Owner/ Head of Product">
                      Product Owner/ Head of Product
                    </option>
                    <option value="Developer/ Engineer">
                      Developer/ Engineer
                    </option>
                    <option value="Project Manager">
                      Project Manager
                    </option>
                    <option value="Product Designer">
                      Product Designer
                    </option>
                    <option value="Innovation Manager">
                      Innovation Manager
                    </option>
                    <option value="Other">
                      Other
                    </option>
                  </select>
                  <div id="customSelect-Wnqac-panel" class="custom-select-panel" role="listbox" aria-label="Role">
                    <div class="custom-select-option is-selected has-focus" data-value="" role="option" id="customSelect-Wnqac-selectedOption" style="display: none;">Role</div>
                    <div class="custom-select-option" data-value="CEO/ Founder" role="option">CEO/ Founder</div>
                    <div class="custom-select-option" data-value="CTO" role="option">CTO</div>
                    <div class="custom-select-option" data-value="Product Owner/ Head of Product" role="option">Product Owner/ Head of Product</div>
                    <div class="custom-select-option" data-value="Developer/ Engineer" role="option">Developer/ Engineer</div>
                    <div class="custom-select-option" data-value="Project Manager" role="option">Project Manager</div>
                    <div class="custom-select-option" data-value="Product Designer" role="option">Product Designer</div>
                    <div class="custom-select-option" data-value="Innovation Manager" role="option">Innovation Manager</div>
                    <div class="custom-select-option" data-value="Other" role="option">Other</div>
                  </div>
                </div>
              </div>
              <div class="column input-wrapper col-md-12" data-target="lead_magnet.company">
                <label for="modal-form-company" class="sr-only">Company</label>
                <input id="modal-form-company" class="form__input" name="company" type="text" placeholder="Company" data-action="blur->lead_magnet#validateTextInputNoMessage">
              </div>
            </div>
            <div class="row third-row">
              <div class="column input-wrapper col-xs-24 col-md-14" data-target="lead_magnet.email">
                <label for="modal-form-email" class="sr-only">E-mail</label>
                <input id="modal-form-email" class="form__input" name="email" type="text" placeholder="E-mail" data-action="blur->lead_magnet#validateEmailInputNoMessage">
              </div>
              <div class="column col-xs-24 col-md-10">
                <button class="button icon-button send " type="submit" id="download-ebook-send-button" style="background-color: #0066ff; color: #ffffff" data-action="click->lead_magnet#submit" data-target="lead_magnet.submitButton">
                  <span class="text">
                  Send
                  </span>
                  <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                    <span class="icon">
                    <span class="send-icon"></span>
                    <span class="arrow-right"></span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
            <div class="agreement">
              <div class="agreement__checkbox input-wrapper pretty p-default p-curve p-fill" data-target="lead_magnet.agreement">
                <input id="modal-form-agreement" class="form__input" name="agreement" type="checkbox">
                <div class="state p-primary">
                  <label for="modal-form-agreement">
                  <span>
                  I agree to receive the newsletter and commercial information from Startup Development House
                  <a href="/en/privacy-policy">Read more</a>
                  </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="captcha-row">
              <div class="captcha-container input-wrapper" data-target="lead_magnet.captcha">
                <div id="captcha-lead_magnet"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=checkbox&amp;id=0vgtxrbkuyq&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0vgtxrbkuyq" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0vgtxrbkuyq" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0vgtxrbkuyq" name="h-captcha-response" style="display: none;"></textarea></div>
              </div>
            </div>
            <div class="error-message invisible">
             <%= image_tag "error-87fc2677d45527aac8691f55364a3e36.svg", alt: "" , style:"width:20;height:20" ,class:"error-message-icon"%>
              <%# <img style="width:20;height:20" class="error-message-icon" alt="" src="/packs/media/images/lead_magnet/error-87fc2677d45527aac8691f55364a3e36.svg"> %>
              <span class="error-message-text">
              Please fill all required fields
              </span>
            </div>
          </form>
          <div class="invisible download-section " data-target="lead_magnet.downloadSection">
            <div class="modal__info" data-target="lead_magnet.info">
              <h2 class="modal__title modal__title--download">Thank you for your submission.</h2>
              <p class="modal__description modal__description--download">Please check your email box. Enjoy our guide!</p>
            </div>
            <a class="button icon-button download " type="button" href="" id="download-ebook-button" style="background-color: #0066ff; color: #ffffff" data-target="lead_magnet.downloadButton" download="">
              <span class="text">
              Download guide
              </span>
              <div class="icon-wrapper" style="border-bottom-color: #ffffff">
                <span class="icon">
                <span class="shaft" style="background-color: #ffffff"></span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    _linkedin_partner_id = "458204";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script>
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    // b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
    <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
  </noscript>
  <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
  <noscript>
    <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
  </noscript>
  <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
    <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0vgtxrbkuyq&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
    <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
      <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
      <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
    </div>
  </div>
  <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
  <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><iframe id="_hjSafeContext_84026746" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=a4312ff3-035e-456f-826d-f4897435a704&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=40088e25-dcf6-4b87-be8d-14f75eed2b5f&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fweb-development&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=a4312ff3-035e-456f-826d-f4897435a704&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=40088e25-dcf6-4b87-be8d-14f75eed2b5f&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fservices%2Fweb-development&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"></body>
</html>