<!DOCTYPE html>
<html>
  <head>
    <title>Web3Pandas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div><%= yield %></div>
    <%= render 'layouts/footer' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>


<script>
  AOS.init();
</script>